<template>
    <div class="address">
        <a href="#" class="zinnwaldite float-right" @click.prevent="showDelete(address)">
            <i class="fa fa-close"></i>
        </a>
        <div class="h4 nepal">{{address.name}}</div>
        {{address.first_name}} {{address.last_name}}<br>
        {{address.address}}<br>
        {{address.location.name}}<br>
        tel: {{address.phone}}
        <a href="#" class="zinnwaldite float-right" @click.prevent="showEdit(address)">modifier</a>
    </div>
</template>

<script>
    export default {
        name: 'ClientProfileAddressComponent',
        props: {
            address: {
                type: Object
            },
            showEdit: {
                type: Function
            },
            showDelete: {
                type: Function
            }
        }
    }
</script>
