<template>
    <div>
        <div class="section-header">
            Mon carnet d’adresses
        </div>
        <div class="row">
            <div class="col-6 mb-4"
                 v-for="address in addresses"
                 :key="address.id"
            >
                <address-component
                        :address="address"
                        :showEdit="showEdit"
                        :showDelete="showDelete"
                />
            </div>
        </div>
        <inline-alert-component ref="alert"/>
        <div class="text-right">
            <button @click="showCreate" class="btn btn-nepal btn-fat">
                Ajouter une nouvelle adresse
            </button>
        </div>
        <b-modal
                ref="createModal"
                lazy
                centered
                :title="'Create address'"
                @ok="createAddress"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Adresse nom"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <gender-field v-model.lazy="form.gender"/>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="first_name"
                                placeholder="Nom"
                                v-model.lazy="form.first_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                        />
                        <div v-show="errors.has('first_name')" class="invalid-feedback">
                            {{ errors.first('first_name') }}
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="text"
                                name="last_name"
                                placeholder="Prénom"
                                v-model.lazy="form.last_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                        />
                        <div v-show="errors.has('last_name')" class="invalid-feedback">
                            {{ errors.first('last_name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <masked-input
                                id="phone"
                                name="phone"
                                placeholder="Téléphone"
                                mask="\+\3\3 111 11 11 11"
                                v-model="phoneVal"
                                v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                @input="form.phone = arguments[1]"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                        />
                        <div v-show="errors.has('phone')" class="invalid-feedback">
                            {{ errors.first('phone') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="address"
                                placeholder="Adresse postale"
                                v-model.lazy="form.address"
                                v-validate="'required'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('address')
                            }"
                        />
                        <div v-show="errors.has('address')" class="invalid-feedback">
                            {{ errors.first('address') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <location-field
                                required
                                name="location_id"
                                v-model.lazy="form.location_id"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('location_id')}"
                        />
                        <div v-show="errors.has('location_id')" class="invalid-feedback">
                            {{ errors.first('location_id') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>

        <b-modal
                ref="updateModal"
                lazy
                centered
                :title="'Update address'"
                @ok="updateAddress"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Adresse nom"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <gender-field v-model.lazy="form.gender"/>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="first_name"
                                placeholder="Nom"
                                v-model.lazy="form.first_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                        />
                        <div v-show="errors.has('first_name')" class="invalid-feedback">
                            {{ errors.first('first_name') }}
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="text"
                                name="last_name"
                                placeholder="Prénom"
                                v-model.lazy="form.last_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                        />
                        <div v-show="errors.has('last_name')" class="invalid-feedback">
                            {{ errors.first('last_name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <masked-input
                                id="phone"
                                name="phone"
                                placeholder="Téléphone"
                                mask="\+\3\3 111 11 11 11"
                                v-model="phoneVal"
                                v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                @input="form.phone = arguments[1]"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                        />
                        <div v-show="errors.has('phone')" class="invalid-feedback">
                            {{ errors.first('phone') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="address"
                                placeholder="Adresse postale"
                                v-model.lazy="form.address"
                                v-validate="'required'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('address')
                            }"
                        />
                        <div v-show="errors.has('address')" class="invalid-feedback">
                            {{ errors.first('address') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <location-field
                                required
                                name="location_id"
                                v-model.lazy="form.location_id"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('location_id')}"
                        />
                        <div v-show="errors.has('location_id')" class="invalid-feedback">
                            {{ errors.first('location_id') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteAddress"
        >
            Are you sure you want to delete the "{{form.name}}" address?
        </b-modal>
    </div>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import GenderField from '../../Form/GenderField';
    import AddressComponent from './AddressComponent';
    import LocationField from '../../Form/LocationField';
    import AuthHeaders from '../../../mixins/auth-headers';
    import InlineAlertComponent from '../../InlineAlertComponent';


    export default {
        name: 'ClientProfileAddressesComponent',
        components: {
            MaskedInput,
            GenderField,
            LocationField,
            AddressComponent,
            InlineAlertComponent
        },
        mixins: [AuthHeaders],
        props: {
            value: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                addresses: [],
                form: {},
                emptyForm: {
                    name: '',
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    phone: '',
                    address: '',
                    location_id: null,
                },
                phoneVal: ''
            }
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        methods: {
            link(action) {
                return 'profile.addresses.' + action;
            },
            fetch() {
                this.$http.get(
                    route(this.link('index')),
                    this.AuthHeaders
                ).then((r) => {
                    this.addresses = r.data.data;
                });
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.phoneVal = '';
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};
                this.phoneVal = this.form.phone;
                this.form.location_id = this.form.location;
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form = {...data};
                this.$refs.deleteModal.show();
            },
            createAddress(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route(this.link('store')),
                            this.form,
                            this.AuthHeaders
                        ).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show('Address "' + this.form.name + '" was created');
                            this.fetch();
                        });
                    }
                });
            },
            updateAddress(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route(this.link('update'), this.form.id),
                            this.form,
                            this.AuthHeaders
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show('Address "' + this.form.name + '" was updated');
                            this.fetch();
                        });
                    }
                });
            },
            deleteAddress() {
                this.$http.delete(
                    route(this.link('destroy'), this.form.id),
                    this.AuthHeaders
                ).then(() => {
                    this.$refs.alert.show('Address "' + this.form.name + '" was removed');
                    this.fetch();
                });
            }
        },
        mounted() {
            this.addresses = {...this.value};
        }
    }
</script>
