<template>
    <div class="appointments">
        <h3>Mes rendez-vouz</h3>
        <table class="table">
            <thead>
            <th>Réservation</th>
            <th>Date</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Facture</th>
            <th>Avis</th>
            <th>Action</th>
            </thead>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'AppointmentsComponent'
    }
</script>
