<template>
    <div class="profile-edit">
        <h3>Mon profil</h3>
        <information-component :user="user"/>
        <addresses-component v-model="user.addresses"/>
        <password-update v-model="user.has_password"/>
    </div>
</template>

<script>
    import AddressesComponent from './AddressesComponent';
    import PasswordUpdate from './UpdatePasswordForm.vue';
    import InformationComponent from './ProfileInformation';

    export default {
        name: 'ClientProfile',
        components: {
            PasswordUpdate,
            AddressesComponent,
            InformationComponent,
        },
        props: {
            user: {
                type: Object
            }
        }
    }
</script>
