<template>
  <div class="sponsor-ship-tab">
    <div class="row">
      <div class="col">
        <h6>Parrainage</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md imgs-block d-flex justify-content-center align-items-center">
        <img data-v-735a7f74="" src="../../../../images/bb2.png" class="icon-medium">
        <img data-v-735a7f74="" src="../../../../images/bb1.png" class="icon-small">
      </div>
      <div class="col-md-5">
        <div class="text-block text-center">
          <div class="accent">-5€</div>

          Invitez vos amis à se faire chouchouter
          et profitez d’une réduction de 5€ chacun
          sur votre prochaine commande !
        </div>
      </div>
      <div class="col-md imgs-block d-flex justify-content-center align-items-center">
        <img src="../../../../images/present.png" class="icon-small">
        <img src="../../../../images/bb4.png" class="icon-small">
      </div>
    </div>
    <form class="py-4" @submit="sendInvite">
      <div class="row">
        <div class="col-12 mb-3">
          <strong>Inviter de nouveaux amis</strong>
        </div>
        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email1"
              placeholder="Email de votre ami"
              v-model="inviteForm.email1"
              v-validate="'required|email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email1')
                            }"
          />
          <div v-show="errors.has('email1')" class="invalid-feedback">{{ errors.first('email1') }}</div>
        </div>


        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email2"
              placeholder="Email de votre ami"
              v-model="inviteForm.email2"
              v-validate="'email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email2')
                            }"
          />
          <div v-show="errors.has('email2')" class="invalid-feedback">{{ errors.first('email2') }}</div>
        </div>


        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email3"
              placeholder="Email de votre ami"
              v-model="inviteForm.email3"
              v-validate="'email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email3')
                            }"
          />
          <div v-show="errors.has('email3')" class="invalid-feedback">{{ errors.first('email3') }}</div>
        </div>

        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email4"
              placeholder="Email de votre ami"
              v-model="inviteForm.email4"
              v-validate="'email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email4')
                            }"
          />
          <div v-show="errors.has('email4')" class="invalid-feedback">{{ errors.first('email4') }}</div>
        </div>

        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email5"
              placeholder="Email de votre ami"
              v-model="inviteForm.email5"
              v-validate="'email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email5')
                            }"
          />
          <div v-show="errors.has('email5')" class="invalid-feedback">{{ errors.first('email5') }}</div>
        </div>

        <div class="col-md-6 form-group">
          <input
              type="email"
              name="email6"
              placeholder="Email de votre ami"
              v-model="inviteForm.email6"
              v-validate="'email'"
              :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email6')
                            }"
          />
          <div v-show="errors.has('email6')" class="invalid-feedback">{{ errors.first('email6') }}</div>
        </div>

      </div>
      <div class="row">
        <div class="col-12 text-right">
          <button type="submit" class="btn btn-fat btn-nepal"> Envoyer les invitations</button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-12">
        <data-table v-bind="table"/>
      </div>
    </div>

  </div>
</template>

<script>
  import DataTable from 'vue2-datatable-component';

  export default {
    name: 'SponsorshipComponent',
    components: {
      DataTable
    },
    data() {
      return {
        inviteForm: {
          email1: '',
          email2: '',
          email3: '',
          email4: '',
          email5: '',
          email6: ''
        },
        table: {
          HeaderSettings: false,
          columns: [
            {
              title: 'Adresse du filleul',
              field: 'email',
            },
            {
              title: 'Statut',
              field: 'status',
            },
            {
              title: 'Code promo',
              field: 'code_promo',
            },
            {
              title: 'État',
              field: 'condition',
            }
          ],
          data: [],
          total: 0,
          pageSizeOptions: [15],
          query: {limit: 15, offset: 0, order: '', sort: ''}
        },
      }
    },
    methods: {
      sendInvite() {
        console.log(this.$validator)

        this.$validator.validateAll().then((valid) => {
          if (valid) {
            console.log('send', valid);
            this.sent = true;
          }
        })

      },
    },
    mounted() {

      let dataTable = [
        {
          email: 'exemple@gmail.com',
          status: 'En attente',
          code_promo: '/',
          condition: '/'
        },
        {
          email: 'exemple@gmail.com',
          status: 'Validé',
          code_promo: '745EHG',
          condition: 'À UTILISER'
        },
        {
          email: 'exemple@gmail.com',
          status: 'Validé',
          code_promo: '124DFR',
          condition: 'UTILISÉ'
        },

      ]

      this.table.data = dataTable

      console.log(this.table.data)

    }
  }
</script>