<template>
    <div>
        <div class="section-header">
            Mot de passe
        </div>
        <form @submit.prevent="updatePassword">
            <div class="row">
                <div class="col-md-9">
                    <div class="row form-group" v-if="has_password">
                        <div class="col-md-5">
                            Mot de passe actuel:
                        </div>
                        <div class="col-md-7">
                            <input
                                    type="password"
                                    name="password"
                                    v-model.lazy="password"
                                    v-validate="'required|min:6'"
                                    :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('password')
                                }"
                            />
                            <div v-show="errors.has('password')" class="invalid-feedback">
                                {{ errors.first('password') }}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            Nouveau mot de passe:
                        </div>
                        <div class="col-md-7">
                            <input
                                    type="password"
                                    name="password_new"
                                    v-model.lazy="password_new"
                                    v-validate="'required|min:6'"
                                    :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('password_new')
                                }"
                            />
                            <div v-show="errors.has('password_new')" class="invalid-feedback">
                                {{ errors.first('password_new') }}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5">
                            Confirmer le mot de passe:
                        </div>
                        <div class="col-md-7">
                            <input
                                    type="password"
                                    name="password_new_confirmation"
                                    v-model.lazy="password_new_confirmation"
                                    v-validate="'required|min:6|confirmed:password_new'"
                                    :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('password_new_confirmation')
                                }"
                            />
                            <div v-show="errors.has('password_new_confirmation')" class="invalid-feedback">
                                {{ errors.first('password_new_confirmation') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button class="btn btn-fat btn-nepal" type="submit">Modifier</button>
                </div>
            </div>
        </form>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import AlertComponent from '../../AlertComponent';
    import AuthHeaders from '../../../mixins/auth-headers';

    export default {
        name: 'UpdatePasswordForm',
        components: {
            AlertComponent
        },
        mixins: [AuthHeaders],
        props: {
            value: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                password: '',
                password_new: '',
                password_new_confirmation: '',
                has_password: this.value,
            }
        },
        watch: {
            value(val) {
                this.has_password = val;
            }
        },
        methods: {
            updatePassword() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        let data = {
                            password_new: this.password_new,
                            password_new_confirmation: this.password_new_confirmation
                        };
                        if (this.password) {
                            data['password'] = this.password
                        }
                        this.$http.post(
                            route('password.update'),
                            data,
                            this.AuthHeaders
                        ).then((r) => {
                            this.$refs.alert.show('Your password was updated');
                            this.has_password = true;
                        }).catch((e) => {
                            if (e.response.status === 422) {
                                let errors = e.response.data.errors;
                                Object.keys(errors).map((error) => {
                                    this.$refs.alert.show(errors[error][0], 'danger');
                                });
                            } else {
                                this.$refs.alert.show(
                                    'Oops! Something went wrong. Please, contact us or try again later.',
                                    'danger'
                                );
                            }
                        });
                        this.password = this.password_new = this.password_new_confirmation = '';
                        this.$validator.reset();
                    }
                });
            }
        }
    }
</script>
