<template>
    <div class="row">
        <div class="col-6">
            <h3 class="nepal">Addresses</h3>
        </div>
        <div class="col-6 text-right">
            <button
                    class="btn btn-nepal-glassy"
                    @click="showCreate"
            >
                <i class="fa fa-plus-circle"></i> Create
            </button>
        </div>
        <div v-for="address in addresses" class="address col-12">
            <strong class="nepal">{{address.name}}</strong><br>
            {{address.first_name}} {{address.last_name}}<br>
            {{address.address}}<br>
            {{address.location.name}}<br>
            tel: {{address.phone}}
            <div class="row">
                <div class="col">
                    <button
                            class="btn btn-nepal-glassy"
                            @click="showEdit(address)"
                    >
                        <i class="fa fa-pencil"></i> Edit
                    </button>
                    <button
                            class="btn btn-nepal-glassy del-btn"
                            @click="showDelete(address)"
                    >
                        <i class="fa fa-trash"></i> Delete
                    </button>
                </div>
            </div>
        </div>
        <b-modal
                ref="createModal"
                lazy
                centered
                title="Create address"
                @ok="createRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Adresse nom"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="first_name"
                                placeholder="Nom"
                                v-model.lazy="form.first_name"
                                v-validate="'required|alpha'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('first_name')
                                }"
                        />
                        <div v-show="errors.has('first_name')" class="invalid-feedback">
                            {{ errors.first('first_name') }}
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="text"
                                name="last_name"
                                placeholder="Prénom"
                                v-model.lazy="form.last_name"
                                v-validate="'required|alpha'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('last_name')
                                }"
                        />
                        <div v-show="errors.has('last_name')" class="invalid-feedback">
                            {{ errors.first('last_name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="address"
                                placeholder="Adresse postale"
                                v-model.lazy="form.address"
                                v-validate="'required'"
                                :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('address')
                                                        }"
                        />
                        <div v-show="errors.has('address')" class="invalid-feedback">
                            {{ errors.first('address') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <location-field
                                required
                                name="location_id"
                                v-model.lazy="form.location_id"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('location_id')}"
                        />
                        <div v-show="errors.has('location_id')" class="invalid-feedback">
                            {{ errors.first('location_id') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <masked-input
                                id="phone"
                                name="phone"
                                placeholder="Téléphone"
                                mask="\+\3\3 111 11 11 11"
                                v-model.lazy="phoneVal"
                                v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                @input="form.phone = arguments[1]"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('phone')
                                }"
                        />
                        <div v-show="errors.has('phone')" class="invalid-feedback">
                            {{ errors.first('phone') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="updateModal"
                lazy
                centered
                title="Create address"
                @ok="updateRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Adresse nom"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="first_name"
                                placeholder="Nom"
                                v-model.lazy="form.first_name"
                                v-validate="'required|alpha'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('first_name')
                                }"
                        />
                        <div v-show="errors.has('first_name')" class="invalid-feedback">
                            {{ errors.first('first_name') }}
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="text"
                                name="last_name"
                                placeholder="Prénom"
                                v-model.lazy="form.last_name"
                                v-validate="'required|alpha'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('last_name')
                                }"
                        />
                        <div v-show="errors.has('last_name')" class="invalid-feedback">
                            {{ errors.first('last_name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="address"
                                placeholder="Adresse postale"
                                v-model.lazy="form.address"
                                v-validate="'required'"
                                :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('address')
                                                        }"
                        />
                        <div v-show="errors.has('address')" class="invalid-feedback">
                            {{ errors.first('address') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <location-field
                                required
                                name="location_id"
                                v-model.lazy="form.location_id"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('location_id')}"
                        />
                        <div v-show="errors.has('location_id')" class="invalid-feedback">
                            {{ errors.first('location_id') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <masked-input
                                id="phone"
                                name="phone"
                                placeholder="Téléphone"
                                mask="\+\3\3 111 11 11 11"
                                v-model.lazy="phoneVal"
                                v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                @input="form.phone = arguments[1]"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('phone')
                                }"
                        />
                        <div v-show="errors.has('phone')" class="invalid-feedback">
                            {{ errors.first('phone') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                title="Create address"
                @ok="deleteRow"
        >
            Are you sure you want to delete the address "{{form.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import AlertComponent from '../../../app/js/components/AlertComponent';
    import LocationField from '../../../app/js/components/Form/LocationField';

    export default {
        name: 'AddressesComponent',
        components: {
            MaskedInput,
            LocationField,
            AlertComponent
        },
        data() {
            return {
                addresses: [],
                form: {},
                emptyForm: {
                    id: null,
                    name: '',
                    first_name: '',
                    last_name: '',
                    address: '',
                    location_id: null,
                    phone: '',
                },
                phoneVal: '',
            }
        },
        computed: {
            user() {
                return this.$route.params.id;
            },
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        methods: {
            showCreate() {
                this.form = {...this.emptyForm};
                this.phoneVal = '';
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};
                this.form.location_id = data.location;
                this.phoneVal = this.form.phone.substr(3);
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form = {...this.form, ...data};
                this.$refs.deleteModal.show();
            },
            createRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route('admin.addresses.store', this.user),
                            this.form
                        ).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show('Address ' + this.form.name + ' was created!');
                            this.fetch();
                        });
                    }
                });
            },
            updateRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route('admin.addresses.update', [this.user, this.form.id]),
                            this.form
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show('Address ' + this.form.name + ' was updated!');
                            this.fetch();
                        });
                    }
                });
            },
            deleteRow() {
                this.$http.delete(
                    route('admin.addresses.destroy', [this.user, this.form.id]),
                ).then(() => {
                    this.$refs.alert.show('Address ' + this.form.name + ' was deleted!');
                    this.fetch();
                });
            },
            fetch() {
                this.$http.get(
                    route('admin.addresses.index', this.user)
                ).then((r) => {
                    this.addresses = r.data.data;
                    this.form = {...this.emptyForm};
                })
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>
