<template>
    <div class="row">
        <div class="col-md-12">
            <widget-component class="no-padding no-v-padding">
                <div class="breadcrumbs">
                    <router-link :to="{name: 'dashboard'}">Home</router-link>
                    <router-link
                            v-for="link in links"
                            :to="{name: link.name, params: link.params}"
                            :key="link.title"
                            :class="{disabled: !link.name}"
                    >
                        {{link.title}}
                    </router-link>
                </div>
            </widget-component>
        </div>
    </div>
</template>

<script>
    import WidgetComponent from './WidgetComponent';

    export default {
        name: 'BreadcrumbsComponent',
        components: {WidgetComponent},
        props: {
            links: {
                type: Array,
                default: []
            },
        },
    }
</script>