<template>
    <div>
        <div>
            <button
                    class="btn btn-nepal-glassy"
                    @click="showCreate"
            >
                <i class="fa fa-plus-circle"></i> Create
            </button>
        </div>
        <data-table v-bind="table"/>
        <b-modal
                ref="createModal"
                lazy
                centered
                :title="'Create '+this.type+' item'"
                @ok="createRow"
        >
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="text"
                            name="name"
                            placeholder="Name"
                            v-model.lazy="form.name"
                            v-validate="'required'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('name')
                            }"
                    />
                    <div v-show="errors.has('name')" class="invalid-feedback">
                        {{ errors.first('name') }}
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal
                ref="updateModal"
                lazy
                centered
                :title="'Update '+form.name"
                @ok="updateRow"
        >
            <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    v-model.lazy="form.name"
                    v-validate="'required'"
                    :class="{
                                'form-control': true,
                                'is-invalid': errors.has('name')
                            }"
            />
            <div v-show="errors.has('name')" class="invalid-feedback">
                {{ errors.first('name') }}
            </div>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the "{{form.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import ActionsComponent from './Table/ActionsComponent';
    import TitleSlugComponent from './Table/TitleSlugComponent';
    import AlertComponent from '../../../app/js/components/AlertComponent';

    export default {
        name: 'CategoryList',
        components: {
            DataTable,
            AlertComponent,
            ActionsComponent,
            TitleSlugComponent
        },
        data() {
            return {
                type: '',
                section: '',
                title: '',
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Name',
                            tdComp: TitleSlugComponent,
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    Pagination: false,
                    total: 0,
                    query: {"limit": 10, "offset": 0}
                },
                form: {},
                emptyForm: {
                    id: null,
                    name: '',
                },
            }
        },
        methods: {
            link(page) {
                return 'admin.' + this.section + '.' + this.type + '.' + page;
            },
            fetch() {
                this.$http.get(route(this.link('index')))
                    .then((r) => {
                        this.table.data = r.data.data;
                        this.table.total = r.data.data.length;
                    });
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form.id = data.id;
                this.form.name = data.name;
                this.$refs.deleteModal.show();
            },
            createRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route(this.link('store')),
                            {name: this.form.name}
                        ).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show(this.form.name + ' was created');
                            this.fetch();
                        });
                    }
                });
            },
            updateRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route(this.link('update'), this.form.id),
                            {name: this.form.name}
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show(this.form.name + '  was updated');
                            this.fetch();
                        });
                    }
                });
            },
            deleteRow() {
                this.$http.delete(route(this.link('destroy'), this.form.id))
                    .then(() => {
                        this.fetch();
                        this.$refs.alert.show(this.form.name + '  was deleted');
                    });
            }
        },
        beforeMount() {
            let name = this.$route.name.split('.');
            this.section = name[0];
            this.type = name[1];
            this.title = name[1].ucfitst();
        },
        mounted() {
            this.fetch();
            this.form = {...this.emptyForm};
        }
    }
</script>
