<template>
    <div>
        <form @submit.prevent="saveConditions" v-if="fetched">
            <div class="form-row form-group">
                <div class="col">
                    <editor-field
                            name="text"
                            v-model="form.text"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('text')}"
                    />
                    <div v-show="errors.has('text')" class="invalid-feedback">
                        {{ errors.first('text') }}
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
            </div>
        </form>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import EditorField from './Form/EditorField';
    import AlertComponent from '../../../app/js/components/AlertComponent';

    export default {
        name: 'ConditionsForm',
        components: {
            EditorField,
            AlertComponent
        },
        data() {
            return {
                form: {
                    text: '',
                },
                fetched: false
            }
        },
        computed: {
            type() {
                let type = this.$route.name;
                return type.substring(type.lastIndexOf('.') + 1);
            }
        },
        methods: {
            saveConditions() {
                this.$http.patch(
                    route('admin.conditions.update', this.type),
                    this.form
                ).then(() => {
                    this.$refs.alert.show('Page was updated!');
                });
            }
        },
        mounted() {
            this.$http.get(route('admin.conditions.show', this.type))
                .then((r) => {
                    this.form.text = r.data.data.text;
                    this.fetched = true;
                });
        }
    }
</script>
