<template>
    <header>
        <b-navbar
                toggleable="md"
                type="dark"
                variant="nepal"
        >
            <a
                    href="#"
                    :class="{
                        'menu-icon':true,
                        'i-menu-expanded':toggled,
                        'i-menu-collapsed':!toggled
                    }"
                    @click.prevent="toggled=!toggled"
            ></a>
            <b-navbar-brand href="/">
                <img src="../../images/logo-small.png">
            </b-navbar-brand>
        </b-navbar>
    </header>
</template>

<script>
    export default {
        name: 'TheNavbar',
        props: {
            value: {
                type: Boolean
            },
        },
        data() {
            return {
                toggled: true
            }
        },
        watch: {
            value(val) {
                this.toggled = val;
            },
            toggled(val) {
                this.$emit('input', val);
            }
        }
    }
</script>
