<template>
    <aside class="sidebar">
        <ul class="sidebar-menu">
            <li v-for="item in menuItems" :key="item.title">
                <router-link
                        :to="{name:item.name}"
                        :class="{
                            'sidebar-link':true,
                            'active-link': item.name===$route.name
                        }"
                        @click="toggleMenuItem(item)"
                        v-if="item.name"
                >
                    <i
                            class="item-icon fa fa-fw"
                            :class="'fa-'+item.icon"
                    ></i>
                    {{item.title}}
                </router-link>
                <a
                        href="#"
                        class="sidebar-link"
                        :class="{expanded: expanded(item)}"
                        @click.prevent="toggleMenuItem(item)"
                        v-else
                >
                    <i
                            class="item-icon fa fa-fw"
                            :class="'fa-'+item.icon"
                    ></i>
                    {{item.title}}
                </a>
                <bulma-expanding>
                    <ul class="sidebar-submenu in" v-show="expanded(item)">
                        <li v-for="childItem in item.children" :key="childItem.name">
                            <router-link
                                    :class="{
                                        'sidebar-link':true,
                                        'sidebar-submenu-link':true,
                                        'active-link': childItem.name===$route.name
                                    }"
                                    :to="{name: childItem.name}"
                            >
                                <i
                                        class="item-icon fa fa-fw"
                                        :class="'fa-'+childItem.icon"
                                ></i>
                                {{childItem.title}}
                            </router-link>
                        </li>
                    </ul>
                </bulma-expanding>
            </li>
            <li>
                <a class="sidebar-link" @click="deauthorize(true, true)">
                    <i class="item-icon fa fa-fw fa-sign-out"></i>
                    Logout
                </a>
            </li>
        </ul>
    </aside>
</template>

<script>
    import BulmaExpanding from 'vue-bulma-expanding';
    import AuthMixin from '../../../app/js/mixins/auth';

    export default {
        name: 'TheSidebar',
        components: {BulmaExpanding},
        mixins: [AuthMixin],
        data() {
            return {
                menuItems: [
                    {
                        title: 'Dashboard',
                        name: 'dashboard',
                        icon: 'dashboard',
                        expanded: false,
                    },
                    {
                        title: 'Services',
                        name: null,
                        icon: 'scissors',
                        expanded: false,
                        children: [
                            {
                                title: 'Services',
                                name: 'services',
                            },
                            {
                                title: 'Categories',
                                name: 'services.categories',
                            },
                        ],
                    },
                    {
                        title: 'Workshops',
                        name: 'workshops',
                        icon: 'id-badge',
                        expanded: false,
                    },
                    {
                        title: 'Users',
                        name: null,
                        icon: 'user',
                        expanded: false,
                        children: [
                            {
                                title: 'Clients',
                                name: 'clients',
                            },
                            {
                                title: 'Providers',
                                name: 'providers',
                            },
                            {
                                title: 'Administrators',
                                name: 'admins',
                            },
                        ],
                    },
                    {
                        title: 'Locations',
                        name: null,
                        icon: 'street-view',
                        expanded: false,
                        children: [
                            {
                                title: 'Locations',
                                name: 'locations',
                            },
                            {
                                title: 'Departments',
                                name: 'locations.departments',
                            },
                        ],
                    },
                    {
                        title: 'News',
                        name: null,
                        icon: 'newspaper-o',
                        expanded: false,
                        children: [
                            {
                                title: 'News',
                                name: 'news',
                            },
                            {
                                title: 'Categories',
                                name: 'news.categories',
                            },
                            {
                                title: 'Tags',
                                name: 'news.tags',
                            },
                        ],
                    },
                    {
                        title: 'Discounts',
                        name: null,
                        icon: 'percent',
                        expanded: false,
                        children:[
                            {
                                title: 'Holidays',
                                name: 'holidays',
                            },
                            {
                                title: 'Codes promotionnels',
                                name: 'promo',
                            }
                        ]
                    },
                    {
                        title: 'Questions',
                        name: null,
                        icon: 'question-circle',
                        expanded: false,
                        children: [
                            {
                                title: 'Questions',
                                name: 'questions',
                            },
                            {
                                title: 'Categories',
                                name: 'questions.categories',
                            },
                        ],
                    },
                    {
                        title: 'Feedbacks',
                        name: 'feedbacks',
                        icon: 'envelope',
                        expanded: false,
                    },
                    {
                        title: 'Conditions',
                        name: null,
                        icon: 'list-alt',
                        expanded: false,
                        children: [
                            {
                                title: 'General',
                                name: 'conditions.general',
                            },
                            {
                                title: 'Provider',
                                name: 'conditions.provider',
                            },
                            {
                                title: 'Client',
                                name: 'conditions.client',
                            },
                        ],
                    },
                ],
            };
        },
        methods: {
            toggleMenuItem(item) {
                this.menuItems.forEach(function (menuItem) {
                    if (item === menuItem) {
                        item.expanded = !item.expanded;
                    } else {
                        menuItem.expanded = false;
                    }
                });
            },
            expanded(item) {
                return item.expanded && !item.name;
            },
        },
    };
</script>
