<template>
    <div class="widget" :class="{'no-header': !headerText}">
        <div class="widget-header" v-if="headerText">{{headerText}}</div>
        <div class="widget-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'WidgetComponent',

        props: ['headerText']
    }
</script>