<template>
    <section class="container">
        <div class="container">
            <div class="row breadcrumbs">
                <a class="col-4 active">Sélection</a>
                <a class="col-4 ">Informations</a>
                <a class="col-4 ">Confirmation</a>

            </div>
            <hr class="hr-text" data-content="Votre sélection">
        </div>
        <div class="row" id="products-list">
            <form class="product-item col-12" ref="product" v-for="( product, index ) of services">
                <a class="close" @click="deleteProduct(index)">

                </a>
                <div class="top-block">
                    <div class="title-prod">{{product.name}}</div>
                    <div class="data-prod">
                        <div class="time mr-3">
                            <i class="sprite sprite-clock-c mr-1"></i>
                            {{product.duration}} min.
                        </div>
                        <div class="price">
                            <i class="sprite sprite-pig-c mr-1"></i>
                            {{product.price}} €

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md img-prod pr-md-0 pr-3">
                        <img :src="product.image" alt="">
                    </div>
                    <div class="col-md-5">
                        <div class="description-block">
                            <div class="title-block">Détails</div>
                            <div class="description">
                                {{product.details}}
                            </div>
                        </div>
                        <div class="description-block">
                            <div class="title-block">
                                Préparation
                            </div>
                            <div class="description">
                                {{product.preparation}}
                            </div>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="prank-block">
                            <div class="title-prank">Astuce</div>
                            <div class="description">{{product.trick}}</div>
                        </div>
                    </div>

                </div>
               <!-- <div class="control-panel">
                    <div class="row">
                        <a class="col-md-4 ">
                            <input
                                    :id="'moment-'+index"
                                    v-model="chooseProducts[index].moment"
                                    type="checkbox"
                                    :name="'moment-'+index"
                                    class="input-moment"
                                    hidden>
                            <label :for="'moment-'+index"
                                   :class="{ 'item-panel':1 , 'moment': 1, 'check': chooseProducts[index].moment}">
                                <i class="sprite sprite-thunder mr-4"></i>
                                <span class="desc">
                                    Se faire chouchouter
                                    <br>
                                    <b class="text-uppercase">MAINTENANT !</b>
                                </span>

                            </label>
                        </a>
                        <div class="col-md-4">
                            <a v-b-modal="'myModal'+index" class=" data-time item-panel">
                                <i class="sprite sprite-clockcalendar  mr-4"></i>
                                <span class="desc">
                                    Se faire chouchouter
                                    <b class="text-uppercase">PLUS TARD</b>
                                    <span>{{chooseProducts[index].date | filterDate('DD/MM/YYYY HH:mm')}}</span>
                                    <input
                                            hidden
                                            type="text"
                                            :name="'date-'+index"
                                            v-model="chooseProducts[index].date">
                                </span>
                            </a>

                            <b-modal :id="'myModal'+index"
                                     :ref="'datapiper-'+index"
                                     size=""
                                     class="datapicker-modal"
                                     lazy
                                     centered
                                     hide-header
                                     hide-footer
                                     @shown="eventShowModal">
                                <date-picker
                                        :id="'datapiper-'+index"
                                        v-model="datePickers[index]"
                                        type="datetime"
                                        format="yyyy-MM-dd HH:mm"
                                        :first-day-of-week="1"
                                        :time-picker-options="{start: '00:00',step: '00:30',end: '23:30'}"
                                        lang="fr"
                                        confirm
                                        @confirm="confirmDate('datapiper-'+index, index)"
                                ></date-picker>
                            </b-modal>


                        </div>

                        <div class="col-md-4 present ">
                            <i class="sprite sprite-present"></i>
                            <br>
                            <div class="custom-control custom-checkbox custom-control-inline">
                                <input
                                        v-model="chooseProducts[index].present"
                                        :id="'present-'+index"
                                        :name="'present-'+product.id"
                                        type="checkbox"
                                        class="custom-control-input"
                                >
                                <label :for="'present-'+index" class="custom-control-label">Ce forfait est un
                                    cadeau</label>
                            </div>
                            <br>
                            <router-link class="learn_more" :to="{ name: 'conditions' }">
                                en savoir plus
                            </router-link>
                        </div>
                    </div>
                </div>-->
            </form>

            <div class="btn-prod-block col-12 p-md-0 p-4 text-right">
                <router-link class="btn btn-nepal" :to="{ name: 'services' }">AJOUTER UN FORFAIT</router-link>
                <p>
                    Ajoutez un nouveau forfait
                    <br>
                    et profitez d’une réduction !
                    <br>
                    <router-link class="learn_more" :to="{ name: 'conditions' }">
                        en savoir plus
                    </router-link>
                </p>
            </div>

            <b-modal ref="alertModal" title="Warning" ok-only>
                <p class="my-4">{{alertText}}</p>
            </b-modal>
        </div>
    </section>
</template>

<script>

    import moment from 'moment'
    import filterDate from '../../mixins/filterDate'

    export default {
        name: "ProductList",
        props: ['services', 'cookieAlert', 'highlightDays'],
        mixins: [filterDate],
        components: {},
        data() {
            return {
                //datePickers: {},
                chooseProducts: [],
                alertText: '',
                //oldPrice: [],
            }
        },
        watch: {
            datePickers: {
                handler: function (val, oldVal) {
                    for (let date in val) {
                        this.chooseProducts[date].date = val[date]
                        this.chooseProducts[date].moment = false
                    }
                },
                deep: true,
            },
            chooseProducts: {
                handler: function (val, oldVal) {
                    let index = 0;
                    for (let el of val) {
                        index++;
                        if (el.moment) {
                            el.date = ''
                        }
                    }
                },
                deep: true,
            }
        },
        computed: {},
        /*beforeCreated() {
            for (let service of this.services) {
                this.datePickers[service.id] = '';
            }
        },*/
        created() {

            let index = 0;
            for (let service of this.services) {
                index++;
               /*let simpleProd = {};
               simpleProd['id'] = service.id;
               simpleProd['moment'] = true;
               simpleProd['date'] = undefined;
               simpleProd['present'] = undefined;*/
                this.chooseProducts.push(service.id);
            }


        },
        mounted() {
            for (let key in this.services) {
                this.services[key].priceWithoutIncrease = this.services[key].price;
            }
            //console.log(this.services)



        },
        methods: {
            deleteProduct(index) {
                this.services.splice(index, 1);
                this.chooseProducts.splice(index, 1);
                let services = JSON.stringify(this.services);
                this.$cookie.set('services', services);

            },
            showModal() {
                this.$refs.ServiceModal.show()
            },
           /* confirmDate(el, indx) {
                this.$refs[el][0].hide();


                if(this.oldPrice[indx] == undefined){
                    this.oldPrice[indx] = this.services[indx].price;
                }
                if (_.includes(this.highlightDays, moment(this.datePickers[indx]).format('DD.MM.YYYY')) || moment(this.datePickers[indx]).day() == 0) {
                    // if choosen day includ in holidays or Sunday => price increases by 25%
                    this.services[indx].price = this.oldPrice[indx] * 1.25;
                    this.services[indx].increase = true;

                } else {
                    if(this.services[indx].increase){
                        this.services[indx].price = this.oldPrice[indx];
                        this.services[indx].increase = false;
                    }
                }


            },
            eventShowModal() {
                let el = this.$el,
                    days = this.highlightDays;

                function highlight(highlightDays, el) {
                    el.querySelectorAll(`.mx-calendar-table tbody tr .holiday`).forEach(function (elem) {
                        elem.classList.remove("holiday");
                    })
                    for (let day of highlightDays) {
                        if (el.querySelector(`.mx-calendar-table tbody tr td[title="${day}"]`) != null) {
                            el.querySelector(`.datapicker-modal tbody tr td[title="${day}"]`).classList.add('holiday');
                        }
                    }
                }

                highlight(days, el);
                document.querySelector('.mx-calendar-header').addEventListener('click', function (e) {
                    setTimeout(highlight, 100, days, el);
                })
            }*/


        }


    }
</script>
