<template>
    <div class='credit-card-inputs row' :class='{ complete }'>
        <div class="col-md-8 m-auto d-flex">
            <card-number class='stripe-element card-number col-md-8'
                         ref='cardNumber'
                         :stripe='stripe'
                         :options='options'
                         @change='number = $event.complete'
            />

            <card-expiry class='stripe-element card-expiry col-md-2 col-6'
                         ref='cardExpiry'
                         :stripe='stripe'
                         :options='options'
                         @change='expiry = $event.complete'
            />
            <card-cvc class='stripe-element card-cvc col-md-2 col-6'
                      ref='cardCvc'
                      :stripe='stripe'
                      :options='options'
                      @change='cvc = $event.complete'
            />



        </div>
        <div class="w-100"></div>
        <button class='pay-with-stripe' @click='pay' :disabled='!complete'>Pay with credit card</button>

    </div>
</template>

<script>
    import {CardNumber, CardExpiry, CardCvc, createToken} from 'vue-stripe-elements-plus'

    export default {
        props: ['stripe',],
        data() {
            return {
                complete: false,
                number: false,
                expiry: false,
                cvc: false,
                options: {

                }
            }
        },
        components: {CardNumber, CardExpiry, CardCvc},
        methods: {
            pay() {
                // createToken returns a Promise which resolves in a result object with
                // either a token or an error key.
                // See https://stripe.com/docs/api#tokens for the token object.
                // See https://stripe.com/docs/api#errors for the error object.
                // More general https://stripe.com/docs/stripe.js#stripe-create-token.

                createToken().then((data) => {
                    this.$emit('createtoken',  data.token);
                })

            },
            update() {
                this.complete = this.number && this.expiry && this.cvc

                // field completed, find field to focus next
                if (this.number) {
                    if (!this.expiry) {
                        this.$refs.cardExpiry.focus()
                    } else if (!this.cvc) {
                        this.$refs.cardCvc.focus()
                    }
                } else if (this.expiry) {
                    if (!this.cvc) {
                        this.$refs.cardCvc.focus()
                    } else if (!this.number) {
                        this.$refs.cardNumber.focus()
                    }
                }
                // no focus magic for the CVC field as it gets complete with three
                // numbers, but can also have four
            }
        },
        watch: {
            number() {
                this.update()
            },
            expiry() {
                this.update()
            },
            cvc() {
                this.update()
            }
        }
    }
</script>

<style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
    .StripeElement {
        background-color: white;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid #8dafb8;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #8dafb8;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
