<template>
  <section class="container total-block">

    <div class="control-panel">
      <div class="row">
        <a class="col-md-4 mb-3">
          <input
              id="moment"
              v-model="moment"
              type="checkbox"
              name="moment"
              class="input-moment"
              hidden>
          <label for="moment"
                 :class="['item-panel', 'moment', { 'check': moment} ]">
            <i class="sprite sprite-thunder mr-4"></i>
            <span class="desc">
                            Se faire chouchouter
                            <br>
                            <b class="text-uppercase">MAINTENANT !</b>
                        </span>

          </label>
        </a>
        <div class="col-md-4 mb-3">
          <a v-b-modal.myModal
             class=" data-time item-panel"
             :class="[ { 'check': date} ]"
          >
            <i class="sprite sprite-clockcalendar  mr-4"></i>
            <span class="desc">
                                    Se faire chouchouter
                                    <b class="text-uppercase">PLUS TARD</b>
                                    <span>{{date | filterDate('DD/MM/YYYY HH:mm')}}</span>
                                    <input
                                        hidden
                                        type="text"
                                        name="date"
                                        v-model="date">
                                </span>
          </a>

          <b-modal id="myModal"
                   :ref="'datapiper'"
                   size=""
                   class="datapicker-modal"
                   lazy
                   centered
                   hide-header
                   hide-footer
                   @shown="eventShowModal">
            <date-picker
                id="datapiper"
                v-model="date"
                type="datetime"
                format="yyyy-MM-dd HH:mm"
                :first-day-of-week="1"
                :time-picker-options="{start: '00:00',step: '00:30',end: '23:30'}"
                lang="fr"
                confirm
                @confirm="confirmDate('datapiper')"
            ></date-picker>
          </b-modal>


        </div>
        <div class="col-md-4 mb-3 present ">
          <i class="sprite sprite-present"></i>
          <br>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input
                v-model="present"
                id="present"
                name="present"
                type="checkbox"
                class="custom-control-input"
            >
            <label for="present" class="custom-control-label">Ce forfait est un cadeau</label>
          </div>
          <br>
          <router-link class="learn_more" :to="{ name: 'conditions' }">
            en savoir plus
          </router-link>
        </div>
        <div class="col-12">

          <div class="info-block-options">


            <div class="text-center border-top-nepal pb-4" v-show="moment">
              <h5 class="title mt-3 mb-5">
                Réservation immédiate : comment ça marche ?
              </h5>
              <img src="../../../images/maintenant.png" alt="">

            </div>
            <div class="text-center border-top-nepal pb-4" v-show="date">
              <h5 class="title mt-3 mb-5">
                Réservation : comment ça marche ?
              </h5>
              <img src="../../../images/PLUS_TARD.png" alt="">

            </div>
            <div class="" v-show="present">
              <h5 class="title text-center"> Qui voulez-vous chouchouter ?</h5>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-row form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Nom"
                        name="name">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-row form-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Prénom"
                        name="first_name"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-row form-group">
                    <input
                        class="form-control"
                        type="email"
                        placeholder="Email"
                        name="email"
                    >
                  </div>
                </div>
              </div>
              <div class="form-row form-group">

              </div>

            </div>


          </div>


          <div class="form-row form-group">

            <label for="message" class="color-nepal">Votre message personnalisé</label>
            <textarea id="message"
                      v-model="message"
                      name="message"
                      :placeholder=" present ? `Ajoutez un message à votre cadeau !` :`Votre message`"
                      maxlength="150"
                      rows="4" wrap="soft"
                      class="form-control"
            ></textarea>
          </div>
          <p v-show="present">
            Une fois votre commande validée, l’heureux élu recevra son bon cadeau par mail à l’adresse indiquée.
          </p>
        </div>
      </div>
    </div>


    <div class="title-block color-nepal mb-1">
      Annuler ou modifier ma réservation :
      <router-link class="color-nepal" :to="{ name: 'services' }">comment ça marche ?</router-link>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div>
          <i class="sprite sprite-lock"></i>
          Paiement sécurisé
        </div>
        <div class="cart-images">
          <img src="../../../images/cart1.png" alt="">
          <img src="../../../images/cart2.png" alt="">
        </div>
      </div>
      <div class="col-md-7 text-right">

        <div class="total-prise">
          <span class="mr-5">TOTAL</span>
          <span class="count-price">
                        {{ totalPrice | currency(' €', 2, { symbolOnLeft: false, decimalSeparator: ','})}}
                        <span v-if="holidayMarkup"
                              v-b-tooltip.hover
                              title="jour de repos / vacances +25% au prix"
                              class="price-info">
                                 <i class="fa fa-info-circle"></i>
                            </span>
                    </span>

          <template v-if="discountCalcServices">
            <div class="discount-multiple-package">
              <span class="mr-5">réduction plusieurs forfait</span>
              - {{ discountCalcServices | currency(' €', 2, { symbolOnLeft: false, decimalSeparator: ','})
              }}
            </div>
          </template>
        </div>

        <form class="promocode-block mb-2" v-on:submit.prevent="verificationCode" ref="verFormCode">
          <label for="promocode">Avez-vous un code promo ou parrainage ?</label>
          <input type="text"
                 name="promocode"
                 placeholder="code promo"
                 id="promocode"
                 v-model="code"
                 v-validate="'required'"
                 :class="{
                                'form-control': true ,
                                'is-invalid': errors.has('promocode')
                                }">


          <button class="btn btn-nepal text-uppercase">
            vérifier
          </button>
        </form>
        <div :class="[ statusVerifireCode ? 'success' : 'error']">
          <p>{{ messageVerification }}</p>
        </div>
        <template v-if="discountPromoCode">

          <p class="sum-promo"><span class="mr-4"></span>réduction code promo/parrainage
            - {{ discountPromoCode | currency(' €', 2, { symbolOnLeft: false, decimalSeparator: ','})}}
          </p>
        </template>

        <div>{{ errors.first('promocode') }}</div>
      </div>

    </div>
    <template v-if="newTotal">
      <div class="row discount-clock">
        <div class="col text-right">
          <div class="total-with-discount">
            <span class="mr-4">NOUVEAU TOTAL </span>
            <span class="count-price">
                            {{ newTotal | currency(' €', 2, { symbolOnLeft: false, decimalSeparator: ','})}}
                        </span>

          </div>
        </div>
      </div>
    </template>

  </section>
</template>

<script>
  import AuthMixin from '../../mixins/auth';
  import filterDate from '../../mixins/filterDate'

  export default {
    name: "TotalPrice",
    mixins: [AuthMixin, filterDate],
    props: ['services', 'discounts', 'highlightDays'],
    data() {
      return {
        code: undefined,
        messageVerification: '',
        totalPrice: 0,
        oldTotalPrice: 0,
        discountCalcServices: 0,
        discountPromoCode: 0,
        statusVerifireCode: false,
        newTotal: 0,


        moment: true,
        date: null,
        datePickers: null,
        present: false,
        markup: false,
        holidayMarkup: 0,
        message: '',


      }
    },
    computed: {},
    watch: {
      services: {
        handler() {
          this.sumTotalPrice();
          this.sumDiscountCalcServices();
          this.checkPromoCode();
          this.countNewTotal();

        }, deep: true
      },
      moment: {
        handler(val, oldVal) {
          console.log('val', val);
          console.log('oldVal', oldVal)
          if (val) {
            //this.holidayMarkup = 0;
            this.date = null;
            this.present = false;
            this.countNewTotal();
          }
        }
      },
      present: {
        handler(val, oldVal) {
          if (val) {
            //this.holidayMarkup = 0;
            this.date = null;
            this.moment = false;
            this.countNewTotal();
          }
        }
      }

    },
    created() {
      this.sumTotalPrice();
      this.sumDiscountCalcServices();
      this.checkPromoCode();
      this.countNewTotal();

    },
    methods: {
      sumTotalPrice() {
        this.totalPrice = 0;
        for (let item of this.services) {
          this.totalPrice = this.totalPrice + item.price
        }
      },
      sumDiscountCalcServices() {
        let percentDisccount = 0;
        console.log(this.discounts);


        for (let item of this.discounts) {

          if (item.count == this.services.length) {
            percentDisccount = item.percent
          }
        }
        this.discountCalcServices = this.totalPrice / 100 * percentDisccount;
      },
      checkPromoCode() {

        if (this.$cookie.get('promo') != null) {
          //console.log(JSON.parse(this.$cookie.get('promo')))

          let discountPromo = JSON.parse(this.$cookie.get('promo'))

          this.discountCalcServices = 0;
          this.discountPromoCode = this.totalPrice / 100 * discountPromo.discount;

        }
        this.countNewTotal();

      },
      verificationCode() {
        this.$validator.validate().then(result => {
          if (result) {
            axios({
              method: 'GET',
              url: `/api/checkout/verify?promo=${this.code}`,
            }).then((r) => {
              if (r.data.status) {
                this.$cookie.set('promo', JSON.stringify({
                  code: this.code,
                  discount: +r.data.discount
                }));
                this.messageVerification = 'Votre code a bien été pris en compte.';
              } else {
                this.messageVerification = 'Ce code n’est pas valide.'
              }
              this.statusVerifireCode = r.data.status;
              this.checkPromoCode()
            })


          }
        });
      },

      countNewTotal() {
        this.newTotal = 0;

        if (this.discountPromoCode > 0) {
          this.newTotal = this.totalPrice - this.discountPromoCode
        } else {
          this.newTotal = this.totalPrice - this.discountCalcServices
        }


      },

      countHolidayMarkup() {
        this.holidayMarkup = 0;
        this.moment = false;
        this.present = false;

        if (_.includes(this.highlightDays, moment(this.date).format('DD.MM.YYYY'))) {
          // if choosen day includ in holidays or Sunday => price increases by 25%
          this.holidayMarkup = this.totalPrice * 1.25;
          this.markup = true;
          this.totalPrice = this.holidayMarkup
          this.countNewTotal()
        } else {
          this.holidayMarkup = 0;
          this.markup = false;
          this.sumTotalPrice();
          this.countNewTotal()
        }


      },
      confirmDate(el, indx) {
        this.$refs[el].hide();
        this.countHolidayMarkup();
      },
      eventShowModal() {
        let el = this.$el,
          days = this.highlightDays;

        function highlight(highlightDays, el) {
          el.querySelectorAll(`.mx-calendar-table tbody tr .holiday`).forEach(function (elem) {
            elem.classList.remove("holiday");
          })
          for (let day of highlightDays) {
            if (el.querySelector(`.mx-calendar-table tbody tr td[title="${day}"]`) != null) {
              el.querySelector(`.datapicker-modal tbody tr td[title="${day}"]`).classList.add('holiday');
            }
          }
        }

        highlight(days, el);
        document.querySelector('.mx-calendar-header').addEventListener('click', function (e) {
          setTimeout(highlight, 100, days, el);
        })
      }

    }
  }
</script>

