<template>
    <div>
        <the-navbar></the-navbar>
        <router-view></router-view>
        <the-footer></the-footer>
    </div>
</template>

<script>
    import TheNavbar from './components/TheNavbar.vue';
    import TheFooter from './components/TheFooter.vue';

    export default {
        components: {TheNavbar, TheFooter},
        name: 'App'
    }
</script>
