<template>
    <div class="departments">
        <label>
            Dans quel(s) département(s) souhaitez-vous travailler?
        </label>
        <div class="form-control">
            <div
                    v-for="department in available"
                    :key="department.id"
                    :class="{active:isSelected(department.id)}"
                    @click="select(department.id)"
            >
                {{department.name}}
            </div>
        </div>
        <v-select
                multiple
                label="name"
                placeholder="Autre"
                :options="unavailable"
                v-model="selectedU"
        >
            <span slot="no-options">Désolé, aucun emplacement correspondant.</span>
        </v-select>
    </div>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: 'DepartmentsField',
        components: {vSelect},
        data() {
            return {
                available: [],
                unavailable: [],
                selectedU: [],
                selectedA: [],
            }
        },
        computed: {
            selected() {
                let selectedU = this.selectedU.map(obj => obj.id);
                return this.selectedA.concat(selectedU);
            }
        },
        watch: {
            selected(val) {
                this.$emit('input', val);
            }
        },
        methods: {
            select(id) {
                if (this.isSelected(id)) {
                    this.selectedA = this.selectedA.filter((value) => {
                        return value !== id;
                    });
                } else {
                    this.selectedA.push(id);
                }
            },
            isSelected(id) {
                return this.selectedA.includes(id);
            }
        },
        mounted() {
            this.$http.get(route('location.departments'))
                .then((r) => {
                    this.available = r.data.data.available;
                    this.unavailable = r.data.data.unavailable;
                })
        }
    }
</script>
