<template>
    <div>
        Civilité:
        <div class="custom-control custom-checkbox custom-control-inline">
            <input
                    :id="key+'-female'"
                    :name="key+'gender'"
                    type="radio"
                    class="custom-control-input"
                    required
                    v-model="val"
                    :value="'female'"
            >
            <label class="custom-control-label" :for="key+'-female'">Madame</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input
                    :id="key+'-male'"
                    :name="key+'gender'"
                    type="radio"
                    class="custom-control-input"
                    required
                    v-model="val"
                    :value="'male'"
            >
            <label class="custom-control-label" :for="key+'-male'">Monsieur</label>
        </div>
    </div>
</template>

<script>
    import uniqid from 'uniqid';

    export default {
        name: 'GenderField',
        props: {
            value: {
                type: String,
                default: 'female'
            },
        },
        data() {
            return {
                key: uniqid(),
                val: ''
            }
        },
        watch: {
            val(val) {
                this.$emit('input', val)
            },
            value(val) {
                this.val = val;
            }
        },
        mounted() {
            this.val = this.value;
        }
    }
</script>
