<template>
    <v-select
            v-model="selected"
            :options="locations"
            :on-search="search"
            :on-change="changeLocation"
            placeholder="Code Postal / Ville"
            label="name"
    >
        <span slot="no-options">Désolé, aucun emplacement correspondant.</span>
    </v-select>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: 'LocationField',
        components: {vSelect},
        props: {
            value: {
                type: [Number, Object]
            },
        },
        data() {
            return {
                locations: [],
                selected: null
            }
        },
        watch: {
            value(val) {
                this.setSelected(val);
            }
        },
        methods: {
            search(search, loading) {
                loading(true);
                this.getLocations(search, loading, this)
            },
            getLocations: _.debounce((search, loading, vm) => {
                loading(true);
                vm.$http.get(route('location', search))
                    .then((r) => {
                        vm.locations = r.data.data;
                        loading(false);
                    });
            }, 500),
            changeLocation(val) {
                if (val == null) {
                    this.$emit('input', null)
                } else {
                    this.$emit('input', val.id)
                }
            },
            setSelected(val) {
                if (!this.selected && typeof val === 'object') {
                    this.selected = val;
                }
            }
        },
        mounted() {
            this.setSelected(this.value);
        }
    }
</script>
