<template>
    <div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input
                    name="type"
                    type="radio"
                    class="custom-control-input"
                    id="client"
                    v-model="val"
                    :value="'client'"
            >
            <label class="custom-control-label" for="client">Je suis un client</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input
                    name="type"
                    type="radio"
                    class="custom-control-input"
                    id="coiffeu"
                    v-model="val"
                    :value="'coiffeu'"
            >
            <label class="custom-control-label" for="coiffeu">Je suis un coiffeu</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input
                    name="type"
                    type="radio"
                    class="custom-control-input"
                    id="autre"
                    v-model="val"
                    :value="'autre'"
            >
            <label class="custom-control-label" for="autre">Autre</label>
        </div>
    </div>
</template>

<script>
    import uniqid from 'uniqid';

    export default {
        name: 'TypeField',
        props: {
            value: {
                type: String,
                default: 'autre'
            },
        },
        data() {
            return {
                key: uniqid(),
                val: ''
            }
        },
        watch: {
            val(val) {
                this.$emit('input', val)
            },
            value(val) {
                this.val = val;
            }
        },
        mounted() {
            this.val = this.value;
        }
    }
</script>
