<template>
    <b-alert
            class="alert-fixed"
            :show="countDown"
            dismissible
            :variant="variant"
            @dismissed="countDown=0"
            @dismiss-count-down="countDownChanged"
    >
        {{text}}
    </b-alert>
</template>

<script>
    export default {
        data() {
            return {
                countDown: 0,
                secs: 10,
                variant: '',
                text: ''
            }
        },
        methods: {
            countDownChanged(countDown) {
                this.countDown = countDown;
            },
            show(text, variant = 'success') {
                this.variant = variant;
                this.text = text;
                this.countDown = this.secs;
            }
        }
    }
</script>