<template>
    <div class='contact-form'>
        <transition name="fade">
            <form @submit.prevent="sendFeedback" v-if="!sent">
                <div class="form-row form-group">
                    <div class="col">
                        <type-field v-model="form.type"/>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="first_name"
                                placeholder="Nom"
                                v-model="form.first_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                        />
                        <div v-show="errors.has('first_name')" class="invalid-feedback">
                            {{ errors.first('first_name') }}
                        </div>
                    </div>
                    <div class="col">
                        <input
                                type="text"
                                name="last_name"
                                placeholder="Prénom"
                                v-model="form.last_name"
                                v-validate="'required|alpha'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                        />
                        <div v-show="errors.has('last_name')" class="invalid-feedback">
                            {{ errors.first('last_name') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="email"
                                name="email"
                                placeholder="Email"
                                v-model="form.email"
                                v-validate="'required|email'"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email')
                            }"
                        />
                        <div v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                    </div>
                    <div class="col">
                        <masked-input
                                id="phone-contact-form"
                                name="phone"
                                placeholder="Téléphone"
                                mask="\+\3\3 111 11 11 11"
                                v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                @input="form.phone = arguments[1]"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                        />
                        <div v-show="errors.has('phone')" class="invalid-feedback">{{ errors.first('phone') }}</div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <b-form-textarea
                                :rows="6"
                                :max-rows="6"
                                id="message"
                                name="message"
                                placeholder="Votre message"
                                v-model="form.message"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('message')
                                }"
                        ></b-form-textarea>
                        <div v-show="errors.has('message')" class="invalid-feedback">
                            {{ errors.first('message') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input
                                    id="conditions-contact-form"
                                    name="conditions"
                                    type="checkbox"
                                    v-validate="'required'"
                                    :class="{
                                        'custom-control-input': true,
                                        'is-invalid': errors.has('conditions')
                                    }"
                            >
                            <label class="custom-control-label" for="conditions-contact-form">
                                Accepter les
                                <router-link :to="{name:'conditions'}" target="_blank">
                                    conditions générales d'utilisation
                                </router-link>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-fat btn-zinnwaldite" type="submit">Envoyer</button>
                </div>
            </form>
            <b-alert v-else
                     :show="true"
                     variant="success"
            >
                Your message was sent
            </b-alert>
        </transition>
        <b-alert :show="alert.countDown"
                 dismissible
                 variant="danger"
                 @dismissed="alert.countDown=0"
                 @dismiss-count-down="countDownChanged">
            {{alert.text}}
        </b-alert>
    </div>
</template>

<script>
    import TypeField from './Form/TypeField';
    import MaskedInput from 'vue-masked-input';

    export default {
        name: 'ContactForm',
        components: {
            TypeField,
            MaskedInput
        },
        data() {
            return {
                form: {
                    type: 'autre',
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    message: '',
                },
                sent: false,
                alert: {
                    text: 'Oops! Something went wrong. Please, try again later or use another communication channel',
                    countDown: 0,
                    secs: 10
                }
            }
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        methods: {
            sendFeedback() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route('feedback'),
                            this.form
                        ).then(() => {
                            this.clear();
                            this.sent = true;
                        }).catch(() => {
                            this.showAlert()
                        });
                    }
                });
            },
            clear() {
                this.form = {
                    type: 'autre',
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    message: '',
                    validate: false
                }
            },
            countDownChanged: function (countDown) {
                this.alert.countDown = countDown
            },
            showAlert: function () {
                this.alert.countDown = this.alert.secs
            }
        }
    }
</script>
