<template>
    <div>
        <h4
                class="question"
                :class="{open:open}"
                @click="toggle"
        >
            {{question.question}}
        </h4>
        <div class="answer" v-show="open" v-html="question.answer"></div>
    </div>
</template>

<script>
    export default {
        name: 'QuestionComponent',
        props: {
            question: {
                type: Object
            },
        },
        data() {
            return {
                open: false
            }
        },
        methods: {
            toggle() {
                this.open = !this.open;
            }
        }
    }
</script>
