<template>
    <footer>
        <div class="container">
            <div class="links">
                <h3>Raccourcis</h3>
                <ul>
                    <li>
                        <router-link :to="{name:'services'}">Nos services</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'news'}">Actualités</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'marriage'}">Mariage</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'workshops'}">Ateliers</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'questions'}">FAQ</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'contact'}">Contact</router-link>
                    </li>
                    <li>
                        <router-link :to="{name:'contact'}">Droit de rétractation</router-link>
                    </li>
                </ul>
            </div>
            <div class="join">
                <h3>On recrute!</h3>
                <p>Vous dégainez vos ciseaux <br> plus vite que votre ombre? </p>
                <router-link
                        :to="{name:'register.provider'}"
                        class="btn btn-fat btn-nepal">
                    Devenir <br> chouchouteur
                </router-link>
            </div>
            <div class="socials">
                <h3>On vous chouchoute <br> aussi sur les réseaux</h3>
                <div class="social-media">
                    <a :href="$params.social.facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a :href="$params.social.instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a :href="$params.social.pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a :href="$params.social.twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <router-link :to="{name:'conditions'}">Conditions Générales d'utilisation</router-link>
            - Copyright {{new Date().getFullYear()}}
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'TheFooter',
    }
</script>
