<template>
    <div>
        <button
                class="navbar-toggler"
                :class="{toggled:toggled}"
                @click="toggle"
        >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <b-modal
                id="menu-modal"
                ref="MenuModal"
                size="lg"
                class="menu-modal"
                lazy
                centered
                hide-header
                hide-footer
                no-close-on-esc
                no-close-on-backdrop
        >
            <b-navbar-nav class="navbar-menu">
                <b-nav-item v-if="fetched && auth && user.role === 'admin'" href="/admin">Admin</b-nav-item>
                <b-nav-item v-if="auth" :to="{name:'profile'}">Mon Compte</b-nav-item>
                <b-nav-item :to="{name:'contact'}">Contact</b-nav-item>
                <b-nav-item :to="{name:'register.provider'}">Devenir Chouchouteur</b-nav-item>
                <b-nav-item :to="{name:'services'}">Nos Services</b-nav-item>
                <b-nav-item :to="{name:'news'}">Actualités</b-nav-item>
                <b-nav-item :to="{name:'marriage'}">Mariages</b-nav-item>
                <b-nav-item :to="{name:'workshops'}">Ateliers</b-nav-item>
                <b-nav-item :to="{name:'questions'}">Foire Aux Questions</b-nav-item>
            </b-navbar-nav>
        </b-modal>
    </div>
</template>

<script>
  import AuthMixin from '../mixins/auth';

  export default {
    name: 'TheNavbarMenu',
    mixins: [AuthMixin],
    data() {
      return {
        toggled: false,
        user: {
          role: undefined
        },
        fetched: false
      };
    },
    watch: {
      $route: function() {
        this.toggled = false;
        this.$refs.MenuModal.hide();
      },
      auth() {
        this.fetch();
      },
    },
    methods: {
      toggle() {
        this.toggled = !this.toggled;
        if (this.toggled) {
          this.$refs.MenuModal.show();
        } else {
          this.$refs.MenuModal.hide();
        }
      },
      fetch() {
        this.$http.get(
            route('profile.show'),
            this.AuthHeaders,
        ).then((r) => {
          this.user = r.data.data;
          this.fetched = true;
        }).catch(() => {
          this.fetched = true;
          this.showAuthModal();
        });
      },
    },
  };
</script>
