<template>
    <header>
        <b-navbar
                toggleable="md"
                type="light"
                fixed="top"
                variant="faded"
                :class="{
                    shifted:!scrolled,
                    hidden: hidden
                }"
        >
            <div class="container">
                <b-navbar-brand>
                    <router-link :to="{name: 'home'}">
                        <img
                                src="../../images/logo-small.png"
                                alt="logo"
                        >
                    </router-link>
                </b-navbar-brand>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item class="menu-text">
                        Une question? Appellez-nous!
                        <strong>{{$params.contact.phone}}</strong>
                    </b-nav-item>
                    <auth-component v-if="!auth" class="menu-btn"/>
                    <b-nav-item
                            :to="{name:'contact'}"
                            class="menu-btn black"
                    >
                        Contact
                    </b-nav-item>
                </b-navbar-nav>
                <navbar-menu></navbar-menu>
            </div>
        </b-navbar>
    </header>
</template>

<script>
    import AuthMixin from '../mixins/auth';
    import NavbarMenu from './TheNavbarMenu';
    import AuthComponent from './Auth/AuthComponent';

    export default {
        name: 'TheNavbar',
        components: {
            NavbarMenu,
            AuthComponent
        },
        mixins: [AuthMixin],
        data() {
            return {
                scrolled: false
            }
        },
        computed: {
            hidden() {
                let name = this.$route.name;
                return name === 'home' || name === 'marriage';
            }
        },
        methods: {
            handleScroll() {
                if (this.$route.name === 'home') {
                    this.scrolled = (window.scrollY > 100);
                } else {
                    this.scrolled = Boolean(window.scrollY);
                }
            }
        },
        beforeMount() {
            window.addEventListener('scroll', this.handleScroll);
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll);
        }
    }
</script>
