<template>
    <div class="workshop-form">
        <h2>intéréssés?<br>envoyez-nous votre demande!</h2>
        <p class="description">
            Vous pouvez aussi nous contacter à
            <strong class="nepal">{{$params.contact.email}}</strong>
        </p>
        <form @submit.prevent="send" v-if="!sent">
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="text"
                            name="first_name"
                            placeholder="Nom"
                            data-vv-as="nom"
                            v-model.lazy="form.first_name"
                            v-validate="'required|alpha'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                    />
                    <div v-show="errors.has('first_name')" class="invalid-feedback">
                        {{ errors.first('first_name') }}
                    </div>
                </div>
                <div class="col">
                    <input
                            type="text"
                            name="last_name"
                            placeholder="Prénom"
                            data-vv-as="prénom"
                            v-model.lazy="form.last_name"
                            v-validate="'required|alpha'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                    />
                    <div v-show="errors.has('last_name')" class="invalid-feedback">
                        {{ errors.first('last_name') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            v-model.lazy="form.email"
                            v-validate="'required|email'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email')
                            }"
                    />
                    <div v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</div>
                </div>
                <div class="col">
                    <masked-input
                            id="phone"
                            name="phone"
                            placeholder="Téléphone"
                            mask="\+\3\3 111 11 11 11"
                            v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                            @input="form.phone = arguments[1]"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                    />
                    <div v-show="errors.has('phone')" class="invalid-feedback">{{ errors.first('phone') }}</div>
                </div>
            </div>
            <strong class="nepal">Votre atelier</strong>
            <div class="row form-group">
                <div class="col-sm-8 d-flex icon-input">
                    <div class="image-block">
                        <img src="../../images/calendar.png"/>
                    </div>
                    <div class="input-block">
                        <datepicker-input
                                name="date"
                                :language="fr"
                                :monday-first="true"
                                v-model="form.date"
                                format="dd/MM/yyyy"
                                placeholder="Date"
                                :bootstrapStyling="true"
                                v-validate="'required|date_format:DD/MM/YYYY'"
                                :class="{'is-invalid': errors.has('date')}"
                        />
                        <div v-show="errors.has('date')" class="invalid-feedback">
                            {{ errors.first('date') }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 d-flex icon-input">
                    <div class="image-block">
                        <img src="../../images/time.png"/>
                    </div>
                    <div class="input-block">
                        <input
                                type="time"
                                name="time"
                                placeholder="Temps"
                                v-validate="'required'"
                                v-model.lazy="form.time"
                                :class="{
                                'form-control': true,
                                'is-invalid': errors.has('time')
                            }"
                        />
                        <div v-show="errors.has('time')" class="invalid-feedback">{{ errors.first('time') }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex icon-input">
                <div class="image-block">
                    <img src="../../images/girl.png"/>
                </div>
                <div class="input-block">
                    <b-form-input
                            name="participants"
                            type="number"
                            :min="2" :max="6"
                            placeholder="nombre de participants"
                            v-validate="'required|numeric|min_value:2|max_value:6'"
                            v-model.lazy="form.participants"
                            :class="{
                            'is-invalid': errors.has('participants')
                        }"
                    ></b-form-input>
                    <div v-show="errors.has('participants')" class="invalid-feedback">
                        {{ errors.first('participants') }}
                    </div>
                </div>
            </div>
            <div class="form-group d-flex icon-input">
                <div class="image-block">
                    <img src="../../images/location.png"/>
                </div>
                <div class="input-block">
                    <input
                            name="address"
                            placeholder="adresse de l’atelier"
                            v-validate="'required'"
                            v-model.lazy="form.address"
                            :class="{
                        'form-control': true,
                        'is-invalid': errors.has('address')
                    }"
                    />
                    <div v-show="errors.has('address')" class="invalid-feedback">
                        {{ errors.first('address') }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <b-form-textarea
                        :rows="3"
                        :max-rows="3"
                        id="message"
                        name="message"
                        placeholder="Une demande spécifique?"
                        v-model.lazy="form.message"
                        v-validate="'required'"
                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('message')
                        }"
                >
                </b-form-textarea>
                <div v-show="errors.has('message')" class="invalid-feedback">
                    {{ errors.first('message') }}
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input
                                id="conditions"
                                name="conditions"
                                type="checkbox"
                                v-validate="'required'"
                                :class="{
                                        'custom-control-input': true,
                                        'is-invalid': errors.has('conditions')
                                    }"
                        >
                        <label class="custom-control-label" for="conditions">
                            J’accepte les
                            <router-link :to="{name:'conditions'}" target="_blank">
                                conditions générales d'utilisation
                            </router-link>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Envoyer</button>
            </div>
        </form>
        <b-alert v-else
                 :show="true"
                 variant="success"
        >
            Your message was sent
        </b-alert>
    </div>
</template>

<script>
    import DatepickerInput from 'vuejs-datepicker';
    import MaskedInput from 'vue-masked-input';
    import {fr} from 'vuejs-datepicker/dist/locale';


    export default {
        name: 'WorkshopForm',
        components: {
            DatepickerInput,
            MaskedInput,
        },
        data() {
            return {
                fr: fr,
                form: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    date: '',
                    time: '',
                    participants: '',
                    address: '',
                    message: '',
                },
                sent: false
            }
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            },
            datetime() {
                return this.$moment(this.form.date).format('DD/MM/YYYY') + ' ' + this.form.time;
            }
        },
        methods: {
            send() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.form.datetime = this.datetime;
                        this.$http.post(
                            route('workshop'), this.form
                        ).then(() => {
                            this.sent = true;
                        });
                    }
                });
            }
        }
    }
</script>

