<template>
    <section>
        <breadcrumbs-component :links="[{title: 'Holidays (fête)'} ]"/>
        <widget-component class="no-padding">
            <div class="row">
                <div class="col-md-12">
                    <button
                            class="btn btn-nepal-glassy"
                            @click="showCreate"
                    >
                        <i class="fa fa-plus-circle"></i> Create
                    </button>
                    <data-table v-bind="table"/>


                    <b-modal
                            ref="createModal"
                            lazy
                            centered
                            size="md"
                            :title="titles.creatHolidays"
                            @ok="createRow"
                    >
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="name"
                                        placeholder="Name"
                                        v-model="form.name"
                                        v-validate="'required'"
                                        :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('name')
                                        }"
                                />
                                <div v-show="errors.has('name')" class="invalid-feedback">
                                    {{ errors.first('name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <date-picker
                                        width="100%"
                                        v-model="form.date"
                                        format="YYYY-MM-DD"
                                        lang="fr"
                                        :first-day-of-week="1"></date-picker>
                            </div>
                        </div>
                    </b-modal>


                   <b-modal
                            ref="updateModal"
                            lazy
                            centered
                            :title="'Update '+form.name"
                            @ok="updateRow"
                    >
                       <div class="form-row form-group">
                           <div class="col">
                               <input
                                       type="text"
                                       name="name"
                                       placeholder="Name"
                                       v-model="form.name"
                                       v-validate="'required'"
                                       :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('name')
                                        }"
                               />
                               <div v-show="errors.has('name')" class="invalid-feedback">
                                   {{ errors.first('name') }}
                               </div>
                           </div>
                       </div>
                       <div class="form-row form-group">
                           <div class="col">
                               <date-picker
                                       width="100%"
                                       v-model="form.date"
                                       format="YYYY-MM-DD"
                                       lang="fr"
                                       :first-day-of-week="1"></date-picker>
                           </div>
                       </div>
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </b-modal>
                    <b-modal
                            ref="deleteModal"
                            lazy
                            centered
                            hide-header
                            @ok="deleteRow"
                    >
                        Are you sure you want to delete the "{{form.name}}"?
                    </b-modal>




                </div>
                <alert-component ref="alert"/>
            </div>
        </widget-component>


    </section>
</template>

<script>
    import WidgetComponent from '../../components/WidgetComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import DataTable from 'vue2-datatable-component';
    import ActionsComponent from '../../components/Table/ActionsComponent';



    export default {
        name: "Holidays",
        components: {
            ActionsComponent,
            AlertComponent,
            BreadcrumbsComponent,
            DataTable,
            WidgetComponent
        },
        data() {
            return {
                form: {
                    date: '',
                    name: '',
                    id: null
                },
                dataTosave:{
                  date:null,
                  name:null
                },
                titles: {
                    creatHolidays: 'Create a date (créer une date)'
                },
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '5%', 'min-width': '55px'}
                        },
                        {
                            title: 'Name',
                            field: 'name'
                        },
                        {
                            title: 'Date',
                            field: 'date'

                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '25%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    Pagination: false,
                    total: 0,
                    query: {"limit": 10, "offset": 0}
                },
                emptyForm: {
                    date: '',
                    name: '',
                    id: null
                },
            }
        },
        methods: {
            fetch() {
                this.$http.get('/api/admin/holidays')
                    .then((r) => {
                        console.log(r)
                        this.table.data = r.data.data;
                    });
            },
            showCreate() {
                this.$refs.createModal.show()
            },
            createRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {

                        let data = {
                            name: this.form.name,
                            date: moment(this.form.date).format("YYYY-MM-DD")
                        }
                        axios({
                            method: 'POST',
                            url: '/api/admin/holidays',
                            data: data
                        }).then((resp)=>{

                            console.log(resp)
                            this.$refs.createModal.hide();
                            this.$refs.alert.show(this.form.name + ' was created');
                            this.fetch()
                        })
                    } else {
                        console.log('error valid')
                    }

                })


            },
            showEdit(data) {
                console.log(data)
                this.form.id = data.id
                this.form.name = data.name
                this.form.date = data.date
                this.$refs.updateModal.show();

            },
            showDelete(data) {
                this.form.id = data.id;
                this.form.name = data.name;
                this.form.date = data.date;
                this.$refs.deleteModal.show();
            },
            deleteRow(){
                axios({
                    method: 'DELETE',
                    url: `/api/admin/holidays/${this.form.id}`
                }).then((resp)=>{

                    console.log(resp)
                    this.$refs.deleteModal.hide();
                    this.$refs.alert.show(this.form.name + ' was deleted');
                    this.fetch()
                })
            },
            updateRow(e) {
                e.preventDefault();
                let $this = this;
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        let data = {
                            name: $this.form.name,
                            date: moment($this.form.date).format('YYYY-MM-DD')
                        };
                        console.log(data)
                        axios({
                            method: 'PATCH',
                            url: `/api/admin/holidays/${$this.form.id}`,
                            data: data

                        }).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show(this.form.name + '  was updated');
                            this.fetch();
                        });
                    }
                });
            },
        },
        created() {
            this.fetch()
        }
    }
</script>

<style scoped>

</style>
