<template>
    <section>
        <breadcrumbs-component :links="[ {title: 'Codes promotionnels'} ]" />

        <widget-component class="no-padding">
            <div class="row">
                <div class="col-md-12">
                    <button
                            class="btn btn-nepal-glassy"
                            @click="showCreate"
                    >
                        <i class="fa fa-plus-circle"></i> Create
                    </button>
                    <data-table v-bind="table"/>


                    <b-modal
                            ref="createModal"
                            lazy
                            centered
                            size="md"
                            :title="titles.creat"
                            @ok="createRow"
                    >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                        <input
                                                type="text"
                                                name="name"
                                                placeholder="Name"
                                                v-model="form.name"
                                                v-validate="'required'"
                                                :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('name')
                                        }"
                                        />
                                        <div v-show="errors.has('name')" class="invalid-feedback">
                                            {{ errors.first('name') }}
                                        </div>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <label class="form-group">
                                    <select
                                            v-validate="'required'"
                                            name="type_id"
                                            v-model.number="form.type_id"
                                            :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('type_id')
                                        }">
                                        <option value="" disabled selected>select type</option>
                                        <option value="1">single use</option>
                                        <option value="2">temporary</option>
                                    </select>
                                    <div v-show="errors.has('type_id')" class="invalid-feedback">
                                        {{ errors.first('type_id') }}
                                    </div>
                                </label>
                            </div>



                            <div class="col-md-6" >
                                <div class="form-group">
                                    <input
                                            type="number"
                                            name="discount"
                                            placeholder="Discount %"
                                            min="0"
                                            v-model.number="form.discount"
                                            v-validate="'required'"
                                            :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('form.discount')
                                        }"
                                    />
                                </div>
                            </div>
                            <div class="col-md-6" v-if="form.type_id == 2">
                                <date-picker
                                        width="100%"
                                        v-model="form.date"
                                        format="YYYY-MM-DD"
                                        range
                                        lang="fr"
                                        :confirm="true"
                                        :first-day-of-week="1"></date-picker>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-6">
                                <label class="form-group">
                                    <strong>Active </strong>
                                    <input type="checkbox" v-model="form.active" name="active">
                                </label>
                            </div>

                        </div>

                    </b-modal>


                    <b-modal
                            ref="updateModal"
                            lazy
                            centered
                            :title="'Update '+form.name"
                            @ok="updateRow"
                    >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input
                                            type="text"
                                            name="name"
                                            placeholder="Name"
                                            v-model="form.name"
                                            v-validate="'required'"
                                            :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('name')
                                        }"
                                    />
                                    <div v-show="errors.has('name')" class="invalid-feedback">
                                        {{ errors.first('name') }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <label class="form-group">
                                    <select
                                            v-validate="'required'"
                                            name="type_id"
                                            v-model.number="form.type_id"
                                            :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('type_id')
                                        }">
                                        <option value="" disabled selected>select type</option>
                                        <option value="1">single use</option>
                                        <option value="2">temporary</option>
                                    </select>
                                    <div v-show="errors.has('type_id')" class="invalid-feedback">
                                        {{ errors.first('type_id') }}
                                    </div>
                                </label>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input
                                            type="number"
                                            name="discount"
                                            placeholder="Discount %"
                                            min="0"
                                            v-model.number="form.discount"
                                            v-validate="'required'"
                                            :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('form.discount')
                                        }"
                                    />
                                </div>
                            </div>





                            <div class="col-md-6" v-if="form.type_id == 2">
                                <date-picker
                                        width="100%"
                                        v-model="form.date"
                                        format="YYYY-MM-DD"
                                        range
                                        lang="fr"
                                        :confirm="true"
                                        :first-day-of-week="1"></date-picker>
                            </div>

                            <div class="w-100"></div>

                            <div class="col-md-6">
                                <label class="form-group">
                                    <strong>Active </strong>
                                    <input type="checkbox" v-model="form.active" name="active">
                                </label>
                            </div>
                        </div>
                    </b-modal>


                    <b-modal
                            ref="deleteModal"
                            lazy
                            centered
                            hide-header
                            @ok="deleteRow"
                    >
                        Are you sure you want to delete the "{{form.name}}"?
                    </b-modal>




                </div>
                <alert-component ref="alert"/>
            </div>
        </widget-component>
    </section>
</template>

<script>
    import WidgetComponent from '../../components/WidgetComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import DataTable from 'vue2-datatable-component';
    import ActionsComponent from '../../components/Table/ActionsComponent';


    export default {
        name: "promocode",
        components:{
            ActionsComponent,
            AlertComponent,
            BreadcrumbsComponent,
            DataTable,
            WidgetComponent
        },
        data() {
            return {
                form: {
                    active: true,
                    discount: '',
                    from: null,
                    date: [],
                    id: null,
                    name: null,
                    to: null,
                    type_id: ''
                },
                dataTosave:{
                    date:null,
                    name:null
                },
                titles: {
                    creat: 'Create a promotional code (Créer un code promotionnel)'
                },
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '5%', 'min-width': '55px'}
                        },
                        {
                            title: 'Code',
                            field: 'name'
                        },
                        {
                            title: 'Discount',
                            field: 'discount'

                        },
                        {
                            title: 'Active',
                            field: 'active'

                        },
                        {
                            title: 'From',
                            field: 'from'

                        },
                        {
                            title: 'To',
                            field: 'to'

                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '10%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    Pagination: false,
                    total: 0,
                    query: {"limit": 10, "offset": 0}
                },
                emptyForm: {
                    date: '',
                    name: '',
                    id: null
                },
            }
        },
        methods: {
            fetch() {
                this.$http.get('/api/admin/promocodes')
                    .then((r) => {
                        console.log(r)
                        this.table.data = r.data.data;
                    });
            },
            showCreate() {
                this.$refs.createModal.show()
            },
            createRow(e) {
                e.preventDefault();
                let data = undefined,
                    $this = this;
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        if($this.form.type_id == 1){
                            data = {
                                name: $this.form.name,
                                discount: $this.form.discount,
                                active: $this.form.active,
                                type_id: $this.form.type_id
                            };

                        }else if( $this.form.type_id == 2){
                            data = {
                                name: $this.form.name,
                                from: moment($this.form.date[0]).format('YYYY-MM-DD'),
                                to: moment($this.form.date[1]).format('YYYY-MM-DD'),
                                discount: $this.form.discount,
                                active: $this.form.active,
                                type_id: $this.form.type_id
                            };
                        }
                        console.log(data)
                        axios({
                            method: 'POST',
                            url: '/api/admin/promocodes',
                            data: data
                        }).then((resp)=>{

                            console.log(resp)
                            this.$refs.createModal.hide();
                            this.$refs.alert.show(this.form.name + ' was created');
                            this.fetch()
                        })
                    } else {
                        console.log('error valid')
                    }

                })


            },
            showEdit(data) {
                console.log(data)
                this.form.id = data.id
                this.form.name = data.name
                console.log(this.form.date)
                this.form.date[0] = data.from,
                this.form.date[1] = data.to,
                this.form.active = data.active,
                this.form.discount = data.discount,
                this.form.type_id = data.type.id,
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                console.log(data)
                this.form.id = data.id;
                this.form.name = data.name;
                this.form.name = data.name;
                if(!data.date){
                    this.form.date = [];
                }else{
                    this.form.date = data.date;
                }
                this.$refs.deleteModal.show();
            },
            deleteRow(){
                axios({
                    method: 'DELETE',
                    url: `/api/admin/promocodes/${this.form.id}`
                }).then((resp)=>{

                    console.log(resp)
                    this.$refs.deleteModal.hide();
                    this.$refs.alert.show(this.form.name + ' was deleted');
                    this.fetch()
                })
            },
            updateRow(e) {
                e.preventDefault();
                let $this = this;
                let data = undefined;
                this.$validator.validateAll().then((valid) => {
                    if (valid) {

                        if($this.form.type_id == 1){
                             data = {
                                name: $this.form.name,
                                discount: $this.form.discount,
                                active: $this.form.active,
                                type_id: $this.form.type_id
                            };

                        }else if( $this.form.type_id == 2){
                             data = {
                                name: $this.form.name,
                                from: moment($this.form.date[0]).format('YYYY-MM-DD'),
                                to: moment($this.form.date[1]).format('YYYY-MM-DD'),
                                discount: $this.form.discount,
                                active: $this.form.active,
                                type_id: $this.form.type_id
                            };
                        }


                        console.log(data)
                        axios({
                            method: 'PATCH',
                            url: `/api/admin/promocodes/${$this.form.id}`,
                            data: data

                        }).then((res) => {
                            console.log(res)
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show(this.form.name + '  was updated');
                            this.fetch();
                        });
                    }
                });
            },
        },
        created() {
            this.fetch()
        }
    }
</script>

<style scoped>

</style>
