<template>
    <div>
        <div class="description text-center">
            <h2 class="zinnwaldite">Informations de l’entreprise</h2>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="name"
                        placeholder="Nom de l'entreprise"
                        v-model.lazy="form.name"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('name')
                        }"
                />
                <div v-show="errors.has('name')" class="invalid-feedback">
                    {{ errors.first('name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="address"
                        placeholder="Adresse postale"
                        v-model.lazy="form.address"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('address')
                        }"
                />
                <div v-show="errors.has('address')" class="invalid-feedback">
                    {{ errors.first('address') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <location-field
                        required
                        name="location_id"
                        v-model.lazy="form.location_id"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('location_id')}"
                />
                <div v-show="errors.has('location_id')" class="invalid-feedback">
                    {{ errors.first('location_id') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <masked-input
                        id="siren"
                        name="siren"
                        placeholder="SIREN"
                        mask="111\-111\-111"
                        v-validate:siren="'required|digits:9'"
                        @input="form.siren = arguments[1]"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('siren')
                        }"
                />
                <div v-show="errors.has('siren')" class="invalid-feedback">{{ errors.first('siren') }}</div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <masked-input
                        id="iban"
                        name="iban"
                        placeholder="IBAN"
                        mask="\F\R 11 11111 11111 ########### 11"
                        v-validate:iban="'required|regex:'+ibanRegex"
                        @input="iban = arguments[1]"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('iban')
                        }"
                />
                <div v-show="errors.has('iban')" class="invalid-feedback">{{ errors.first('iban') }}</div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <upload-field
                        name="image"
                        v-model="form.image"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('image')}"
                >
                    <span slot="label">Télécharger votre attestation d'assurance</span>
                    <span slot="helper">
                            Attestation d'assurance en JPG ou PNG et en couleur (pas de PDF, max 10 mo)
                    </span>
                </upload-field>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <departments-field
                        required
                        name="departments"
                        v-model="form.departments"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('departments')}"
                />
                <div v-show="errors.has('departments')" class="invalid-feedback">
                    {{ errors.first('departments') }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import UploadField from '../../Form/UploadField';

    import LocationField from '../../Form/LocationField';
    import DepartmentsField from '../../Form/DepartmentsField';

    export default {
        name: 'ProviderForm',
        components: {
            MaskedInput,
            UploadField,
            LocationField,
            DepartmentsField
        },
        data() {
            return {
                form: {
                    name: '',
                    address: '',
                    location_id: null,
                    siren: '',
                    iban: '',
                    image: null,
                    departments: [],
                },
                iban: '',
                ibanRegex: '[0-9]{12}[a-z0-9]{11}[0-9]{2},i'
            }
        },
        watch: {
            iban(val) {
                this.form.iban = 'FR' + val;
            }
        },
        computed: {
            siren() {
                let siren = this.form.siren.toString();
                siren = siren.replace(/\D/g, '');
                Number(siren);
                return siren;
            },
        },
        methods: {
            validate() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$emit('input', this.form);
                        this.$emit('valid');
                    }
                });
            }
        },
    }
</script>
