<template>
    <div class="profile-edit" v-if="user">
        <h3>Mon profil</h3>
        <profile-form v-model="user.profile"/>
        <company-form v-model="user.company"/>
        <provider-form v-model="user.provider"/>
        <password-update v-model="user.has_password"/>
    </div>
</template>

<script>
    import ProfileForm from './ProfileForm';
    import CompanyForm from './ProfileCompanyForm';
    import ProviderForm from "./ProfileProviderForm";
    import PasswordUpdate from '../Client/UpdatePasswordForm.vue';

    export default {
        name: 'ProviderProfile',
        components: {
            ProviderForm,
            ProfileForm,
            CompanyForm,
            PasswordUpdate,
        },
        props: {
            user: {
                type: Object
            }
        }
    }
</script>
