<template>
    <form @submit.prevent="submit" v-if="form">
        <div class="section-header">
            Un peu plus sur vous
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-9">
                <div class="form-row form-group">
                    <div class="col">
                        <b-form-textarea
                                :rows="3"
                                :max-rows="3"
                                id="about"
                                name="about"
                                placeholder="(spécialisation, parcours professionnel, motivation,...)"
                                v-model.lazy="form.about"
                                v-validate="'without_links'"
                                :class="{
                            'form-control': true,
                            'is-invalid': errors.has('about')
                        }"
                        >
                        </b-form-textarea>
                        <div v-show="errors.has('about')" class="invalid-feedback">
                            {{ errors.first('about') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col text-right">
                        <button class="btn btn-fat btn-nepal" type="submit">Modifier</button>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        Mes réseaux
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <i class="fa fa-internet-explorer"></i>
                        <input
                                type="text"
                                name="website"
                                placeholder="Site web"
                                v-model.lazy="form.website"
                                class="form-control"
                        />
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <i class="fa fa-facebook-square"></i>
                        <input
                                type="text"
                                name="facebook"
                                placeholder="Facebook"
                                v-model.lazy="form.facebook"
                                class="form-control"
                        />
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <i class="fa fa-twitter"></i>
                        <input
                                type="text"
                                name="twitter"
                                placeholder="Twitter"
                                v-model.lazy="form.twitter"
                                class="form-control"
                        />
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <i class="fa fa-instagram"></i>
                        <input
                                type="text"
                                name="instagram"
                                placeholder="Instagram"
                                v-model.lazy="form.instagram"
                                class="form-control"
                        />
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col text-right">
                        <button class="btn btn-fat btn-nepal" type="submit">Modifier</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import {Validator} from 'vee-validate';

    export default {
        name: 'ProfileProviderForm',
        props: {
            value: {
                type: Object
            },
        },
        data() {
            return {
                form: null
            }
        },
        methods: {
            submit() {

            }
        },
        created() {
            Validator.extend('without_links', {
                validate: () => {
                    let regex = /(?:http|https|\.com|\.fr|\.biz|\.us|\.eu|\.info|\.org|\.net|\.re|\.wf|\.yt|\.pm|www|:\/\/|[\d\s]{5})/gi;
                    if (regex.exec(this.form.about) === null) {
                        return {valid: true};
                    } else {
                        return {
                            valid: false,
                            data: {
                                message: 'About field should not contain phone number, web address or other contacts'
                            }
                        }
                    }
                },
                getMessage: (field, params, data) => data.message
            });
        },
        mounted() {
            this.form = {
                about: this.value.about,
                website: this.value.website,
                facebook: this.value.facebook,
                twitter: this.value.twitter,
                instagram: this.value.instagram,
                photo: this.value.photo,
            }
        }
    }
</script>
