<template>
    <div>
        <div class="description text-center">
            <h2 class="zinnwaldite">Informations du prestataire</h2>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <gender-field v-model.lazy="form.gender"/>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="first_name"
                        placeholder="Nom"
                        v-model.lazy="form.first_name"
                        v-validate="'required|alpha'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('first_name')
                        }"
                />
                <div v-show="errors.has('first_name')" class="invalid-feedback">
                    {{ errors.first('first_name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="last_name"
                        placeholder="Prénom"
                        v-model.lazy="form.last_name"
                        v-validate="'required|alpha'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('last_name')
                        }"
                />
                <div v-show="errors.has('last_name')" class="invalid-feedback">
                    {{ errors.first('last_name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <datepicker-input
                        name="date_of_birth"
                        :language="fr"
                        :monday-first="true"
                        v-model.lazy="form.date_of_birth"
                        format="dd/MM/yyyy"
                        placeholder="Date de naissance"
                        :bootstrapStyling="true"
                        v-validate="'required|date_format:DD/MM/YYYY'"
                        :class="{'is-invalid': errors.has('date_of_birth')}"
                />
                <div v-show="errors.has('date_of_birth')" class="invalid-feedback">
                    {{ errors.first('date_of_birth') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        v-model.lazy="form.email"
                        v-validate="'required|email|unique'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('email')
                        }"
                />
                <div v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <masked-input
                        id="phone"
                        name="phone"
                        placeholder="Téléphone"
                        mask="\+\3\3 111 11 11 11"
                        v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                        @input="form.phone = arguments[1]"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('phone')
                        }"
                />
                <div v-show="errors.has('phone')" class="invalid-feedback">
                    {{ errors.first('phone') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="address"
                        placeholder="Adresse postale"
                        v-model.lazy="form.address"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('address')
                        }"
                />
                <div v-show="errors.has('address')" class="invalid-feedback">
                    {{ errors.first('address') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <location-field
                        required
                        name="location_id"
                        v-model.lazy="form.location_id"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('location_id')}"
                />
                <div v-show="errors.has('location_id')" class="invalid-feedback">
                    {{ errors.first('location_id') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <upload-field
                        name="image"
                        v-model="form.image"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('image')}"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {Validator} from 'vee-validate';
    import MaskedInput from 'vue-masked-input';
    import GenderField from '../../Form/GenderField';
    import UploadField from '../../Form/UploadField';
    import DatepickerInput from 'vuejs-datepicker';
    import {fr} from 'vuejs-datepicker/dist/locale'
    import LocationField from '../../Form/LocationField';

    export default {
        name: 'ProviderForm',
        components: {
            MaskedInput,
            GenderField,
            UploadField,
            LocationField,
            DatepickerInput
        },
        data() {
            return {
                fr: fr,
                form: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    image: null
                }
            }
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$emit('input', this.form);
                        this.$emit('valid');
                    }
                });
            },
            checkEmail() {
                return this.$http.post(
                    route('email.exists'),
                    {email: this.form.email}
                ).then(() => {
                    return {valid: true};
                }).catch((err) => {
                    return {
                        valid: false,
                        data: {message: err.response.data.errors['email'][0]}
                    }
                });
            }
        },
        created() {
            Validator.extend('unique', {
                validate: this.checkEmail,
                getMessage: (field, params, data) => data.message
            });
        }
    }
</script>
