<template>
    <div>
        <div class="form-row form-group">
            <div class="col">
                <gender-field v-model.lazy="form.gender"/>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="first_name"
                        placeholder="Nom"
                        v-model.lazy="form.first_name"
                        v-validate="'required|alpha'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('first_name')
                        }"
                />
                <div v-show="errors.has('first_name')" class="invalid-feedback">
                    {{ errors.first('first_name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="last_name"
                        placeholder="Prénom"
                        v-model.lazy="form.last_name"
                        v-validate="'required|alpha'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('last_name')
                        }"
                />
                <div v-show="errors.has('last_name')" class="invalid-feedback">
                    {{ errors.first('last_name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <datepicker-input
                        name="date_of_birth"
                        :language="fr"
                        :monday-first="true"
                        v-model.lazy="form.date_of_birth"
                        format="dd/MM/yyyy"
                        placeholder="Date de naissance"
                        :bootstrapStyling="true"
                        v-validate="'required|date_format:DD/MM/YYYY'"
                        :class="{'is-invalid': errors.has('date_of_birth')}"
                />
                <div v-show="errors.has('date_of_birth')" class="invalid-feedback">
                    {{ errors.first('date_of_birth') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="address"
                        placeholder="Adresse postale"
                        v-model.lazy="form.address"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('address')
                        }"
                />
                <div v-show="errors.has('address')" class="invalid-feedback">
                    {{ errors.first('address') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <location-field
                        required
                        name="location_id"
                        v-model.lazy="form.location_id"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('location_id')}"
                />
                <div v-show="errors.has('location_id')" class="invalid-feedback">
                    {{ errors.first('location_id') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <upload-field
                        name="image"
                        v-model="form.image"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('image')}"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import GenderField from '../../Form/GenderField';
    import UploadField from '../../Form/UploadField';
    import DatepickerInput from 'vuejs-datepicker';
    import LocationField from '../../Form/LocationField';
    import {fr} from 'vuejs-datepicker/dist/locale';


    export default {
        name: 'RepresentativeFormPart',
        components: {
            MaskedInput,
            GenderField,
            UploadField,
            LocationField,
            DatepickerInput
        },
        props: {
            value: {
                type: Object
            }
        },
        watch: {
            form: {
                handler(val) {
                    this.$emit('input', val)
                },
                deep: true
            }
        },
        data() {
            return {
                fr: fr,
                form: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    image: null
                }
            }
        }
    }
</script>
