<template>
    <div>
        <div class="description text-center">
            <h2 class="zinnwaldite">Informations du représentant légal</h2>
        </div>
        <representative-form-part v-model="form" ref="form"/>
    </div>
</template>

<script>
    import RepresentativeFormPart from './RepresentativeFormPart';

    export default {
        name: 'RepresentativeForm',
        components: {RepresentativeFormPart},
        data() {
            return {
                form: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    image: null
                }
            }
        },
        methods: {
            validate() {
                this.$refs.form.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$emit('input', this.form);
                        this.$emit('valid');
                    }
                });
            }
        },
    }
</script>
