<template>
    <div>
        <div class="description text-center">
            <h2>
                Informations sur les actionnaires<br>
                <small>(ayant plus de 25% des vvvtparts de l’entreprise)</small>
            </h2>
        </div>
        <div>
            <div class="subtitle">vvACTIONNAIRE n°1</div>
            <representative-form-part
                    v-model="shareholders[0]" ref="form0"
            />
        </div>
        <div v-if="count>1">
            <div class="subtitle">vvACTIONNAIRE n°2</div>
            <representative-form-part
                    v-model="shareholders[1]" ref="form1"
            />
        </div>
        <div v-if="count>2">
            <div class="subtitle">vvACTIONNAIRE n°3</div>
            <representative-form-part
                    v-model="shareholders[2]" ref="form2"
            />
        </div>
        <div v-if="count>3">
            <div class="subtitle">vvACTIONNAIRE n°4</div>
            <representative-form-part
                    v-model="shareholders[3]" ref="form3"
            />
        </div>
        <div class="text-right" v-if="count < 4">
            <a href="#" @click.prevent="count += 1">+ ajouter un actionnaire supplémentaire</a>
        </div>
    </div>
</template>

<script>
    import RepresentativeFormPart from './RepresentativeFormPart';

    export default {
        name: 'ShareholdersForm',
        components: {RepresentativeFormPart},
        data() {
            return {
                count: 1,
                form: [],
                empty: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    image: null
                },
                valid: 0,
                shareholders: [],
            }
        },
        methods: {
            setResult() {
                this.valid += 1;
                if (this.valid === this.count) {
                    this.$emit('input', this.form);
                    this.$emit('valid')
                }
            },
            validate() {
                this.valid = 0;
                this.form = [];
                for (let i = 0; i < this.count; i++) {
                    this.validateShareholder(i);
                }
            },
            isEmpty(shareholder) {
                return JSON.stringify(shareholder) === JSON.stringify(this.empty)
            },
            validateShareholder(i) {
                let form = this.$refs['form' + i];
                if (form) {
                    form.errors.clear();
                }
                if (this.count > i && !this.isEmpty(this.shareholders[i])) {
                    form.$validator.validateAll().then((valid) => {
                        if (valid) {
                            this.form.push(this.shareholders[i]);
                            this.setResult();
                        }
                    });
                } else {
                    this.setResult();
                }
            }
        },
        mounted() {
            for (let i = 0; i < 4; i++) {
                this.shareholders[i] = {...this.empty};
            }
        }
    }
</script>
