<template>
    <section class="content">
        <div class="container">
            <div class="description text-center text-uppercase">
                <h2>
                    Processing {{this.$route.params.provider}} data
                    <div>
                        <span class="fa fa-refresh fa-spin fa-3x fa-fw"></span>
                    </div>
                </h2>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'AuthCallbackPage',
        mounted() {
            window.opener.postMessage(this.$route.query.code, window.opener.location.origin);
            window.close();
        }
    }
</script>

