<template>
    <section class="information">
        <div class="container">
            <div class="row breadcrumbs">
                <a class="col-4 disabled">Sélection</a>
                <a class="col-4 active">Informations</a>
                <a class="col-4 ">Confirmation</a>

            </div>
            <hr class="hr-text" data-content="Votre sélection">
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col mb-5">Afin de vous faire chouchouter dans les meilleures conditions, Choissez votre lieu
                    préféré pour vous détendre.
                </div>
            </div>
            <form class="row" name="address">
                <div class="col-6 mb-3"
                     v-for="(address, index) in addresses"
                     :key="address.id"
                >
                    <div class="address">
                        <div class="row">
                            <div class="col-1">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input
                                            :id="'address' + address.id"
                                            name="id_adress"
                                            type="radio"
                                            required="required"
                                            class="custom-control-input"
                                            :value="address.id"
                                            v-model='idPickedAddrerss'>
                                    <label :for="'address' + address.id" class="custom-control-label"></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="h4 nepal">{{address.name}}</div>
                                {{address.first_name}} {{address.last_name}}<br>
                                {{address.address}}<br>
                                {{address.location.name}}<br>
                                tel: {{address.phone}}
                                <a href="#"
                                   class="zinnwaldite float-right"
                                   @click.prevent="showEdit(address)">modifier</a>
                            </div>
                        </div>

                    </div>
                </div>


                <b-modal
                        ref="createModal"
                        lazy
                        centered
                        :title="'Create address'"
                        @ok="createAddress"
                >
                    <form @submit.prevent>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="name"
                                        placeholder="Adresse nom"
                                        v-model.lazy="form.name"
                                        v-validate="'required'"
                                        :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                                />
                                <div v-show="errors.has('name')" class="invalid-feedback">
                                    {{ errors.first('name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <gender-field v-model.lazy="form.gender"/>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="first_name"
                                        placeholder="Nom"
                                        v-model.lazy="form.first_name"
                                        v-validate="'required|alpha'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                                />
                                <div v-show="errors.has('first_name')" class="invalid-feedback">
                                    {{ errors.first('first_name') }}
                                </div>
                            </div>
                            <div class="col">
                                <input
                                        type="text"
                                        name="last_name"
                                        placeholder="Prénom"
                                        v-model.lazy="form.last_name"
                                        v-validate="'required|alpha'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                                />
                                <div v-show="errors.has('last_name')" class="invalid-feedback">
                                    {{ errors.first('last_name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <masked-input
                                        id="phone"
                                        name="phone"
                                        placeholder="Téléphone"
                                        mask="\+\3\3 111 11 11 11"
                                        v-model="phoneVal"
                                        v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                        @input="form.phone = arguments[1]"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                                />
                                <div v-show="errors.has('phone')" class="invalid-feedback">
                                    {{ errors.first('phone') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="address"
                                        placeholder="Adresse postale"
                                        v-model.lazy="form.address"
                                        v-validate="'required'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('address')
                            }"
                                />
                                <div v-show="errors.has('address')" class="invalid-feedback">
                                    {{ errors.first('address') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <location-field
                                        required
                                        name="location_id"
                                        v-model.lazy="form.location_id"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('location_id')}"
                                />
                                <div v-show="errors.has('location_id')" class="invalid-feedback">
                                    {{ errors.first('location_id') }}
                                </div>
                            </div>
                        </div>
                    </form>
                </b-modal>

                <b-modal
                        ref="updateModal"
                        lazy
                        centered
                        :title="'Update address'"
                        @ok="updateAddress"
                >
                    <form @submit.prevent>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="name"
                                        placeholder="Adresse nom"
                                        v-model.lazy="form.name"
                                        v-validate="'required'"
                                        :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                                />
                                <div v-show="errors.has('name')" class="invalid-feedback">
                                    {{ errors.first('name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <gender-field v-model.lazy="form.gender"/>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="first_name"
                                        placeholder="Nom"
                                        v-model.lazy="form.first_name"
                                        v-validate="'required|alpha'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                                />
                                <div v-show="errors.has('first_name')" class="invalid-feedback">
                                    {{ errors.first('first_name') }}
                                </div>
                            </div>
                            <div class="col">
                                <input
                                        type="text"
                                        name="last_name"
                                        placeholder="Prénom"
                                        v-model.lazy="form.last_name"
                                        v-validate="'required|alpha'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                                />
                                <div v-show="errors.has('last_name')" class="invalid-feedback">
                                    {{ errors.first('last_name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <masked-input
                                        id="phone"
                                        name="phone"
                                        placeholder="Téléphone"
                                        mask="\+\3\3 111 11 11 11"
                                        v-model="phoneVal"
                                        v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                        @input="form.phone = arguments[1]"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                                />
                                <div v-show="errors.has('phone')" class="invalid-feedback">
                                    {{ errors.first('phone') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="address"
                                        placeholder="Adresse postale"
                                        v-model.lazy="form.address"
                                        v-validate="'required'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('address')
                            }"
                                />
                                <div v-show="errors.has('address')" class="invalid-feedback">
                                    {{ errors.first('address') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <location-field
                                        required
                                        name="location_id"
                                        v-model.lazy="form.location_id"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('location_id')}"
                                ></location-field>
                                <div v-show="errors.has('location_id')" class="invalid-feedback">
                                    {{ errors.first('location_id') }}
                                </div>
                            </div>
                        </div>
                    </form>
                </b-modal>
            </form>
            <div class="row">
                <div class="col-12 text-right">
                    <button @click="showCreate" class="btn btn-nepal btn-fat">
                        Ajouter une nouvelle adresse
                    </button>
                </div>
            </div>
        </div>


        <div class="container card-info">
            <div class="title-block mb-4">Sélectionnez votre moyen de paiement</div>

            <stripe-form
                    stripe="pk_test_SXQOp3EkRjqtNs09mhZFMWn2"
                    ref="stripeComponent"
                    :options='stripeOptions'
                    @createtoken="createdToken"
            ></stripe-form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col text-right mt-5">
                    <button @click="valider" id="submin-checkout" class="btn btn-fat btn-zinnwaldite">VALIDER</button>

                </div>
            </div>
            <inline-alert-component ref="alert"/>
        </div>

    </section>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import AuthHeaders from '../mixins/auth';
    import GenderField from '../components/Form/GenderField';
    import LocationField from '../components/Form/LocationField';
    import InlineAlertComponent from '../components/InlineAlertComponent';
    import stripeForm from '../components/Checkout/stripeForm'


    export default {
        name: "CheckoutInfoPage",
        components: {
            MaskedInput,
            GenderField,
            LocationField,
            InlineAlertComponent,
            stripeForm,

        },
        mixins: [AuthHeaders],
        data() {
            return {
                addresses: [],
                form: {},
                token: null,
                emptyForm: {
                    name: '',
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    phone: '',
                    address: '',
                    location_id: null,
                },
                phoneVal: '',
                idPickedAddrerss: undefined,
                stripeOptions: {}
            }

        },
        methods: {
            link(action) {
                return 'profile.addresses.' + action;
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.phoneVal = '';
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};
                this.phoneVal = this.form.phone;
                this.form.location_id = this.form.location;
                this.$refs.updateModal.show();
            },
            createAddress(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        console.log(this.form)
                        this.$http.post(
                            route(this.link('store')),
                            this.form,
                            this.AuthHeaders
                        ).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show('Address "' + this.form.name + '" was created');
                            this.fetch();
                        }).catch((err) => {
                            console.log(err)
                        });
                    }
                });
            },
            updateAddress(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route(this.link('update'), this.form.id),
                            this.form,
                            this.AuthHeaders
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show('Address "' + this.form.name + '" was updated');
                            this.fetch();
                        });
                    }
                });
            },
            fetch() {
                this.$http.get(
                    route(this.link('index')),
                    this.AuthHeaders
                ).then((r) => {
                    this.addresses = r.data.data;
                });
            },
            valider() {
                this.$refs.stripeComponent.pay()
            },
            createdToken(val) {
                this.token = val
                console.log(this.token);
                let data = undefined

                console.log(this.idPickedAddrerss)
                if (this.idPickedAddrerss) {
                    let selectedServices = JSON.parse(this.$cookie.get('selected-services')),
                        infoOrder = JSON.parse(this.$cookie.get('info-order')),
                        promo = JSON.parse(this.$cookie.get('promo'));


                    data = {
                        products: selectedServices,
                        stripeToken: this.token.id,
                        infoOrder: infoOrder,
                        addressId: this.idPickedAddrerss
                    }
                    if(promo){
                        data.promo =  promo.code
                    }
                    console.log(data)

                    axios({
                        method: 'POST',
                        data: data
                    }).then((res) => {
                        console.log(res)
                    }).catch((err) => {
                        console.dir(err)
                    })

                    // this.$router.push({name: 'confirmation'})
                } else {
                    this.$refs.alert.show('select the address')
                }


            }
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        created() {
            this.$http.get(route(this.link('index')), this.AuthHeaders).then((r) => {
                this.addresses = r.data.data;
                //console.log(this.addresses)
            });
            console.log(route(this.link('store')))
        }
    }
</script>
