<template>
    <section class="selection">


        <product-list :services="services" :cookieAlert="cookieAlert" ref="productList"></product-list>

        <total-price :services="services" :highlightDays="holidays" ref="totalPrice"
                     :discounts="discounts"></total-price>

        <div class="container">
            <div class="row">
                <div class="col text-right mt-5">
                    <button @click="valider" id="submin-checkout" class="btn btn-fat btn-zinnwaldite">VALIDER</button>

                </div>
            </div>
        </div>
        <b-modal ref="alertModal" title="Warning" ok-only>
            <p class="my-4">{{alertText}}</p>
        </b-modal>
    </section>


</template>

<script>
    import ProductList from '../components/Checkout/productList';
    import TotalPrice from '../components/Checkout/TotalPrice';
    import AuthHeader from '../mixins/auth'

    export default {
        name: "checkout-selection-page",
        mixins: [AuthHeader],
        components: {
            ProductList,
            TotalPrice,
        },
        data() {
            return {
                alertText: null,
                services: [],
                servicesCookie: [],
                holidays: [],
                discounts: [],
                cookieAlert: null,
                countServises: 0,
            }
        },
        methods: {

            valider() {
                this.checkAuth();
                console.log('this.auth', this.auth);
                if (this.auth) {

                    this.$cookie.set('selected-services', JSON.stringify(this.$refs.productList.chooseProducts));
                    let infoOrder = {
                        message: this.$refs.totalPrice.message,
                        moment: this.$refs.totalPrice.moment,
                        present: this.$refs.totalPrice.present,

                    };

                    if (this.$refs.totalPrice.date) {
                        infoOrder.date = moment(this.$refs.totalPrice.date).format('YYYY-MM-DD')
                    }
                    else {
                        infoOrder.date = null
                    }

                    this.$cookie.set('info-order', JSON.stringify(infoOrder));

                    this.$router.push({name: 'information'})
                }
                else {
                    console.log('valider 2');
                    this.showAuthModal()
                }
            },

            fetch() {
                if (this.$cookie.get('services')) {
                    this.services = JSON.parse(this.$cookie.get('services'));
                }

                this.cookieAlert = this.$cookie.get('alert');
                let data = {
                    services: []
                }
                for (let item of this.services) {

                    data.services.push(item.id)
                }
                if (data.services.length > 0) {
                    axios({
                        method: 'POST',
                        data: data,
                        url: '/api/checkout/list'
                    }).then((resp) => {
                        this.services = resp.data.services
                        this.discounts = resp.data.discount
                        this.holidays = resp.data.holidays
                        console.log(resp)


                        if (this.services.length >= 4) {
                            this.alertText = 'No more than 4 services per order allowed.'
                            this.$refs.alertModal.show()
                        }
                        else {
                            this.$cookie.delete('alert')
                        }

                    }).catch((err) => {
                        console.log(err)
                    })
                }


            }
        },
        created() {
            this.fetch()
        },
        beforeCreate() {
            this.cookieAlert = this.$cookie.get('alert');
        },
        mounted() {

        }

    }
</script>
