<template>
    <section class="confirmation">
        <div class="container">
            <div class="row breadcrumbs">
                <a class="col-4 disabled">Sélection</a>
                <a class="col-4 disabled">Informations</a>
                <a class="col-4 active">Confirmation</a>

            </div>
            <hr class="hr-text" data-content="Récapitulatif de votre commande">
        </div>
        <div class="container top-block">
            <div class="title-block">Votre demande a bien été prise en compte !</div>
            <div class="text-center mb-3">
                Nous cherchons un coiffeur disponible pour vous chouchouter.
                <br>
                Vous recevrez un SMS de confirmation dès qu’un de nos coiffeurs aura accepté votre demande.
            </div>
        </div>
        <div class="container">
            <div class="row product-list">
                <div class="product-item col-12" ref="product" v-for="( product, index ) of services">
                    <div class="top-block">
                        <div class="title-prod">{{product.name}}</div>
                        <div class="data-prod">
                            <div class="time mr-3">
                                <i class="sprite sprite-clock-c mr-1"></i>
                                {{product.duration}} min.
                            </div>
                            <div class="price">
                                <i class="sprite sprite-pig-c mr-1"></i>
                                {{product.price}} €
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md img-prod pr-md-0 pr-3">
                            <img :src="product.image" alt="">
                        </div>
                        <div class="col-md-5">
                            <div class="description-block">
                                <div class="title-block">Détails</div>
                                <div class="description">
                                    {{product.details}}
                                </div>
                            </div>
                            <div class="description-block">
                                <div class="title-block">
                                    Préparation
                                </div>
                                <div class="description">
                                    {{product.preparation}}
                                </div>
                            </div>

                        </div>
                        <div class="col-md">
                            <div class="prank-block">
                                <div class="title-prank">Astuce</div>
                                <div class="description">{{product.trick}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="control-panel">
                        <div class="row" v-if="selectedServices[index].present">
                            <div class="col-12 present-block">
                                <img src="../../images/calendar-rose.png" alt="" class="mr-3">
                                <span>Ceci est un cadeau</span>
                            </div>
                        </div>
                        <div class="row" v-else>
                            <div class="col-12 date-block mb-4" v-if="!selectedServices[index].moment">
                                <span class="name-block mr-2">Votre rendez-vous: </span>

                                <i class="sprite sprite-calendar mr-2"></i>
                                {{selectedServices[index].date | filterDate('DD/MM/YYYY')}}

                                <i class="sprite sprite-time ml-4 mr-2"></i>
                                {{selectedServices[index].date | filterDate('hh:mm')}}

                            </div>
                            <div class="col-12 date-block mb-4" v-else>
                                <i class="sprite sprite-thunder mr-4"></i>
                                <br> <b class="text-uppercase">MAINTENANT !</b>
                            </div>

                            <div class="col-sm-4">
                                <div class="title-address">Adresse du rendez-vous</div>
                                <div>{{checkAddress.first_name}} {{checkAddress.last_name}}</div>
                                <div>{{checkAddress.address}}</div>
                                <div>{{checkAddress.location.name}}</div>
                                <div><i>tel: {{checkAddress.phone}}</i></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="title-address">Adresse de facturation</div>
                                <div>....</div>
                                <div>....</div>
                                <div>....</div>
                            </div>
                            <div class="col-sm-4">
                                <div class="title-address">
                                    Adresse email
                                </div>
                                <div>{{email}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container total-block px-md-0 mt-5">

            <div class="row">
                <div class="col-12">
                    <div class="title-block color-nepal mb-1">
                        Annuler ou modifier ma réservation :
                        <router-link class="color-nepal" :to="{ name: 'services' }">comment ça marche ?</router-link>
                    </div>
                </div>
                <div class="col-md-5">
                    <div>
                        <i class="sprite sprite-lock"></i>
                        Paiement sécurisé
                    </div>
                    <div class="cart-images">
                        <img src="../../images/cart1.png" alt="">
                        <img src="../../images/cart2.png" alt="">
                    </div>
                </div>
                <div class="col-md-7 text-right">

                    <div class="total-prise">
                        <span class="mr-5">TOTAL</span>
                        <span class="count-price">
                            {{ 79 | currency(' €', 2, { symbolOnLeft: false, decimalSeparator: ','})}}
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </section>
</template>

<script>
    import filterDate from '../mixins/filterDate';
    import AuthHeaders from '../mixins/auth';
    import params from '../params';

    export default {
        name: "checkout-confirmation-page",
        mixins: [filterDate, AuthHeaders, params],

        data() {
            return {
                categories: [],
                checkAddress: undefined,
                selectedServices: undefined,
                services: undefined,
                email: params.contact.email,

            }
        },
        created() {
            this.checkAddress = JSON.parse(this.$cookie.get('check-address'));
            this.selectedServices = JSON.parse(this.$cookie.get('selected-services'));
            this.services = JSON.parse(this.$cookie.get('services'));
            console.log('checkAddress', this.checkAddress);
            console.log('this.chooseServices', this.selectedServices);
            console.log('this.services', this.services);


        }
    }
</script>
