<template>
    <section class="checkout content">

        <router-view></router-view>


    </section>

</template>

<script>

    import AuthMixin from '../mixins/auth';


    export default {
        name: "checkout",

        components: {

        },
        data() {
            return {
                categories: [],
                routName: '',
            }
        },
        methods: {



        },
        created(){
            this.routName = 'Votre '+this.$router.history.current.name;
        }
    }


</script>
