<template>
    <section class="conditions content">
        <div class="container">
            <h2>CONDITIONS GENERALES DE VENTE ET D’UTILISATION – BELEBO SAS</h2>
            <div v-html="general"></div>
            <div class="row buttons">
                <div class="col">
                    <a
                            @click.prevent="toggle('provider')"
                            :class="{
                                    'condition-btn': true,
                                    'active': showProvider
                                }"
                            href="#"
                    >
                        <img src="../../images/feat-3.png"/>
                        Conditions Générales de Vente Prestataire
                    </a>
                </div>
                <div class="col">
                    <a
                            @click.prevent="toggle('client')"
                            :class="{
                                    'condition-btn': true,
                                    'active': showClient
                                }"
                            href="#"
                    >
                        <img src="../../images/cond_client.png"/>
                        Conditions Générales d’Utilisation Client
                    </a>
                </div>
            </div>
            <div v-html="provider" v-if="showProvider"></div>
            <div v-html="client" v-if="showClient"></div>
        </div>
    </section>
</template>

<script>

    export default {
        name: 'ConditionsPage',
        data() {
            return {
                general: null,
                provider: null,
                client: null,
                showProvider: false,
                showClient: false
            }
        },
        methods: {
            toggle(type) {
                if (type === 'provider') {
                    this.showClient = false;
                    this.showProvider = !this.showProvider;
                } else {
                    this.showProvider = false;
                    this.showClient = !this.showClient;
                }
                if (!this[type]) {
                    this.getConditions(type);
                }
            },
            getConditions(type) {
                this.$http.get(route('conditions', type))
                    .then((r) => {
                        this[type] = r.data.data.text;
                    });
            }
        },
        mounted() {
            this.getConditions('general');
        }
    }
</script>
