<template>
    <section class='contact content'>
        <div class='container'>
            <div class='row description'>
                <div class='col-lg-6 mx-auto'>
                    <h1>Contactez-nous</h1>
                    Une question? Laissez-nous un petit mot et c'est promis on vous chouchoutera dans les meilleurs
                    dalais
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-5 mx-auto contact-sidebar divided'>
                    <img class='icon-medium' src="../../images/bb2.png">
                    <img class='icon-small' src="../../images/bb1.png">
                    <div class="contacts">
                        Vous pouvez qussi<br>
                        nous contacter<br>
                        directement sur<br>
                        <strong class='nepal'>{{$params.contact.email}}</strong><br>
                        ou au <strong class='nepal'>{{$params.contact.phone}}</strong>
                    </div>
                    <img class='icon-medium' src="../../images/bb3.png">
                    <img class='icon-small' src="../../images/bb4.png">
                </div>
                <contact-form class="col-lg-7 mx-auto"></contact-form>
            </div>
        </div>
    </section>
</template>

<script>
    import ContactForm from '../components/ContactForm';

    export default {
        components: {ContactForm},
        name: 'ContactPage'
    }
</script>
