<template>
  <section class="feedback content">
    <div class="container">
      <div class="row description">
        <div class="col-lg-7 mx-auto">
          <h1>Donnez votre avis !</h1>
          Vous vous êtes enfin faits chouchouté ?
          <br>
          Partagez votre expérience afin d‘améliorer nos services !
        </div>


      </div>
      <div class="row">
        <div class="col-lg-5 contact-sidebar divided px-5">
          <img src="../../images/bb2.png" class="icon-medium">
          <img src="../../images/bb1.png" class="icon-small">
          <div class="contacts text-center px-md-5">
            <span class="accent">-5€</span>
            <br>

            Vous avez aimé vous faire
            <br>
            chouchouter ?
            <br>
            Parrainez vos amiset
            <br>
            gagnez 5 €
            <br>
            de réduction chacun.
            <sub>Uniquement
              <br>
              réservé aux
              <br>
              nouveaux utilisateur.
              <br>
              <a href="javasctipt:;">Lire les conditions</a>
            </sub>


          </div>
          <form class="my-4 w-75 mx-auto  px-md-5"
                @submit.prevent="sendInvite"
                v-if="!sent"
          >
            <div class="form-row form-group">
              <div class="col">
                <input
                    type="email"
                    name="email1"
                    placeholder="Email de votre ami"
                    v-model="inviteForm.email1"
                    v-validate="'required|email'"
                    :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email1')
                            }"
                />
                <div v-show="errors.has('email1')" class="invalid-feedback">{{ errors.first('email1') }}</div>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="col">
                <input
                    type="email"
                    name="email2"
                    placeholder="Email de votre ami"
                    v-model="inviteForm.email2"
                    v-validate="'email'"
                    :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email2')
                            }"
                />
                <div v-show="errors.has('email2')" class="invalid-feedback">{{ errors.first('email2') }}</div>
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col">
                <input
                    type="email"
                    name="email3"
                    placeholder="Email de votre ami"
                    v-model="inviteForm.email3"
                    v-validate="'email'"
                    :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email3')
                            }"
                />
                <div v-show="errors.has('email3')" class="invalid-feedback">{{ errors.first('email3') }}</div>
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col">
                <input
                    type="email"
                    name="email4"
                    placeholder="Email de votre ami"
                    v-model="inviteForm.email4"
                    v-validate="'email'"
                    :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email4')
                            }"
                />
                <div v-show="errors.has('email4')" class="invalid-feedback">{{ errors.first('email4') }}</div>
              </div>
            </div>

            <button type="submit" class="btn btn-fat btn-zinnwaldite">Envoyer</button>

          </form>
          <b-alert v-else
                   :show="true"
                   variant="success"
          >
            Your message was sent
          </b-alert>
        </div>


        <div class="col-lg-7">
          <h6 class="mb-4">Donnez-nous votre avis sur la qualité de la prestation</h6>
          <form @submit.prevent="sendFeedback"
                v-if="!sendFeed">
            <div class="mb-2 d-md-flex justify-content-between">
              <div>Ponctualité, durée de la prestation</div>
              <rating ref="punctuality"></rating>
            </div>
            <div class="mb-2 d-md-flex justify-content-between">
              <div>Écoute et respect de votre demande</div>
              <rating ref="respecting"></rating>
            </div>
            <div class="mb-2 d-md-flex justify-content-between">
              <div>Satisfaction du résultat  </div>
              <rating ref="result"></rating>
            </div>
            <div class="mb-2 justify-content-between">
              <div><b>Note globale, recommanderiez vous ce prestataire ? </b></div>
              <rating ref="overallRatingPrestataire"></rating>
            </div>


            <div class="form-row form-group mb-4">
              <div class="col">
                <b-form-textarea
                    :rows="6"
                    :max-rows="6"
                    id="message"
                    name="messageService"
                    placeholder="Laissez un commentaire sur la prestation"
                    v-model="feedbackForm.messageService"
                    v-validate="'required'"
                    :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('messageService')
                                }"
                ></b-form-textarea>
                <div v-show="errors.has('messageService')" class="invalid-feedback">
                  {{ errors.first('messageService') }}
                </div>
              </div>
            </div>

            <h6 class="mb-4">Donnez-nous votre avis sur le site </h6>

            <div class="mb-2 d-md-flex justify-content-between">
              <div>Rapidité de chargement  </div>
              <rating ref="speed"></rating>
            </div>
            <div class="mb-2 d-md-flex justify-content-between">
              <div>Intéret du contenu</div>
              <rating ref="contentInterest"></rating>
            </div>
            <div class="mb-2 d-md-flex justify-content-between">
              <div>Facilité de réservation  </div>
              <rating ref="easyBooking"></rating>
            </div>
            <div class="mb-2 justify-content-between">
              <div><b>Note globale, recommanderiez vous ce site  ?  </b></div>
              <rating ref="overallRatingSite"></rating>
            </div>


            <div class="form-row form-group">
              <div class="col">
                <b-form-textarea
                    :rows="6"
                    :max-rows="6"
                    id="message"
                    name="messageServiceSite"
                    placeholder="Laissez un commentaire sur la prestation"
                    v-model="feedbackForm.messageServiceSite"
                    v-validate="'required'"
                    :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('messageServiceSite')
                                }"
                ></b-form-textarea>
                <div v-show="errors.has('messageServiceSite')" class="invalid-feedback">
                  {{ errors.first('messageServiceSite') }}
                </div>
              </div>
            </div>

            <div class="text-right">
              <button type="submit" class="btn btn-fat btn-zinnwaldite">Envoyer</button>
            </div>


          </form>
          <b-alert v-else
                   :show="true"
                   variant="success"
          >
            Your message was sent
          </b-alert>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import ratingComponent from '../components/Reviews/RatingComponent'

  export default {
    name: "ReviewsAfterMail",
    components: {
      'rating': ratingComponent
    },
    data() {
      return {
        sent: false,
        sendFeed: false,
        inviteForm: {
          email1: '',
          email2: '',
          email3: '',
          email4: ''
        },
        feedbackForm: {
          messageService: '',
          messageServiceSite: ''

        }
      }
    },
    methods: {
      sendInvite() {
        console.log(this.$validator)

        this.$validator.validateAll().then((valid) => {
          if (valid) {
            console.log('send', valid);
            this.sent = true;
          }
        })

      },
      sendFeedback() {
        let fedbackData = {
          punctuality: this.$refs.punctuality.stars,
          respecting: this.$refs.respecting.stars,
          result: this.$refs.result.stars,
          overallRatingPrestataire: this.$refs.overallRatingPrestataire.stars,
          messageServicePrestataire : this.feedbackForm.messageService,

          speed: this.$refs.speed.stars,
          contentInterest: this.$refs.contentInterest.stars,
          easyBooking: this.$refs.easyBooking.stars,
          overallRatingSite: this.$refs.overallRatingSite.stars,
          messageServiceSite: this.feedbackForm.messageServiceSite,
        }






        this.$validator.validateAll().then((valid) => {

          if (valid) {
            console.log('send', valid);
            this.sendFeed = true;
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>