<template>
    <div class="home">
        <home-banner/>
        <home-features/>
        <home-news/>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <home-favorite/>
                </div>
                <div class="col-lg-6 text-center">
                    <reviews-slider></reviews-slider>
                    <router-link :to="{name: 'reviews'}" class="btn btn-fat btn-nepal m-auto">Voir plus d’aVIS</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HomeBanner from '../components/Home/HomeBanner';
    import HomeFeatures from '../components/Home/HomeFeatures';
    import HomeNews from '../components/Home/HomeNews';
    import HomeFavorite from '../components/Home/HomeFavorite';
    import ReviewsSlider from '../components/Reviews/ReviewsSlider'

    export default {
        name: 'HomePage',
        components: {HomeBanner, HomeFeatures, HomeNews, HomeFavorite, ReviewsSlider}
    }
</script>
