<template>
  <div class="marriage">
    <section class="banner">
      <div class="container">
        <div class="wrapper">
          <h1>Forfait Mariage</h1>
          Profitez des conseils d’un expert <br> pour le plus beau jour de votre vie!
        </div>
      </div>
    </section>
    <section class="description">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 image-block">
            <img src="../../images/marriage-description.jpg"/>
          </div>
          <div class="col-lg-7 text-center">
            <h2>Le Grand Jour approche...</h2>
            <p><strong>L’élaboration d’une belle coiffure se prépare!<br>
              Nous sommes à votre écoute.</strong></p>

            <p>Vous laissez pousser vos cheveux depuis des mois sans savoir à quoi ressemblera votre
              coiffure de mariage? Arrêtez donc de vous torturez l’esprit, passez à l’action!</p>

            <p>Les chouchoutés sont à votre disposition. Ils se déplacent chez vous pour vous accompagner et
              vous conseiller à l’approche de ce jour inoubliable.</p>

            <p>Depuis l’incontournable chignon en passant par les tresses que nous revisitons ou encore les
              cheveux travaillés tout en souplesse pour un coté plus naturel, nous serons trouver
              l’harmonie entre le thème de votre mariage, votre robe et votre maquillage, qui rendra votre
              style irrésistible.</p>

            <p><strong>Un rendez vous à ne pas manquer!</strong></p>
          </div>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container">
        <div class="row">
          <h2 class="col text-center">Services proposés</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="service-block">
              <div>
                <div class="images">
                  <img src="../../images/girl2.png"/>
                </div>
                Coiffure sans essai
                <div class="price">99 €</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="service-block">
              <div>
                <div class="images">
                  <img src="../../images/girl2.png"/>
                  <img src="../../images/comb.png"/>
                </div>
                Coiffure avec essai
                <div class="price">129 €</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="service-block">
              <div>
                <div class="images">
                  <img src="../../images/boy2.png"/>
                  <img src="../../images/girl2.png"/>
                </div>
                Coiffure de la mariée <br> sans essai <br> + la coupe du marié
                <div class="price">119 €</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="service-block">
              <div>
                <div class="images">
                  <img src="../../images/boy2.png"/>
                  <img src="../../images/girl2.png"/>
                  <img src="../../images/comb.png"/>
                </div>
                Coiffure de la mariée <br> avec essai <br> + la coupe du marié
                <div class="price">149 €</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="guests">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-block">
            <div>
              <h3>Nos prenons soin également de vos invités<br>et proposons des attaches rapides!</h3>
              <h2>30 min: 30€.</h2>
              <p>
                Vos invitées doivent être toutes aussi resplendissantes que vous.
                Pour elles, nous vous proposons un coiffage sur mesure pour l’occasion.
                Pensez à l’accessoire qui fera la différence et qui sublimera votre coiffure.
                Les nouvelles tendances n’ont pas de secret pour nous
              </p>
            </div>
          </div>
          <div class="col-lg-5">
            <img src="../../images/marriage-guests.jpg"/>
          </div>
        </div>
      </div>
    </section>

    <div class="booking_marriage_block workshops content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 rev-container text-center divided">
            <div class="row">
              <div class="col-md-10">
                <img src="../../images/marriage-reviews.jpg" alt="">
                <reviewsSlider></reviewsSlider>
                <router-link :to="{name: 'reviews'}" class="btn btn-fat btn-zinnwaldite">Voir plus d’aVIS</router-link>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <workshop-form/>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import reviewsSlider from '../components/Reviews/ReviewsSlider'
  import WorkshopForm from '../components/WorkshopForm';


  export default {
    name: 'MarriagePage',
    components:{
      reviewsSlider,
      WorkshopForm
    },
    mounted(){

    }
  }
</script>
