<template>
    <section class="news content">
        <div class="container">
            <div class="row description">
                <div class='col-lg-7 mx-auto'>
                    <h1>Les actualités <br> des chouchoutés</h1>
                    <strong>Astuces, portraits de nos chouchouteurs préférés et dernières tendances coiffures:
                        Restez informés jusqu’au bout des pointes!</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block sidebar divided">
                    <sidebar-component></sidebar-component>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                    <news-list-component></news-list-component>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SidebarComponent from '../components/News/NewsSidebar';
    import NewsListComponent from '../components/News/NewsList';

    export default {
        components: {SidebarComponent, NewsListComponent},
        name: 'NewsListPage',
    }
</script>
