<template>
    <section class="news content">
        <div class="container">
            <news-item-component></news-item-component>
        </div>
    </section>
</template>

<script>
    import NewsItemComponent from '../components/News/NewsItem';

    export default {
        'name': 'NewsItemPage',
        components: {NewsItemComponent}
    }
</script>
