<template>
    <section class="profile content">
        <div v-if="fetched">
            <div class="container">
                <div v-if="user">
                    <div class="text-right">
                        <button @click="deauthorize(true)" class="btn btn-nepal-glassy btn-fat">Connectez - Out</button>
                    </div>
                    <b-tabs vertical>
                        <b-tab title="Mes rendez-vous">
                            <appointments-component/>
                        </b-tab>
                        <b-tab title="Mon profil">
                            <provider-profile
                                    v-if="provider"
                                    :user="user"
                            />
                            <client-profile
                                    v-else
                                    :user="user"
                            />
                        </b-tab>
                        <b-tab :title="provider?'Mes options':'Parrainage'">
                            <provider-options v-if="provider"/>
                            <client-sponsorship v-else/>
                        </b-tab>
                    </b-tabs>
                </div>
                <div v-else class="text-center">
                    <h1>Authorization required</h1>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import AuthMixin from '../mixins/auth';
  import ClientProfile from '../components/Auth/Client/ProfileComponent';
  import ProviderProfile from '../components/Auth/Provider/ProfileComponent';
  import ProviderOptions from '../components/Auth/Provider/ProfileComponent';
  import ClientSponsorship from '../components/Auth/Client/Sponsorship';
  import AppointmentsComponent from '../components/Auth/Client/AppointmentsComponent';

  export default {
    mame: 'ProfilePage',
    components: {
      ClientProfile,
      ProviderProfile,
      ProviderOptions,
      ClientSponsorship,
      AppointmentsComponent,
    },
    mixins: [AuthMixin],
    data() {
      return {
        user: null,
        provider: false,
        fetched: false,
      };
    },
    watch: {
      auth() {
        this.fetch();
      },
    },
    methods: {
      fetch() {
        this.$http.get(
            route('profile.show'),
            this.AuthHeaders,
        ).then((r) => {
          this.user = r.data.data;
          this.provider = this.user.addresses ? false : true;
          this.fetched = true;
        }).catch(() => {
          this.fetched = true;
          this.showAuthModal();
        });
      },
    },
    mounted() {
      this.fetch();
    },
  };
</script>
