<template>
    <section class="content">
        <div class="container">
            <div class="row description">
                <div class='col-lg-6 mx-auto'>
                    <h1>Devenez chouchouteur!</h1>
                    Rejoignez notre famille de professionnels de la coiffure à domicile et obtenez des rendez-vous dans
                    la zone de votre choix.
                </div>
            </div>
            <transition>
                <form
                        v-if="!sent"
                        style="position:relative"
                        class="registration-form"
                        @submit.prevent="submit"
                >
                    <div class="registration-form row">
                        <div class="col-lg-6">
                            <div class="wrapper">
                                <provider-form
                                        v-model="provider"
                                        ref="provider"
                                        @valid="validCount+=1"
                                />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="wrapper">
                                <company-form
                                        v-model="company"
                                        ref="company"
                                        @valid="validCount+=1"
                                />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="wrapper">
                                <representative-form
                                        v-model="representative"
                                        ref="representative"
                                        @valid="validCount+=1"
                                />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="wrapper">
                                <shareholders-form
                                        v-model="shareholders"
                                        ref="shareholders"
                                        @valid="validCount+=1"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="registration-form row">
                        <div class="col-lg-12">
                            <div class="form-group text-center">
                                <button class="btn btn-fat btn-zinnwaldite" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="sent===false" class="spinner" style="
                        width:100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(255,255,255,0.5);
                    "></div>
                </form>
                <b-alert
                        v-else
                        :show="true"
                        variant="success"
                >
                    You have been registered
                </b-alert>
            </transition>
        </div>
    </section>
</template>

<script>
    import ProviderForm from '../components/Auth/Provider/ProviderForm';
    import CompanyForm from '../components/Auth/Provider/CompanyForm';
    import RepresentativeForm from '../components/Auth/Provider/RepresentativeForm';
    import ShareholdersForm from '../components/Auth/Provider/ShareholdersForm';

    export default {
        name: 'ProviderRegistrationPage',
        components: {
            ProviderForm,
            CompanyForm,
            RepresentativeForm,
            ShareholdersForm,
        },
        data() {
            return {
                provider: {},
                company: {},
                representative: {},
                shareholders: [],
                validCount: 0,
                ready: 0,
                sent: null
            }
        },
        watch: {
            validCount(val) {
                if (val === 4) {
                    this.sendFiles();
                }
            },
            ready(val) {
                if (val === (3 + this.shareholders.length)) {
                    this.register();
                }
            }
        },
        methods: {
            submit() {
                this.validCount = 0;
                this.ready = 0;
                this.$refs.provider.validate();
                this.$refs.company.validate();
                this.$refs.representative.validate();
                this.$refs.shareholders.validate();
            },
            sendFiles() {
                this.sent = false;
                this.sendFile(this.provider.image).then((r) => {
                    this.provider.passport = r.data.data.id;
                    this.ready += 1;
                });
                this.sendFile(this.company.image).then((r) => {
                    this.company.certificate = r.data.data.id;
                    this.ready += 1;
                });
                this.sendFile(this.representative.image).then((r) => {
                    this.representative.passport = r.data.data.id;
                    this.ready += 1;
                });
                for (let i = 0; i < this.shareholders.length; i++) {
                    this.sendFile(this.shareholders[i].image).then((r) => {
                        this.shareholders[i].passport = r.data.data.id;
                        this.ready += 1;
                    });
                }
            },
            sendFile(file) {
                let data = new FormData;
                data.append('file', file);
                return this.$http.post(
                    route('file.store', 'image'),
                    data
                );
            },
            register() {
                let data = {
                    provider: {...this.provider},
                    company: {...this.company},
                    representative: {...this.representative},
                    shareholders: []
                };
                for (let i = 0; i < this.shareholders.length; i++) {
                    data.shareholders[i] = {...this.shareholders[i]};
                    data.shareholders[i].date_of_birth = this.$moment(data.shareholders[i].date_of_birth).format('DD/MM/YYYY');

                }
                data.provider.date_of_birth = this.$moment(data.provider.date_of_birth).format('DD/MM/YYYY');
                data.representative.date_of_birth = this.$moment(data.representative.date_of_birth).format('DD/MM/YYYY');
                this.$http.post(
                    route('register.provider'),
                    data
                ).then(() => {
                    this.sent = true;
                });
            }
        }
    }
</script>
