<template>
    <section class="content questions">
        <div class="container">
            <div class="row description">
                <div class="col-lg-6 mx-auto">
                    <h1>Foire aux questions</h1>
                    Une question? Les chouchoutés sont là pour vous répondre!
                </div>
            </div>
            <ul class="categories">
                <li
                        class="category"
                        v-for="category in categories"
                >
                    <h2>{{category.name}}</h2>
                    <ul>
                        <li v-for="question in category.questions">
                            <question-component :question="question"></question-component>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row contacts align-items-center">
                <div class="col-lg-4">
                    <img class='icon-medium' src="../../images/bb2.png">
                    <img class='icon-small' src="../../images/bb1.png">
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="mx-auto col-lg-8">
                            Vous n’avez pas trouvé la réponse à votre question? <br>
                            Contactez-nous <br> directement sur
                            <strong class='nepal'>{{$params.contact.email}}</strong><br>
                            ou au <strong class='nepal'>{{$params.contact.phone}}</strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img class='icon-medium' src="../../images/bb3.png">
                    <img class='icon-small' src="../../images/bb4.png">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import QuestionComponent from '../components/QuestionComponent';

    export default {
        name: 'QuestionsPage',
        components: {QuestionComponent},
        data() {
            return {
                categories: {}
            }
        },
        mounted() {
            this.$http.get(route('questions'))
                .then((r) => {
                    this.categories = r.data.data;
                });
        }
    }
</script>
