<template>
  <section class="reviews content">
    <div class="container">
      <div class="title-block">
        Les avis
      </div>
      <div class="sub-title">
        Découvrez les belles expériences de nos clients !
      </div>
      <div class="row reviews-block">

        <div class="col-md-6 colum-reviews">
          <div class="reviews-item p-4" v-for="item of reviews.slice(0, 2)" :key="item.id">
            <Rating :grade="item.rating" :hasCounter="false"/>
            <div class="reviews-text">{{item.text}}</div>
            <div class="author text-right">
              {{ item.author }}
            </div>
            <div class="answer mt-4" v-if="item.answer">
              {{ item.answer }}
            </div>
          </div>
        </div>

        <div class="col-md-6 colum-reviews">
          <div class="reviews-item p-4" v-for="item of reviews.slice(2, 4)" :key="item.id">
            <Rating :grade="item.rating" :hasCounter="false"/>
            <div class="reviews-text">{{item.text}}</div>
            <div class="author text-right">
              {{ item.author }}
            </div>
            <div class="answer mt-4" v-if="item.answer">
              {{ item.answer }}
            </div>
          </div>
        </div>

      </div>


      <div class="title-block mt-5">
        Curieux ?
      </div>
      <div class="sub-title">
        Lancez-vous et réservez un de nos coiffeurs !
        <br>
        <a href="javascript:;" class="btn btn-fat btn-zinnwaldite">me faire chouchouter</a>
      </div>


      <div class="row reviews-block">

        <div class="col-md-6 ">

          <div class="reviews-item p-4" v-for="item of bottomLeftColumRev" :key="item.id">
            <Rating :grade="item.rating" :hasCounter="false"/>
            <div class="reviews-text">{{item.text}}</div>
            <div class="author text-right">
              {{ item.author }}
            </div>
            <div class="answer mt-4" v-if="item.answer">
              {{ item.answer }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="reviews-item p-4" v-for="item of bottomrightColumRev" :key="item.id">
            <Rating :grade="item.rating" :hasCounter="false"/>
            <div class="reviews-text">{{item.text}}</div>
            <div class="author text-right">
              {{ item.author }}
            </div>
            <div class="answer mt-4" v-if="item.answer">
              {{ item.answer }}
            </div>
          </div>
        </div>

      </div>


    </div>


  </section>
</template>

<script>
  import reviews from '../reviews'
  import Rating from '../components/Reviews/RatingComponent'

  export default {
    name: "ReviewsPage",
    components: {
      Rating
    },
    data() {
      return {
        reviews: reviews,
        bottomLeftColumRev: [],
        bottomrightColumRev: [],
      }
    },
    mounted() {
      console.log( reviews )
      console.log( this.reviews )
      let sliceNum = Math.ceil(this.reviews.length - 4  / 2);
      console.log( sliceNum )
      this.bottomLeftColumRev = this.reviews.slice(4, sliceNum)
      this.bottomrightColumRev = this.reviews.slice(sliceNum)




    }
  }





</script>

<style scoped lang="scss">
  @import "../../sass/variables";

  .title-block {
    text-align: center;
    font-size: 2.6em;
    font-weight: 600;
    color: $nepal;
  }

  .sub-title {
    text-align: center;
    margin-bottom: 50px;
  }

  .reviews-item {
    border: 1px solid $nepal;
    min-height: 220px;
    margin-bottom: 20px;
    font-size: 0.95rem;
    .author {
      color: $nepal;
    }
    .answer {
      padding-top: 22px;
      color: $zinnwaldite;
      border-top: 2px solid $zinnwaldite;
    }
  }

  .colum-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

</style>