<template>
    <section class="services content">
        <div class="container">
            <section v-for="category in categories">
                <h3><span>{{category.name}}</span></h3>
                <div class="row">
                    <div
                            class="col-md"
                            v-for="(service,index) in category.services"
                            :class="getClass(category.services, index)"
                    >
                        <div
                                @click="showService(service)"
                                class="service"
                                :style="{'background-image': 'url(' + service.image + ')'}"
                        >
                            <div class="wrapper"></div>
                            <div class="name">
                                {{service.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <b-modal
                ref="ServiceModal"
                size="lg"
                class="service-modal"
                lazy
                centered
                hide-header
                hide-footer
        >
            <span
                    class="fa fa-close"
                    @click="hideServiceModal"
            ></span>
            <div class="row">
                <div class="col-md-7">
                    <div class="wrapper">
                        <div
                                class="image"
                                :style="{'background-image': 'url(' + service.image + ')'}"
                        ></div>
                        <div class="price row">
                            <div class="col col-5">
                                <div>
                                    <img src="../../images/pig.png"/>
                                    {{service.price}} €
                                </div>
                            </div>
                            <div class="col col-7">
                                <div>
                                    <img src="../../images/clock.png"/>
                                    {{service.duration}} minutes
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="details">
                        <h3>Détails</h3>
                        <div v-html="nl2br(service.details)"></div>
                    </div>
                    <div class="preparation">
                        <h3>Préparation</h3>
                        <div v-html="nl2br(service.preparation)"></div>
                    </div>
                    <div class="trick">
                        <h3>Astuce</h3>
                        <div v-html="nl2br(service.trick)"></div>
                    </div>
                    <button @click="addService(service)" class="btn btn-zinnwaldite btn-fat">
                        Réserver maintenant!
                    </button>
                </div>
            </div>
        </b-modal>
    </section>
</template>

<script>
    export default {
        name: 'ServicesPage',
        data() {
            return {
                categories: [],
                service: {},

            }
        },
        methods: {
            getClass(services, index) {
                let length = services.length;
                if (length > 4) {
                    if (index < 3) {
                        return 'col-md-4';
                    }
                }
                return '';
            },
            showService(service) {
                if (service.name === 'Mariage') {
                    this.$router.push({name: 'marriage'})
                } else if (service.name === 'Atelier') {
                    this.$router.push({name: 'workshops'})
                } else {
                    this.service = service;
                    this.$refs.ServiceModal.show();
                }
            },
            hideServiceModal() {
                this.$refs.ServiceModal.hide();
            },
            nl2br(str) {
                if (str) {
                    return str.replace(/([^>])\n/g, '$1<br/>');
                }
            },
            addService(service) {
                let services = JSON.parse(this.$cookie.get('services'));
                if (!services || typeof services !== 'object') {
                    services = [];
                }
                if (services.length >= 4) {
                    this.$cookie.set('alert', 'No more than 4 services per order allowed.');
                    services[services.length-1] = service;



                } else {
                    services.push(service);
                    if(this.$cookie.get('alert')){
                        this.$cookie.delete('alert')
                    }
                }

                this.$cookie.set('services', JSON.stringify(services));
                this.$router.push({name: 'selection'});
            }
        },
        mounted() {
            this.$http.get(
                route('services.index')
            ).then((r) => {
                this.categories = r.data.data;
            });
        }
    }
</script>
