<template>
    <section class="workshops content">
        <div class="container">
            <div class="row description">
                <div class='col-lg-7 mx-auto'>
                    <h1>Nos ateliers</h1>
                    <strong>Profitez des conseils d’un expert et faites-vous plaisir entre amies!</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 divided">
                    <div class="row">
                        <div class="col-lg-10 workshop-info">
                            <h2>Atelier formation</h2>
                            <div
                                    class="image"
                                    :style="{'background-image': 'url(' + data.image + ')'}"
                            ></div>
                            <div class="price">
                                <img src="../../images/clock.png"/> {{data.duration}} min.
                                <img src="../../images/pig.png"/> {{data.price}} €
                            </div>
                            <p>
                                <strong>De 2 à 6 personnes pendant 2 heures.</strong><br>
                                Un professionnel de la coiffure vous apprendra à maitriser les basiques de la coiffure
                                avec des astuces et conseils sur mesure! La prestation est basée sur les techniques
                                d’attaches et de coiffures.
                            </p>
                            <p>
                                <em>
                                    <small>Service uniquement disponible en Alsace actuellement</small>
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <workshop-form/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import WorkshopForm from '../components/WorkshopForm';

    export default {
        name: 'WorkshopPage',
        components: {WorkshopForm},
        data() {
            return {
                data: {}
            }
        },
        created() {
            this.$http.get(route('services.show', 'Atelier'))
                .then((r) => {
                    this.data = r.data.data;
                });
        }
    }
</script>
