<template>
    <div>
        <breadcrumbs-component
                :links="[
                    {name: 'services', title: 'Services'},
                    {title: 'Categories'}
                ]"
        />
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <category-list/>
                </widget-component>
            </div>
        </div>
    </div>
</template>

<script>
    import CategoryList from '../../components/CategoryList';
    import WidgetComponent from '../../components/WidgetComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';

    export default {
        name: 'ServicesCategoriesPage',
        components: {CategoryList, BreadcrumbsComponent, WidgetComponent}
    }
</script>