<template>
    <div>
        <breadcrumbs-component :links="[{title: 'Services'}]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <div>
                        <router-link
                                :to="{name: 'services.create'}"
                                class="btn btn-nepal-glassy"
                        >
                            <i class="fa fa-plus-circle"></i> Create
                        </router-link>
                    </div>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the service "{{service.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import WidgetComponent from '../../components/WidgetComponent';
    import ImageComponent from '../../components/Table/ImageComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import TimestampsComponent from '../../components/Table/TimestampsComponent';

    export default {
        name: 'ServicesPage',
        components: {
            DataTable,
            AlertComponent,
            ImageComponent,
            WidgetComponent,
            BreadcrumbsComponent,
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Image',
                            field: 'image',
                            tdComp: ImageComponent,
                            thStyle: {width: '100px'}
                        },
                        {
                            title: 'Name',
                            field: 'name',
                        },
                        {
                            title: 'Category',
                            field: 'category',
                        },
                        {
                            title: 'Price',
                            field: 'price',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Duration',
                            field: 'duration',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Timestamps',
                            tdComp: TimestampsComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 0,
                    pageSizeOptions: [15],
                    query: {limit: 15, offset: 0, order: '', sort: ''}
                },
                service: {}
            }
        },
        computed: {
            query() {
                return this.table.query;
            }
        },
        watch: {
            query: {
                handler() {
                    this.fetch();
                },
                deep: true
            }
        },
        methods: {
            fetch(limit = this.query.limit, offset = this.query.offset) {
                let page = offset / limit + 1;
                this.$http.get(route('admin.services.index'), {
                    params: {
                        page: page,
                        limit: limit
                    }
                }).then((r) => {
                    this.table.data = r.data.data;
                    this.table.total = r.data.meta.total;
                });
            },
            showEdit(data) {
                this.$router.push({name: 'services.edit', params: {id: data.id}});
            },
            showDelete(data) {
                this.service = {...data};
                this.$refs.deleteModal.show();
            },
            deleteRow() {
                this.$http.delete(route('admin.services.destroy', this.service.id))
                    .then((r) => {
                        this.$refs.alert.show('The service "' + this.service.name + '" was removed');
                        this.fetch();
                    });
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>
