<template>
    <div>
        <breadcrumbs-component
                :links="[
                    {name: 'services', title: 'Services'},
                    {title: 'Create service'}
                ]"
        />
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <form @submit.prevent="submit">
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="name"
                                        placeholder="Name"
                                        v-model.lazy="form.name"
                                        v-validate="'required'"
                                        :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('name')
                                        }"
                                />
                                <div v-show="errors.has('name')" class="invalid-feedback">
                                    {{ errors.first('name') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <b-form-textarea
                                        :rows="3"
                                        :max-rows="3"
                                        id="details"
                                        name="details"
                                        placeholder="Details"
                                        v-model="form.details"
                                        v-validate="'required'"
                                        :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('details')
                                        }"
                                >
                                </b-form-textarea>
                                <div v-show="errors.has('details')" class="invalid-feedback">
                                    {{ errors.first('details') }}
                                </div>
                            </div>
                            <div class="col">
                                <b-form-textarea
                                        :rows="3"
                                        :max-rows="3"
                                        id="preparation"
                                        name="preparation"
                                        placeholder="Preparations"
                                        v-model="form.preparation"
                                        v-validate="'required'"
                                        :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('preparation')
                                        }"
                                >
                                </b-form-textarea>
                                <div v-show="errors.has('preparation')" class="invalid-feedback">
                                    {{ errors.first('preparation') }}
                                </div>
                            </div>
                            <div class="col">
                                <b-form-textarea
                                        :rows="3"
                                        :max-rows="3"
                                        id="trick"
                                        name="trick"
                                        placeholder="Trick"
                                        v-model="form.trick"
                                        v-validate="'required'"
                                        :class="{
                                            'form-control': true,
                                            'is-invalid': errors.has('trick')
                                        }"
                                >
                                </b-form-textarea>
                                <div v-show="errors.has('trick')" class="invalid-feedback">
                                    {{ errors.first('trick') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <category-field
                                        required
                                        name="category"
                                        v-model.lazy="form.category"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('category')}"
                                />
                                <div v-show="errors.has('category')" class="invalid-feedback">
                                    {{ errors.first('category') }}
                                </div>
                            </div>
                            <div class="col">
                                <b-form-input
                                        name="price"
                                        type="number"
                                        :min="1"
                                        placeholder="Price"
                                        v-validate="'required|numeric|min_value:1'"
                                        v-model="form.price"
                                        :class="{
                                            'is-invalid': errors.has('price')
                                        }"
                                ></b-form-input>
                                <div v-show="errors.has('price')" class="invalid-feedback">
                                    {{ errors.first('price') }}
                                </div>
                            </div>
                            <div class="col">
                                <b-form-input
                                        name="duration"
                                        type="number"
                                        :min="1"
                                        placeholder="Duration"
                                        v-validate="'required|numeric|min_value:1'"
                                        v-model="form.duration"
                                        :class="{
                                            'is-invalid': errors.has('duration')
                                        }"
                                ></b-form-input>
                                <div v-show="errors.has('duration')" class="invalid-feedback">
                                    {{ errors.first('duration') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group" v-if="!submitted">
                            <div class="col">
                                <upload-field
                                        name="image"
                                        v-model="form.image"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('image')}"
                                >
                                    <span slot="label">Image</span>
                                    <span slot="helper">JPG or PNG, max 10mb</span>
                                </upload-field>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
                        </div>
                    </form>
                </widget-component>
            </div>
        </div>
    </div>
</template>

<script>
    import UploadField from '../../components/Form/UploadField';
    import CategoryField from '../../components/Form/CategoryField';
    import WidgetComponent from '../../components/WidgetComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';

    export default {
        name: 'ServicesCreatePage',
        components: {
            UploadField,
            CategoryField,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                form: {
                    name: '',
                    category: undefined,
                    price: 0,
                    duration: 0,
                    details: '',
                    preparation: '',
                    trick: '',
                    image: null,
                },
                ready: 0,
                submitted: false
            }
        },
        watch: {
            ready(val) {
                if (val === 1) {
                    this.sendService();
                }
            }
        },
        methods: {
            submit() {
                this.$validator.validateAll().then((valid) => {
                    if (valid && !this.submitted) {
                        this.submitted = true;
                        this.sendImage('image');
                    }
                });
            },
            sendImage(image) {
                let data = new FormData;
                data.append('file', this.form[image]);
                this.$http.post(
                    route('file.store', 'image'),
                    data
                ).then((r) => {
                    this.form[image] = r.data.data.id;
                    this.ready += 1;
                });

            },
            sendService() {
                let data = this.prepareData();
                this.$http.post(
                    route('admin.services.store'),
                    data
                ).then(() => {
                    this.$router.push({name: 'services'});
                });

            },
            prepareData() {
                let data = new FormData;
                let form = this.form;

                Object.keys(form).map((key) => {
                    switch (key) {
                        case 'category':
                            data.append('category_id', form.category.id);
                            break;
                        default:
                            data.append(key, form[key]);
                    }
                });

                return data;
            }
        }
    }
</script>
