<template>
    <div>
        <breadcrumbs-component :links="[
                {title: 'Users'},
                {title: 'Providers'}
            ]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <div>
                        <router-link
                                :to="{name: 'providers.create'}"
                                class="btn btn-nepal-glassy"
                        >
                            <i class="fa fa-plus-circle"></i> Create
                        </router-link>
                    </div>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete "{{provider.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import WidgetComponent from '../../components/WidgetComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent';
    import BooleanComponent from '../../components/Table/BooleanComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import TimestampsComponent from '../../components/Table/TimestampsComponent';

    export default {
        name: 'UsersProvidersList',
        components: {
            DataTable,
            AlertComponent,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Name',
                            field: 'name'
                        },
                        {
                            title: 'Email',
                            field: 'email',
                        },
                        {
                            title: 'Phone',
                            field: 'phone',
                        },
                        {
                            title: 'Active',
                            field: 'active',
                            tdComp: BooleanComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Timestamps',
                            tdComp: TimestampsComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 0,
                    pageSizeOptions: [15],
                    query: {limit: 15, offset: 0, order: '', sort: ''}
                },
                provider: {}
            }
        },
        computed: {
            query() {
                return this.table.query;
            }
        },
        watch: {
            query: {
                handler() {
                    this.fetch();
                },
                deep: true
            }
        },
        methods: {
            fetch(offset = this.query.offset) {
                let page = offset / 15 + 1;
                this.$http.get(
                    route('admin.providers.index'),
                    {params: {page: page}}
                ).then((r) => {
                    this.table.data = r.data.data;
                    this.table.total = r.data.meta.total;
                });
            },
            showEdit(data) {
                this.$router.push({name: 'providers.edit', params: {id: data.id}});
            },
            showDelete(data) {
                this.provider = {...data};
                this.$refs.deleteModal.show();
            },
            deleteRow() {
                this.$http.delete(
                    route('admin.providers.destroy', this.provider.id)
                ).then(() => {
                    this.fetch();
                    this.$refs.alert.show('Provider ' + this.provider.name + ' was deleted!')
                });
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>
