<template>
    <div v-if="fetched">
        <breadcrumbs-component :links="[
                {title: 'Users'},
                {name: 'providers', title: 'Providers'},
                {title: title}
            ]"/>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <status-form v-model="status"/>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <profile-form v-model="profile"/>
                    <div class="row">
                        <div class="col text-right">
                            <button class="btn btn-fat btn-nepal" @click="$refs.passportModal.show()">
                                Show passport
                            </button>
                            <b-modal
                                    ref="passportModal"
                                    size="lg"
                                    lazy
                                    centered
                                    hide-footer
                                    title="Passport"
                            >
                                <img :src="provider.passport" width="100%"/>
                            </b-modal>
                        </div>
                    </div>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <password-form @update="updatePassword"/>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <provider-form v-model="provider"/>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <availability-form v-model="availability"/>
                </widget-component>
            </div>
            <div class="col">
                <widget-component class="no-padding">
                    <services-form v-model="services"/>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <company-profile-form v-model="company"/>
                    <div class="row">
                        <div class="col text-right">
                            <button class="btn btn-fat btn-nepal" @click="$refs.certificateModal.show()">
                                Show certificate
                            </button>
                            <b-modal
                                    ref="certificateModal"
                                    size="lg"
                                    lazy
                                    centered
                                    hide-footer
                                    title="Certificate"
                            >
                                <img :src="company.certificate" width="100%"/>
                            </b-modal>
                        </div>
                    </div>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <div class="description text-center">
                        <h3 class="zinnwaldite">Informations du représentant légal</h3>
                    </div>
                    <representative-component :data="representative"/>
                </widget-component>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <widget-component class="no-padding">
                    <div class="description text-center">
                        <h3 class="zinnwaldite">Informations sur les actionnaires</h3>
                    </div>
                    <div class="row">
                        <div class="col-6" v-for="(shareholder, key) in shareholders" :key="key">
                            <h4>Shareholder #{{key+1}}</h4>
                            <representative-component :data="shareholder"/>
                        </div>
                    </div>
                </widget-component>
            </div>
        </div>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import WidgetComponent from '../../components/WidgetComponent';
    import PasswordForm from '../../components/User/PasswordForm';
    import StatusForm from "../../components/User/Provider/StatusForm";
    import ProfileForm from '../../components/User/Provider/ProfileForm';
    import ProviderForm from '../../components/User/Provider/ProviderForm';
    import ServicesForm from '../../components/User/Provider/ServicesForm';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import CompanyProfileForm from '../../components/User/Provider/CompanyForm';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import AvailabilityForm from '../../components/User/Provider/AvailabilityForm';
    import RepresentativeComponent from '../../components/User/Provider/RepresentativeComponent';

    export default {
        name: 'UsersUpdateProviderPage',
        components: {
            StatusForm,
            ProfileForm,
            PasswordForm,
            ProviderForm,
            ServicesForm,
            AlertComponent,
            WidgetComponent,
            AvailabilityForm,
            CompanyProfileForm,
            BreadcrumbsComponent,
            RepresentativeComponent
        },
        data() {
            return {
                status: null,
                profile: null,
                provider: null,
                company: null,
                availability: null,
                representative: null,
                shareholders: null,
                fetched: false
            }
        },
        computed: {
            id() {
                return this.$route.params.id;
            },
            title() {
                if (this.profile) {
                    return 'Update ' + this.profile.first_name + ' ' + this.profile.last_name
                } else {
                    return 'Update provider'
                }
            }
        },
        methods: {
            updatePassword(data) {
                this.$http.patch(
                    route('admin.providers.update', this.id),
                    {password: data}
                ).then(() => {
                    this.$refs.alert.show(
                        'Provider\'s password was updated!'
                    );
                });
            }
        },
        mounted() {
            this.$http.get(
                route('admin.providers.show', this.id)
            ).then((r) => {
                this.status = r.data.data.status;
                this.profile = r.data.data.profile;
                this.company = r.data.data.company;
                this.provider = r.data.data.provider;
                this.services = r.data.data.services;
                this.shareholders = r.data.data.shareholders;
                this.availability = r.data.data.availability;
                this.representative = r.data.data.representative;
                this.fetched = true;
            });
        }
    }
</script>
