<template>
    <div>
        <breadcrumbs-component :links="[
                {title: 'Users'},
                {name: 'providers', title: 'Providers'},
                {title: 'Create provider'}
            ]"/>
        <div class="row">
            <div class="col-md-12">
                <form
                        style="position:relative"
                        @submit.prevent="submit"
                >
                    <div class="registration-form row">
                        <div class="col-lg-6">
                            <widget-component>
                                <provider-form
                                        v-model="provider"
                                        ref="provider"
                                        @valid="validCount+=1"
                                />
                            </widget-component>
                        </div>
                        <div class="col-lg-6">
                            <widget-component>
                                <company-form
                                        v-model="company"
                                        ref="company"
                                        @valid="validCount+=1"
                                />
                            </widget-component>
                        </div>
                    </div>
                    <div class="registration-form row">
                        <div class="col-lg-6">
                            <widget-component>
                                <representative-form
                                        v-model="representative"
                                        ref="representative"
                                        @valid="validCount+=1"
                                />
                            </widget-component>
                        </div>
                        <div class="col-lg-6">
                            <widget-component>
                                <shareholders-form
                                        v-model="shareholders"
                                        ref="shareholders"
                                        @valid="validCount+=1"
                                />
                            </widget-component>
                        </div>
                    </div>
                    <div class="registration-form row">
                        <div class="col-lg-12">
                            <div class="form-group text-center">
                                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import WidgetComponent from '../../components/WidgetComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import ProviderForm from '../../../../app/js/components/Auth/Provider/ProviderForm';
    import CompanyForm from '../../../../app/js/components/Auth/Provider/CompanyForm';
    import RepresentativeForm from '../../../../app/js/components/Auth/Provider/RepresentativeForm';
    import ShareholdersForm from '../../../../app/js/components/Auth/Provider/ShareholdersForm';


    export default {
        name: 'UsersCreateProviderPage',
        components: {
            WidgetComponent,
            BreadcrumbsComponent,
            ProviderForm,
            CompanyForm,
            RepresentativeForm,
            ShareholdersForm
        },
        data() {
            return {
                provider: {},
                company: {},
                representative: {},
                shareholders: [],
                validCount: 0,
                ready: 0
            }
        },
        watch: {
            validCount(val) {
                if (val === 4) {
                    this.sendFiles();
                }
            },
            ready(val) {
                if (val === (3 + this.shareholders.length)) {
                    this.register();
                }
            }
        },
        methods: {
            submit() {
                this.validCount = 0;
                this.$refs.provider.validate();
                this.$refs.company.validate();
                this.$refs.representative.validate();
                this.$refs.shareholders.validate();
            },
            sendFiles() {
                this.sendFile(this.provider.image).then((r) => {
                    this.provider.passport = r.data.data.id;
                    this.ready += 1;
                });
                this.sendFile(this.company.image).then((r) => {
                    this.company.certificate = r.data.data.id;
                    this.ready += 1;
                });
                this.sendFile(this.representative.image).then((r) => {
                    this.representative.passport = r.data.data.id;
                    this.ready += 1;
                });
                for (let i = 0; i < this.shareholders.length; i++) {
                    this.sendFile(this.shareholders[i].image).then((r) => {
                        this.shareholders[i].passport = r.data.data.id;
                        this.ready += 1;
                    });
                }
            },
            sendFile(file) {
                let data = new FormData;
                data.append('file', file);
                return this.$http.post(
                    route('file.store', 'image'),
                    data
                );
            },
            register() {
                let data = {
                    provider: {...this.provider},
                    company: {...this.company},
                    representative: {...this.representative},
                    shareholders: []
                };
                for (let i = 0; i < this.shareholders.length; i++) {
                    data.shareholders[i] = {...this.shareholders[i]};
                    data.shareholders[i].date_of_birth = this.$moment(data.shareholders[i].date_of_birth).format('DD/MM/YYYY');

                }
                data.provider.date_of_birth = this.$moment(data.provider.date_of_birth).format('DD/MM/YYYY');
                data.representative.date_of_birth = this.$moment(data.representative.date_of_birth).format('DD/MM/YYYY');
                this.$http.post(
                    route('register.provider'),
                    data
                ).then((r) => {
                    this.$router.push({name: 'providers.edit', params: {id: r.data.data.id}});
                });
            }
        }
    }
</script>
