<template>
    <div>
        <breadcrumbs-component :links="[
                {title: 'Users'},
                {name: 'clients', title: 'Clients'},
                {title: title}
            ]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <form @submit.prevent="updateData">
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <gender-field v-model.lazy="form.gender"/>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input
                                                        type="text"
                                                        name="first_name"
                                                        placeholder="Nom"
                                                        v-model.lazy="form.first_name"
                                                        v-validate="'required|alpha'"
                                                        :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('first_name')
                                                        }"
                                                />
                                                <div v-show="errors.has('first_name')" class="invalid-feedback">
                                                    {{ errors.first('first_name') }}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <input
                                                        type="text"
                                                        name="last_name"
                                                        placeholder="Prénom"
                                                        v-model.lazy="form.last_name"
                                                        v-validate="'required|alpha'"
                                                        :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('last_name')
                                                        }"
                                                />
                                                <div v-show="errors.has('last_name')" class="invalid-feedback">
                                                    {{ errors.first('last_name') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input
                                                        type="email"
                                                        name="email"
                                                        placeholder="Email"
                                                        v-model.lazy="form.email"
                                                        v-validate="'required|email'"
                                                        :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('email')
                                                        }"
                                                />
                                                <div v-show="errors.has('email')" class="invalid-feedback">
                                                    {{ errors.first('email') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <masked-input
                                                        id="phone"
                                                        name="phone"
                                                        placeholder="Téléphone"
                                                        mask="\+\3\3 111 11 11 11"
                                                        v-model.lazy="phoneVal"
                                                        v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                                                        @input="form.phone = arguments[1]"
                                                        :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('phone')
                                                        }"
                                                />
                                                <div v-show="errors.has('phone')" class="invalid-feedback">
                                                    {{ errors.first('phone') }}
                                                </div>
                                            </div>
                                            <div class="col">
                                                <datepicker-input
                                                        name="date_of_birth"
                                                        language="fr"
                                                        :monday-first="true"
                                                        v-model="DOBVal"
                                                        format="dd/MM/yyyy"
                                                        placeholder="Date de naissance"
                                                        :bootstrapStyling="true"
                                                        v-validate="'required|date_format:DD/MM/YYYY'"
                                                        :class="{'is-invalid': errors.has('date_of_birth')}"
                                                />
                                                <div v-show="errors.has('date_of_birth')" class="invalid-feedback">
                                                    {{ errors.first('date_of_birth') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input
                                                        type="text"
                                                        name="address"
                                                        placeholder="Adresse postale"
                                                        v-model.lazy="form.address"
                                                        v-validate="'required'"
                                                        :class="{
                                                            'form-control': true,
                                                            'is-invalid': errors.has('address')
                                                        }"
                                                />
                                                <div v-show="errors.has('address')" class="invalid-feedback">
                                                    {{ errors.first('address') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <location-field
                                                        required
                                                        name="location_id"
                                                        v-model.lazy="form.location_id"
                                                        v-validate="'required'"
                                                        :class="{'is-invalid': errors.has('location_id')}"
                                                />
                                                <div v-show="errors.has('location_id')" class="invalid-feedback">
                                                    {{ errors.first('location_id') }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <label class="switcher">
                                                    Active:
                                                    <div class="switch">
                                                        <input
                                                                type="checkbox"
                                                                v-model.lazy="form.active"
                                                        >
                                                        <span class="slider"></span>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button class="btn btn-fat btn-zinnwaldite" type="submit">
                                                Update client data
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12" style="margin-top: 30px;">
                                    <update-password-form @update="updatePassword"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <addresses-component/>
                        </div>
                    </div>
                </widget-component>
            </div>
        </div>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import DatepickerInput from 'vuejs-datepicker';
    import WidgetComponent from '../../components/WidgetComponent';
    import AddressesComponent from '../../components/AddressesComponent';
    import UpdatePasswordForm from '../../components/User/PasswordForm';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import GenderField from '../../../../app/js/components/Form/GenderField';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import LocationField from '../../../../app/js/components/Form/LocationField';

    export default {
        name: 'UsersUpdateClientPage',
        components: {
            GenderField,
            MaskedInput,
            LocationField,
            AlertComponent,
            DatepickerInput,
            WidgetComponent,
            AddressesComponent,
            UpdatePasswordForm,
            BreadcrumbsComponent
        },
        data() {
            return {
                form: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    email: '',
                    phone: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    active: true
                },
                client: null,
                passForm: {
                    password: '',
                    password_confirmation: ''
                },
                phoneVal: '',
                DOBVal: '',
            }
        },
        computed: {
            id() {
                return this.$route.params.id;
            },
            title() {
                if (this.client) {
                    return 'Update ' + this.client.first_name + ' ' + this.client.last_name
                } else {
                    return 'Update client'
                }
            },
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            }
        },
        methods: {
            updateData() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.form.date_of_birth = this.$moment(this.DOBVal).format('DD/MM/YYYY');
                        this.$http.patch(
                            route('admin.clients.update', this.id),
                            this.form
                        ).then(() => {
                            this.$refs.alert.show(
                                this.client.first_name + ' ' + this.client.last_name + '\'s profile was updated!'
                            );
                        });
                    }
                });
            },
            updatePassword(data) {
                this.$http.patch(
                    route('admin.clients.update', this.id),
                    data
                ).then(() => {
                    this.$refs.alert.show(
                        this.client.first_name + ' ' + this.client.last_name + '\'s password was updated!'
                    );
                });
            }
        },
        mounted() {
            this.$http.get(
                route('admin.clients.show', this.id)
            ).then((r) => {
                this.client = r.data.data;
                this.phoneVal = this.client.phone;
                this.form = {...this.form, ...this.client};
                this.form.location_id = this.client.location;
                this.DOBVal = this.$moment(this.client.date_of_birth, 'DD/MM/YYYY').toDate();
            });
        }
    }
</script>
