<template>
    <form @submit.prevent="update">
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="password"
                        name="password"
                        placeholder="Mot de passe"
                        v-model.lazy="form.password"
                        v-validate="'required|min:6'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('password')
                        }"
                />
                <div v-show="errors.has('password')" class="invalid-feedback">
                    {{ errors.first('password') }}
                </div>
            </div>
            <div class="col">
                <input
                        type="password"
                        name="password_confirmation"
                        placeholder="Confirmer le mot de passe"
                        v-model.lazy="form.password_confirmation"
                        v-validate="'required|min:6|confirmed:password'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('password_confirmation')
                        }"
                />
                <div v-show="errors.has('password_confirmation')"
                     class="invalid-feedback">
                    {{ errors.first('password_confirmation') }}
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-fat btn-zinnwaldite" type="submit">
                Update password
            </button>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'UserPasswordForm',
        data() {
            return {
                form: {
                    password: '',
                    password_confirmation: ''
                }
            }
        },
        methods: {
            update() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$emit('update', this.form);
                    }
                });
            }
        }
    }
</script>
