<template>
    <div class="col-lg-10">
        <div class="description">
            Vous faîtes déjà parti de la communauté des chouchoutés?
            <h2>Identifiez-vous!</h2>
        </div>
        <form @submit.prevent="submit">
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            v-model="form.email"
                            v-validate="'required|email'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email')
                            }"
                    />
                    <div v-show="errors.has('email')" class="invalid-feedback">
                        {{ errors.first('email') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="password"
                            name="password"
                            placeholder="Mot de passe"
                            data-vv-as="mot de passe"
                            v-model="form.password"
                            v-validate="'required|min:6'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('password')
                            }"
                    />
                    <div v-show="errors.has('password')" class="invalid-feedback">
                        {{ errors.first('password') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group socials nepal h2">
                <div class="col">
                    <i class="fa fa-facebook-square" @click="oauth('facebook')"></i>
                    <i class="fa fa-google-plus-square" @click="oauth('google')"></i>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input
                                id="remember"
                                name="remember"
                                type="checkbox"
                                class="custom-control-input"
                                v-model="remember"
                        >
                        <label class="custom-control-label" for="remember">Se souvenir de moi</label>
                    </div>
                </div>
            </div>
            <div class="form-row form-group text-center">
                <div class="col">
                    <button class="btn btn-fat btn-zinnwaldite" type="submit">Connexion</button>
                </div>
            </div>
            <inline-alert-component ref="alert"/>
        </form>
    </div>
</template>

<script>
    import AuthMixin from '../../mixins/auth';
    import InlineAlertComponent from '../InlineAlertComponent';

    export default {
        name: 'AuthForm',
        components: {
            InlineAlertComponent
        },
        mixins: [AuthMixin],
        props: {
            oauth: {
                type: Function
            },
        },
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                remember: false
            }
        },
        methods: {
            submit() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route('login'),
                            this.form
                        ).then((r) => {
                          console.log('r', r)
                          console.log('this.form', this.form)
                          if( r.data.token ){
                            if (this.remember) {
                              this.$cookie.set('token', r.data.token, 365);
                            } else {
                              this.$cookie.set('token', r.data.token);
                            }

                            this.authorize();
                            this.hideAuthModal();

                          }


                        }).catch((e) => {
                          console.log('e', e)
                            if (e.response.status === 422) {
                                let errors = e.response.data.errors;
                                Object.keys(errors).map((error) => {
                                    this.$refs.alert.show(errors[error][0], 'danger');
                                });
                            } else {
                                this.$refs.alert.show(
                                    'Oops! Something went wrong. Please, contact us or try again later.', 'danger'
                                );
                            }
                        });
                    }
                });
            }
        }
    }
</script>
