<template>
    <div>
        <b-nav-item @click="showAuthModal">Connexion</b-nav-item>
        <b-modal
                id="auth-modal"
                ref="AuthModal"
                size="lg"
                class="auth-modal"
                lazy
                centered
                hide-header
                hide-footer
        >
            <span
                    class="fa fa-close"
                    @click="hideAuthModal"
            ></span>
            <inline-alert-component ref="alert"/>
            <div class="row">
                <div class="col-lg-5 divided">
                    <auth-form :oauth="oauth"></auth-form>
                </div>
                <div class="col-lg-6">
                    <registration-form :data="regData"></registration-form>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
  import AuthForm from './AuthForm';
  import AuthMixin from '../../mixins/auth';
  import InlineAlertComponent from '../InlineAlertComponent';
  import RegistrationForm from './ClientRegistrationForm';

  export default {
    name: 'AuthComponent',
    components: {
      AuthForm,
      RegistrationForm,
      InlineAlertComponent,
    },
    mixins: [AuthMixin],
    data() {
      return {
        regData: {},
        fblink: '',
        glink: '',
        oauth_provider: '',
      };
    },
    methods: {
      oauth(oauth_provider) {
        let url = '';
        if (oauth_provider === 'facebook') {
          url = this.fblink;
        }
        else {
          url = this.glink;
        }
        this.oauth_provider = oauth_provider;
        let w = window.open(url, null);
        w.focus();
        window.addEventListener('message', this.unload, true);
      },
      unload(e) {
        if (e.origin !== window.location.origin) {
          return;
        }
        window.removeEventListener('message', this.unload);
        this.$http.get(
            route('oauth.callback', this.oauth_provider),
            {params: {code: e.data}},
        ).then((r) => {
            console.log(r)
          if (r.data.first_name) {
            this.$refs.alert.show('User not found. Please, fill registration form.', 'warning');
            this.regData = r.data;
          } else {
              debugger
            this.$cookie.set('token', r.data.token);
            this.authorize();
          }
        });
      },
    },
    mounted() {
      this.checkAuth();
      this.$http.get(route('oauth.urls'))
          .then((r) => {
            this.fblink = r.data.facebook;
            this.glink = r.data.google;
          });
    },
  };
</script>
