<template>
    <div>
        <div class="description">
            Vous ne vous êtes pas encore faits chouchoutés?
            <h2>Rejoignez-nous!</h2>
        </div>
        <form @submit.prevent="register" class="form-registration">
            <div class="form-row form-group">
                <div class="col">
                    <gender-field v-model="form.gender"/>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="text"
                            name="first_name"
                            placeholder="Nom"
                            data-vv-as="nom"
                            v-model="form.first_name"
                            v-validate="'required|alpha'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('first_name')
                            }"
                    />
                    <div v-show="errors.has('first_name')" class="invalid-feedback">
                        {{ errors.first('first_name') }}
                    </div>
                </div>
                <div class="col">
                    <input
                            type="text"
                            name="last_name"
                            placeholder="Prénom"
                            data-vv-as="prénom"
                            v-model="form.last_name"
                            v-validate="'required|alpha'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('last_name')
                            }"
                    />
                    <div v-show="errors.has('last_name')" class="invalid-feedback">
                        {{ errors.first('last_name') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="email"
                            name="email"
                            placeholder="Email"
                            v-model="form.email"
                            v-validate="'required|email|unique'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email')
                            }"
                    />
                    <div v-show="errors.has('email')" class="invalid-feedback">
                        {{ errors.first('email') }}
                    </div>
                </div>
                <div class="col">
                    <input
                            type="email"
                            name="email_confirmation"
                            placeholder="Confirmation d’email"
                            data-vv-as="confirmation d’email"
                            v-model="form.email_confirmation"
                            v-validate="'required|email|confirmed:email'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('email_confirmation')
                            }"
                    />
                    <div v-show="errors.has('email_confirmation')" class="invalid-feedback">
                        {{ errors.first('email_confirmation') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <masked-input
                            id="phone"
                            name="phone"
                            placeholder="Téléphone"
                            data-vv-as="téléphone"
                            mask="\+\3\3 111 11 11 11"
                            v-validate:phone="'required|digits:9|regex:^[6-7][0-9]*$'"
                            @input="form.phone = arguments[1]"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('phone')
                            }"
                    />
                    <div v-show="errors.has('phone')" class="invalid-feedback">
                        {{ errors.first('phone') }}
                    </div>
                </div>
                <div class="col">
                    <datepicker-input
                            name="date_of_birth"
                            :language="languagesForDatePicker.fr"
                            :monday-first="true"
                            v-model="form.date_of_birth"
                            format="dd/MM/yyyy"
                            placeholder="Date de naissance"
                            data-vv-as="date de naissance"
                            :bootstrapStyling="true"
                            v-validate="'required|date_format:DD/MM/YYYY'"
                            :class="{'is-invalid': errors.has('date_of_birth')}"
                    />
                    <div v-show="errors.has('date_of_birth')" class="invalid-feedback">
                        {{ errors.first('date_of_birth') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <input
                            type="text"
                            name="address"
                            placeholder="Adresse postale"
                            data-vv-as="adresse postale"
                            v-model="form.address"
                            v-validate="'required'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('address')
                            }"
                    />
                    <div v-show="errors.has('address')" class="invalid-feedback">
                        {{ errors.first('address') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <location-field
                            required
                            name="location_id"
                            data-vv-as="code postal / ville"
                            v-model="form.location_id"
                            v-validate="'required'"
                            :class="{'is-invalid': errors.has('location_id')}"
                    />
                    <div v-show="errors.has('location_id')" class="invalid-feedback">
                        {{ errors.first('location_id') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group" v-if="!form.token">
                <div class="col">
                    <input
                            type="password"
                            name="password"
                            placeholder="Mot de passe"
                            data-vv-as="mot de passe"
                            v-model="form.password"
                            v-validate="'required|min:6'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('password')
                            }"
                    />
                    <div v-show="errors.has('password')" class="invalid-feedback">
                        {{ errors.first('password') }}
                    </div>
                </div>
                <div class="col">
                    <input
                            type="password"
                            name="password_confirmation"
                            placeholder="Confirmer le mot de passe"
                            data-vv-as="confirmer le mot de passe"
                            v-model="form.password_confirmation"
                            v-validate="'required|min:6|confirmed:password'"
                            :class="{
                                'form-control': true,
                                'is-invalid': errors.has('password_confirmation')
                            }"
                    />
                    <div v-show="errors.has('password_confirmation')" class="invalid-feedback">
                        {{ errors.first('password_confirmation') }}
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input
                                id="conditions"
                                name="conditions"
                                type="checkbox"
                                v-validate="'required'"
                                :class="{
                                    'custom-control-input': true,
                                    'is-invalid': errors.has('conditions')
                                }"
                        >
                        <label class="custom-control-label" for="conditions">
                            Accepter les
                            <router-link :to="{name:'conditions'}" target="_blank">
                                conditions générales d'utilisation
                            </router-link>
                        </label>
                    </div>
                </div>
            </div>
            <inline-alert-component ref="alert"/>
            <div class="form-row form-group text-center">
                <div class="col">
                    <button class="btn btn-fat btn-zinnwaldite" type="submit">Créer un compte</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {Validator} from 'vee-validate';
    import AuthMixin from '../../mixins/auth';
    import MaskedInput from 'vue-masked-input';
    import GenderField from '../Form/GenderField';
    import DatepickerInput from 'vuejs-datepicker';
    import {en, es, fr} from 'vuejs-datepicker/dist/locale'
    import LocationField from '../Form/LocationField';
    import InlineAlertComponent from '../InlineAlertComponent';

    export default {
        name: 'ClientRegistrationForm',
        components: {
            GenderField,
            MaskedInput,
            LocationField,
            DatepickerInput,
            InlineAlertComponent,
        },
        mixins: [AuthMixin],
        props: {
            data: {
                type: Object,
            },
        },
        data() {
            return {
                languagesForDatePicker:{
                    fr:fr
                },
                form: {
                    gender: 'female',
                    first_name: '',
                    last_name: '',
                    email: '',
                    email_confirmation: '',
                    password: '',
                    password_confirmation: '',
                    phone: '',
                    date_of_birth: '',
                    address: '',
                    location_id: null,
                    conditions: false,
                },
            };
        },
        computed: {
            phone() {
                let phone = this.form.phone.toString();
                phone = phone.replace(/\D/g, '');
                Number(phone);
                return phone;
            },
        },
        watch: {
            data(data) {
                this.form.first_name = data.first_name;
                this.form.last_name = data.last_name;
                this.form.email = data.email;
                this.form.email_confirmation = data.email;
                this.form.token = data.token;
                delete this.form.password;
                delete this.form.password_confirmation;
            },
        },
        methods: {
            register() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        let data = {...this.form};
                        data.date_of_birth = this.$moment(data.date_of_birth).format('DD/MM/YYYY');
                        this.$http.post(
                            route('register.client'),
                            data,
                        ).then((r) => {
                            console.log(r)
                            if( r.data.token ){
                                this.$cookie.set('token', r.data.token);
                                this.authorize();
                                this.hideAuthModal();
                            }

                        }).catch((e) => {
                            if (e.response.status === 422) {
                                let errors = e.response.data.errors;
                                Object.keys(errors).map((error) => {
                                    this.$refs.alert.show(errors[error][0], 'danger');
                                });
                            } else {
                                this.$refs.alert.show(
                                    'Oops! Something went wrong. Please, contact us or try again later.', 'danger',
                                );
                            }
                        });
                    }
                });
            },
            checkEmail() {
                return this.$http.post(
                    route('email.exists'),
                    {email: this.form.email},
                ).then(() => {
                    return {valid: true};
                }).catch((err) => {
                    return {
                        valid: false,
                        data: {message: err.response.data.errors['email'][0]},
                    };
                });
            },
        },
        created() {
            Validator.extend('unique', {
                validate: this.checkEmail,
                getMessage: (field, params, data) => data.message,
            });
        },
    };
</script>
