<template>
    <div>
        <breadcrumbs-component
                :links="[
                    {title: 'Conditions'},
                    {title: 'Update provider conditions'}
                ]"
        />
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <conditions-form/>
                </widget-component>
            </div>
        </div>
    </div>
</template>

<script>
    import ConditionsForm from '../../components/ConditionsForm';
    import WidgetComponent from '../../components/WidgetComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';

    export default {
        name: 'ConditionsProviderPage',
        components: {BreadcrumbsComponent, WidgetComponent, ConditionsForm}
    }
</script>
