<template>
    <form @submit.prevent="submit" v-if="hours">
        <h3 class="text-center">Disponibilités</h3>
        <div class="form-row form-group form-inline">
            <div class="col">
                Lundi
                <b-form-input
                        v-model="hours.d1[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d1[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d1[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d1[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Mardi
                <b-form-input
                        v-model="hours.d2[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d2[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d2[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d2[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Mercredi
                <b-form-input
                        v-model="hours.d3[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d3[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d3[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d3[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Jeudi
                <b-form-input
                        v-model="hours.d4[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d4[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d4[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d4[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Vendredi
                <b-form-input
                        v-model="hours.d5[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d5[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d5[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d5[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Samedi
                <b-form-input
                        v-model="hours.d6[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d6[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d6[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d6[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group form-inline">
            <div class="col">
                Dimanche
                <b-form-input
                        v-model="hours.d0[0]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d0[1]"
                        type="time"
                ></b-form-input>
                et
                <b-form-input
                        v-model="hours.d0[2]"
                        type="time"
                ></b-form-input>
                -
                <b-form-input
                        v-model="hours.d0[3]"
                        type="time"
                ></b-form-input>
            </div>
        </div>
        Les forfaits sont majorés les jours fériés, les dimanches, hors horaires normaux (20h00 - 06h00)
        <div class="row">
            <div class="col">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input
                            id="unavailable"
                            name="unavailable"
                            type="checkbox"
                            v-model="unavailable"
                            class="custom-control-input"
                    >
                    <label class="custom-control-label" for="unavailable">
                        Je serais absent(e) du
                    </label>
                </div>
                <datepicker-input
                        id="from"
                        name="from"
                        language="fr"
                        :monday-first="true"
                        :clear-button="true"
                        v-model="from"
                        format="dd/MM/yyyy"
                        :bootstrapStyling="true"
                        class="form-inline d-inline-block"
                />
                au
                <datepicker-input
                        id="to"
                        name="to"
                        language="fr"
                        :monday-first="true"
                        :clear-button="true"
                        v-model="to"
                        format="dd/MM/yyyy"
                        :bootstrapStyling="true"
                        class="form-inline d-inline-block"
                />
                inclus. <br> Merci de ne pas m’envoyer d’annonce sur cette période.
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
            </div>
        </div>
        <alert-component ref="alert"/>
    </form>
</template>

<script>
    import DatepickerInput from 'vuejs-datepicker';
    import AlertComponent from '../../../../../app/js/components/AlertComponent';

    export default {
        name: 'ProviderAvailabilityForm',
        components: {
            AlertComponent,
            DatepickerInput
        },
        props: {
            value: {
                type: Object
            },
        },
        computed: {
            id() {
                return this.$route.params.id;
            }
        },
        data() {
            return {
                hours: null,
                from: null,
                to: null,
                unavailable: false
            }
        },
        methods: {
            submit() {
                let data = {
                    ...this.hours,
                    from: this.from ? this.$moment(this.from).format('DD/MM/YYYY') : null,
                    to: this.to ? this.$moment(this.to).format('DD/MM/YYYY') : null,
                    unavailable: this.unavailable
                };
                this.$http.patch(
                    route('admin.providers.update', this.id),
                    {availability: data}
                ).then(() => {
                    this.$refs.alert.show('Provider\'s availability was updated!');
                });
            }
        },
        mounted() {
            this.hours = this.value.hours;
            if (this.value.from) {
                this.from = this.$moment(this.value.from, 'DD/MM/YYYY').toDate();
            }
            if (this.value.to) {
                this.to = this.$moment(this.value.to, 'DD/MM/YYYY').toDate();
            }
            this.unavailable = this.value.unavailable;
        }
    }
</script>
