<template>
    <form @submit.prevent="submit" v-if="form">
        <div class="description text-center">
            <h3 class="zinnwaldite">Informations de l’entreprise</h3>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="name"
                        placeholder="Nom de l'entreprise"
                        v-model.lazy="form.name"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('name')
                        }"
                />
                <div v-show="errors.has('name')" class="invalid-feedback">
                    {{ errors.first('name') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input
                        type="text"
                        name="address"
                        placeholder="Adresse postale"
                        v-model.lazy="form.address"
                        v-validate="'required'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('address')
                        }"
                />
                <div v-show="errors.has('address')" class="invalid-feedback">
                    {{ errors.first('address') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <location-field
                        required
                        name="location_id"
                        v-model.lazy="form.location_id"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('location_id')}"
                />
                <div v-show="errors.has('location_id')" class="invalid-feedback">
                    {{ errors.first('location_id') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <masked-input
                        id="siren"
                        name="siren"
                        placeholder="SIREN"
                        mask="111\-111\-111"
                        v-model="sirenVal"
                        v-validate:siren="'required|digits:9'"
                        @input="form.siren = arguments[1]"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('siren')
                        }"
                />
                <div v-show="errors.has('siren')" class="invalid-feedback">{{ errors.first('siren') }}</div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <masked-input
                        id="iban"
                        name="iban"
                        placeholder="IBAN"
                        mask="\F\R 11 11111 11111 ########### 11"
                        v-model="ibanVal"
                        v-validate:iban="'required|regex:'+ibanRegex"
                        @input="iban = arguments[1]"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('iban')
                        }"
                />
                <div v-show="errors.has('iban')" class="invalid-feedback">{{ errors.first('iban') }}</div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
            </div>
        </div>
        <alert-component ref="alert"/>
    </form>
</template>

<script>
    import MaskedInput from 'vue-masked-input';
    import UploadField from '../../Form/UploadField';
    import AlertComponent from '../../../../../app/js/components/AlertComponent';
    import LocationField from '../../../../../app/js/components/Form/LocationField';

    export default {
        name: 'ProviderCompanyForm',
        components: {
            MaskedInput,
            UploadField,
            LocationField,
            AlertComponent,
        },
        props: {
            value: {
                type: Object
            }
        },
        data() {
            return {
                form: null,
                sirenVal: '',
                iban: '',
                ibanVal: '',
                ibanRegex: '[0-9]{12}[a-z0-9]{11}[0-9]{2},i'
            }
        },
        watch: {
            iban(val) {
                this.form.iban = 'FR' + val;
            }
        },
        computed: {
            id() {
                return this.$route.params.id;
            },
            siren() {
                let siren = this.form.siren.toString();
                siren = siren.replace(/\D/g, '');
                Number(siren);
                return siren;
            },
        },
        methods: {
            submit() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route('admin.providers.update', this.id),
                            {company: this.form}
                        ).then(() => {
                            this.$refs.alert.show('Provider\'s company data was updated!');
                        });
                    }
                });
            }
        },
        mounted() {
            this.form = {...this.value};
            this.form.location_id = this.value.location;
            this.sirenVal = this.value.siren;
            this.ibanVal = this.value.iban.substring(2);
        }
    }
</script>
