<template>
    <form @submit.prevent="submit">
        <div class="description text-center">
            <h3 class="zinnwaldite">Informations professionnelles</h3>
        </div>
        <div class="form-row form-group">
            <div class="col-5">
                <b-form-textarea
                        :rows="3"
                        :max-rows="3"
                        id="about"
                        name="about"
                        placeholder="(spécialisation, parcours professionnel, motivation,...)"
                        v-model.lazy="form.about"
                        v-validate="'without_links'"
                        :class="{
                            'form-control': true,
                            'is-invalid': errors.has('about')
                        }"
                >
                </b-form-textarea>
                <div v-show="errors.has('about')" class="invalid-feedback">
                    {{ errors.first('about') }}
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-6">
                <upload-field
                        name="photo"
                        v-model="form.photo"
                >
                    <span slot="label">Photo</span>
                    <span slot="helper">
                            Attestation d'assurance en JPG ou PNG et en couleur (pas de PDF, max 10 mo)
                    </span>
                </upload-field>
            </div>
        </div>
        <hr>
        <div class="form-row form-group">
            <div class="col">
                <b-form-input
                        v-model="form.website"
                        type="text"
                        placeholder="Website"
                ></b-form-input>
            </div>
            <div class="col">
                <b-form-input
                        v-model="form.facebook"
                        type="text"
                        placeholder="Facebook"
                ></b-form-input>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <b-form-input
                        v-model="form.instagram"
                        type="text"
                        placeholder="Instagram"
                ></b-form-input>
            </div>
            <div class="col">
                <b-form-input
                        v-model="form.twitter"
                        type="text"
                        placeholder="Twitter"
                ></b-form-input>
            </div>
        </div>
        <hr>
        <h3 class="text-center">Localisation</h3>
        <div class="form-row form-group">
            <div class="col">
                <b-form-input
                        name="radius"
                        :min="10" :max="100"
                        v-validate="'required|numeric|min_value:10|max_value:100'"
                        v-model.lazy="form.radius"
                        type="number"
                        placeholder="Radius"
                        :class="{'is-invalid': errors.has('radius')}"
                ></b-form-input>
                <div v-show="errors.has('radius')" class="invalid-feedback">
                    {{ errors.first('radius') }}
                </div>
            </div>
            <div class="col">
                <location-field
                        required
                        name="location_id"
                        v-model.lazy="form.location_id"
                        v-validate="'required'"
                        :class="{'is-invalid': errors.has('location_id')}"
                />
                <div v-show="errors.has('location_id')" class="invalid-feedback">
                    {{ errors.first('location_id') }}
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
            </div>
        </div>
        <alert-component ref="alert"/>
    </form>
</template>

<script>
    import {Validator} from 'vee-validate';
    import UploadField from '../../../../../app/js/components/Form/UploadField';
    import AlertComponent from '../../../../../app/js/components/AlertComponent';
    import LocationField from '../../../../../app/js/components/Form/LocationField';

    export default {
        name: 'ProviderProviderForm',
        components: {
            UploadField,
            LocationField,
            AlertComponent,
        },
        props: {
            value: {
                type: Object
            }
        },
        data() {
            return {
                form: {
                    about: '',
                    photo: null,
                    twitter: '',
                    instagram: '',
                    facebook: '',
                    website: '',
                    radius: 0,
                    location_id: null
                },
            }
        },
        computed: {
            id() {
                return this.$route.params.id;
            },
        },
        methods: {
            submit() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        if (this.form.photo instanceof File) {
                            let data = new FormData;
                            data.append('photo', this.form.photo);
                            data.append('_method', 'PATCH');
                            this.$http.post(
                                route('admin.providers.update', this.id),
                                data
                            );
                        }
                        this.$http.patch(
                            route('admin.providers.update', this.id),
                            {provider: this.form}
                        ).then(() => {
                            this.$refs.alert.show('Provider\'s professional data was updated!');
                        });
                    }
                });
            },
        },
        created() {
            Validator.extend('without_links', {
                validate: () => {
                    let regex = /(?:http|https|\.com|\.fr|\.biz|\.us|\.eu|\.info|\.org|\.net|\.re|\.wf|\.yt|\.pm|www|:\/\/|[\d\s]{5})/gi;
                    if (regex.exec(this.form.about) === null) {
                        return {valid: true};
                    } else {
                        return {
                            valid: false,
                            data: {
                                message: 'About field should not contain phone number, web address or other contacts'
                            }
                        }
                    }
                },
                getMessage: (field, params, data) => data.message
            });
        },
        mounted() {
            this.form = {...this.value};
            this.form.location_id = this.value.location;
        }
    }
</script>
