<template>
    <table class="table">
        <colgroup>
            <col width="25%">
            <col>
        </colgroup>
        <tr>
            <td>Gender</td>
            <td>{{data.gender}}</td>
        </tr>
        <tr>
            <td>First name</td>
            <td>{{data.first_name}}</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>{{data.last_name}}</td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td>{{data.date_of_birth}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{data.address}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{data.location.name}}</td>
        </tr>
        <tr>
            <td>Passport</td>
            <td>
                <a href="#" @click.prevent="$refs.passportModal.show()">
                    Show passport
                </a>
                <b-modal
                        ref="passportModal"
                        size="lg"
                        lazy
                        centered
                        hide-footer
                        title="Passport"
                >
                    <img :src="data.passport" width="100%"/>
                </b-modal>
            </td>
        </tr>
    </table>
</template>

<script>
    export default {
        name: 'ProviderRepresentativeComponent',
        props: {
            data: {
                type: Object
            },
        }
    }
</script>
