<template>
    <form @submit.prevent="submit">
        <div class="description text-center">
            <h3 class="zinnwaldite">Prestations proposées</h3>
        </div>
        <div class="row">
            <div class="col-4" v-for="category in categories">
                <h3>{{category.name}}</h3>
                <div class="form-group" v-for="service in category.services">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input
                                :id="service.id"
                                :name="service.id"
                                type="checkbox"
                                v-model="checked[service.id]"
                                class="custom-control-input"
                        >
                        <label class="custom-control-label" :for="service.id">
                            {{service.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col text-center">
                <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
            </div>
        </div>
        <alert-component ref="alert"/>
    </form>
</template>

<script>
    import AlertComponent from '../../../../../app/js/components/AlertComponent';

    export default {
        name: 'ProviderServicesForm',
        components: {
            AlertComponent,
        },
        props: {
            value: {
                type: Array
            },
        },
        data() {
            return {
                categories: [],
                checked: {}
            }
        },
        computed: {
            id() {
                return this.$route.params.id;
            }
        },
        methods: {
            submit() {
                let data = [];
                Object.keys(this.checked).map((key) => {
                    if (this.checked[key]) {
                        data.push(key);
                    }
                });
                this.$http.patch(
                    route('admin.providers.update', this.id),
                    {services: data}
                ).then(() => {
                    this.$refs.alert.show('Provider\'s services were updated!');
                });
            }
        },
        mounted() {
            this.$http.get(
                route('services.index')
            ).then((r) => {
                this.categories = r.data.data;
            });
            this.value.forEach((val) => {
                this.checked[val] = true;
            });
        }
    }
</script>
