<template>
    <div>
        <h3>
            Provider status:
            {{status.active ? 'enabled' : 'disabled'}},
            {{status.stripe ? 'confirmed' : 'not confirmed'}}
        </h3>
        <button @click="submit" class="btn btn-nepal btn-fat" :disabled="pending">
            {{status.active ? 'Disable user' : (status.stripe ? 'Enable user' : 'Activate new user')}}
        </button>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import AlertComponent from '../../../../../app/js/components/AlertComponent';

    export default {
        name: 'ProviderStatusForm',
        components: {
            AlertComponent,
        },
        props: {
            value: {
                type: Object
            }
        },
        data() {
            return {
                status: {},
                pending: false
            }
        },
        methods: {
            submit() {
                this.pending = true;
                this.$http.patch(
                    route('admin.providers.update', this.$route.params.id),
                    {active: !this.status.active}
                ).then((r) => {
                    this.$refs.alert.show(
                        'Provider\'s status was updated!'
                    );
                    this.status = r.data.data.status;
                    this.pending = false;
                });
            }
        },
        mounted() {
            this.status = this.value;
        }
    }
</script>
