<template>
    <div
            v-if="lg"
            class="col-lg-8"
    >
        <router-link :to="{name: 'news.show', params: {slug: article.slug}}">
            <div class="article lg">
                <div
                        class="image"
                        :style="{
                            'background-image': 'url(' + article.image.lg + ')',
                            'height': height
                }"
                >
                    <div class="wrapper">
                        <div class="content">
                            <div class="title">{{article.title}}</div>
                            <div class="date">{{$moment(article.created_at.date).format('D MMMM YYYY')}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </router-link>
    </div>
    <div
            v-else
            class="col-lg-4"
    >
        <div class="article">
            <router-link :to="{name: 'news.show', params: {slug: article.slug}}">
                <div
                        class="image"
                        :style="{
                            'background-image': 'url(' + article.image.sm + ')',
                            'height': height
                    }"
                ></div>
            </router-link>
            <div class="content">
                <router-link :to="{name: 'news.show', params: {slug: article.slug}}">
                    <div class="title">{{article.title}}</div>
                    <div class="date">{{$moment(article.created_at.date).format('D MMMM YYYY')}}</div>
                </router-link>
                <div class="tags" v-if="tags">
                    <router-link
                            v-for="tag in article.tags"
                            :key="tag.slug"
                            :to="{name: 'news.tag', params:{slug:tag.slug}}"
                            class="btn btn-nepal-glassy btn-sm"
                    >
                        {{tag.name}}
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NewsListItem',
        props: {
            article: {type: Object},
            lg: {
                type: Boolean,
                default: false
            },
            tags: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                height: 0
            }
        },
        methods: {
            setHeight() {
                this.height = this.$el.clientWidth / 1.5 + 'px';
            }
        },
        mounted() {
            this.setHeight();
        },
        beforeMount() {
            window.addEventListener('resize', this.setHeight);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.setHeight);
        }
    }
</script>
