<template>
    <div>
        <h4>Catégories</h4>
        <ul class="categories">
            <li v-for="category in categories" :key="category.slug">
                <router-link :to="{
                                name: 'news.category',
                                params: {slug:category.slug}
                            }">
                    {{category.name}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'NewsSidebarCategories',
        data() {
            return {
                categories: []
            }
        },
        mounted() {
            this.$http.get(route('news.category.index'))
                .then((r) => {
                    this.categories = r.data.data;
                });
        }
    }
</script>
