<template>
    <div>
        <div class="row news-list">
            <list-item
                    v-for="(article,key) in news" :key="article.slug"
                    :article="article"
                    :lg="isBig(key)"
            ></list-item>
        </div>
        <div class="text-center">
            <button
                    @click="fetchNews"
                    v-show="this.lastPage !== this.currentPage&&fetched"
                    class="btn btn-fat btn-zinnwaldite"
            >
                Voir plus d’articles
            </button>
        </div>
    </div>
</template>

<script>
    import ListItem from './NewsListItem'

    export default {
        name: 'NewsList',
        components: {ListItem},

        data() {
            return {
                news: [],
                currentPage: 0,
                lastPage: -1,
                date: '',
                fetched: false
            }
        },
        watch: {
            $route(newValue) {
                this.date = newValue.query.date;
                this.refreshNews();
            }
        },
        computed: {
            route() {
                if (this.$route.name === 'news') {
                    return route('news.index')
                } else {
                    return route(this.$route.name + '.show', this.$route.params.slug)
                }
            }
        },
        methods: {
            fetchNews() {
                if (this.lastPage !== this.currentPage) {
                    this.currentPage++;
                    this.$http.get(this.route, {
                        params: {
                            page: this.currentPage,
                            date: this.date,
                        }
                    }).then((r) => {
                        this.news = this.news.concat(r.data.data);
                        if (this.lastPage === -1) {
                            this.lastPage = r.data.meta.last_page;
                        }
                        this.fetched = true;
                    });
                }
            },
            refreshNews() {
                this.currentPage = 0;
                this.lastPage = -1;
                this.news = [];
                this.fetched = false;
                this.fetchNews();
            },
            isBig(key) {
                return key % 16 === 0 || key === 9 || (key - 9) % 16 === 0
            }
        },
        mounted() {
            this.date = this.$route.query.date;
            this.fetchNews();
        }
    }
</script>
