<template>
    <div>
        <h4>Archives</h4>
        <ul class="dates">
            <li v-for="(date,key) in dates" :key="key">
                <router-link :to="getLink(date)">
                    {{ucfirst($moment(date).format('MMMM YYYY'))}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'NewsSidebarDates',

        data() {
            return {
                dates: []
            }
        },
        methods: {
            ucfirst(str) {
                return str.ucfitst();
            },
            setDates() {
                let date = this.$moment('2018-04'),
                    now = this.$moment(),
                    dates = [];
                while (date <= now) {
                    dates.push(this.$moment(date.format('YYYY-MM')));
                    date = date.add(1, 'M');
                }
                this.dates = dates.reverse();
            },
            getLink(date) {
                let query = {query: {date: this.$moment(date).format('MM-YYYY')}};
                if (this.$route.name === 'news.show') {
                    query.name='news'
                }
                return query;
            }
        },
        mounted() {
            this.setDates();
        }
    }
</script>
