<template>
    <div>
        <category-component/>
        <date-component/>
    </div>
</template>

<script>
    import CategoryComponent from './NewsSidebarCategories';
    import DateComponent from './NewsSidebarDates';

    export default {
        name: 'NewsSidebar',
        components: {CategoryComponent, DateComponent}
    }
</script>
