<template>
    <div class="news-item">
        <div v-if="fetched">
            <div class="row text-center">
                <h2 class="mx-auto col-lg-6 zinnwaldite">{{article.title}}</h2>
            </div>
            <div class="date text-center">
                Publié le {{$moment(article.created_at.date).format('D MMMM YYYY')}}
            </div>
            <div
                    class="image"
                    :style="{
                            'background-image': 'url(' + article.image.original + ')',
                            'height': height
                    }"
            ></div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 d-none d-md-block sidebar divided">
                    <sidebar-component></sidebar-component>
                </div>
                <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12">
                    <div v-html="article.text"></div>
                    <div class="tags">
                        <router-link
                                v-for="tag in article.tags"
                                :key="tag.slug"
                                :to="{name: 'news.tag', params:{slug:tag.slug}}"
                                class="btn btn-nepal-glassy btn-sm"
                        >
                            {{tag.name}}
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SidebarComponent from './NewsSidebar';

    export default {
        name: 'NewsItem',
        components: {SidebarComponent},
        data() {
            return {
                article: {},
                fetched: false,
                height: 0
            }
        },
        methods: {
            setHeight() {
                this.height = this.$el.clientWidth / 2.5 + 'px';
            }
        },
        mounted() {
            this.$http.get(route('news.show', this.$route.params.slug))
                .then((r) => {
                    this.article = r.data.data;
                    this.fetched = true;
                });
            this.setHeight();
        },

        beforeMount() {
            window.addEventListener('resize', this.setHeight);
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.setHeight);
        }
    }
</script>
