<template>
    <div :class="{'sidebar-hidden': !showSidebar}">
        <the-navbar v-model="showSidebar"/>
        <the-sidebar/>
        <div class="content-wrap">
            <router-view/>
        </div>
    </div>
</template>

<script>
    import TheNavbar from "./components/TheNavbar";
    import TheSidebar from "./components/TheSidebar";

    export default {
        name: 'App',
        components: {TheNavbar, TheSidebar},
        data() {
            return {
                showSidebar: true
            }
        }
    }
</script>
