<template>
  <div class="reviews-slider text-center">
    <div class="title-block text-center">Vos avis</div>
    <div class="sub-title-block text-center mb-2">Ils comptent beaucoup pour nous !</div>
    <b-carousel id="carousel1"
                controls
                :indicators="false"
                :interval="12000"
                img-width="1024"
                img-height="480"
                v-model="slide"
    >

      <!-- Slides with custom text -->
      <b-carousel-slide img-blank v-for="rev of reviews" :key="rev.id">
        <div>
          <Rating :grade="rev.rating" :hasCounter="false"/>
          <div class="text my-3">{{rev.text}}</div>
          <div class="author">{{rev.author}}</div>

        </div>
      </b-carousel-slide>


    </b-carousel>


  </div>
</template>

<script>
  import Rating from '../../components/Reviews/RatingComponent'
  import bCarousel from 'bootstrap-vue/es/components/carousel/carousel';


  export default {
    name: "ReviewsSlider",
    components: {Rating, bCarousel},
    data() {
      return {
        slide: 0,


        reviews: [
          {
            id:1,
            text: `Jeune maman, je n’ai jamais le temps d’aller au salon. j’ai profité de la
            sieste du petit pour commander un chouchouteur : en 15 minutes le coiffeur était chez moi
            ! Pour couronner le tout, j’adore ma nouvelle coupe !`,
            author: 'JESSICA, Strasbourg',
            rating: 5
          },
          {
            id:2,
            text: `2Jeune maman, je n’ai jamais le temps d’aller au salon. j’ai profité de la
            sieste du petit pour commander un chouchouteur : en 15 minutes le coiffeur était chez moi
            ! Pour couronner le tout, j’adore ma nouvelle coupe !`,
            author: '2JESSICA, Strasbourg',
            rating: 4
          },
          {
            id:3,
            text: `3Jeune maman, je n’ai jamais le temps d’aller au salon. j’ai profité de la
            sieste du petit pour commander un chouchouteur : en 15 minutes le coiffeur était chez moi
            ! Pour couronner le tout, j’adore ma nouvelle coupe !`,
            author: '3JESSICA, Strasbourg',
            rating: 3
          }
        ]
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../../../sass/variables";
  .reviews-slider /deep/ {
    font-weight: 500;
    font-size: 0.96rem;
    .title-block{
      color: $nepal;
      font-size: 1.5em;
    }
    .author{
      text-align: right;
      color: $nepal;
    }
    .svg-inline--fa{
      height: 1.2em;
    }
    .carousel-caption{
      color: $black;
      text-shadow: none;

    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon{
      height: auto;
      &:after{
        display: block;
        color: $nepal;
        font-size: 45px;
        font-weight: 400;
      }
    }
    .carousel-control-prev-icon{
      &:after{
        content: '<';
      }

    }
    .carousel-control-next-icon{
      &:after{
        content: '>';
      }
    }
    .carousel-control-prev,
    .carousel-control-next{

    }
  }




</style>