.breadcrumbs {
  height: $breadcrumbs-height;
  display: flex;
  align-items: center;

  a {
    color: $breadcrumbs-gray;

    &:hover {
      color: $brand-primary;
    }

    &.disabled {
      pointer-events: none;
    }
    &:last-child::after {
      display: none;
    }

    &::after {
      padding: 0 5px;
      display: inline-block;
      content: $breadcrumbs-arrow-content;
      vertical-align: middle;
      color: $brand-primary;
      font-size: $breadcrumbs-arrow-font;
      font-family: FontAwesome;
    }
  }
}
