.navbar {
  height: 72px;

  &.bg-nepal {
    background-color: $sidebar-bg;
  }

  .navbar-brand {
    margin-left: 40px;
  }

  .menu-icon {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin-left: 8px;

    &.i-menu-expanded {
      background: url('../images/menu-expanded.svg') no-repeat center center;
    }

    &.i-menu-collapsed {
      background: url('../images/menu-collapsed.svg') no-repeat center center;
    }
  }
}
