.sidebar {
  @include media-breakpoint-down(md) {
    top: $sidebar-mobile-top;
    left: $sidebar-mobile-left;
    width: $sidebar-mobile-width;
    z-index: $sidebar-mobile-z-index;
  }

  //height: $sidebar-viewport-height;
  position: absolute;
  width: $sidebar-width;
  top: $sidebar-top;
  left: $sidebar-left;
  transition: all 0.2s ease;
  opacity: 1;
  background: $sidebar-bg;
  box-shadow: $sidebar-box-shadow;

  .sidebar-hidden & {
    @include media-breakpoint-down(md) {
      top: $sidebar-hidden-top-mobile;
      opacity: 0;
      z-index: $sidebar-mobile-z-index;
      height: $sidebar-hidden-height-mobile;
    }
    top: $sidebar-hidden-top;
    opacity: 0;
    z-index: $min-z-index;
  }

  .sidebar-menu,
  .sidebar-submenu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: block;
      padding-left: 0;

      .sidebar-link {
        position: relative;
        height: $sidebar-link-height;
        padding-left: $sidebar-link-pl;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: $white;

        &.sidebar-submenu-link {
          height: $sidebar-submenu-link-height;
          padding-left: $sidebar-submenu-link-pl;
          font-size: $font-size-smaller;
        }

        &.exact-active {
          background-color: darken($sidebar-bg, 15%);
        }

        &:hover {
          color: lighten($zinnwaldite, 8%);
        }

        .item-icon {
          font-size: $sidebar-menu-item-icon-size;
          color: $zinnwaldite;
          margin-right: 14px;
        }
      }
    }
  }
}