@import "../../app/sass/fonts";
@import "../../app/sass/variables";
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/dist/bootstrap-vue";
@import "../../app/sass/alert";
@import "../../app/sass/buttons";
@import "../../app/sass/form";
@import "form";
@import "table";
@import "navbar";
@import "sidebar";
@import "widget";
@import "breadcrumbs";
@import "client";

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  @include transition($transition-fade);
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.content-wrap {
  margin-left: $content-wrap-ml;
  padding: $content-wrap-pt $content-wrap-pr $content-wrap-pb 0;
  transition: margin-left 0.3s ease;

  .pre-loader {
    position: absolute;
    left: $vuestic-preloader-left;
    top: $vuestic-preloader-top;
  }

  .sidebar-hidden & {
    margin-left: $sidebar-left;
  }

  @include media-breakpoint-down(md) {
    padding: $content-mobile-wrap;
    margin-left: 0;

    .sidebar-hidden & {
      margin-left: 0;
    }
  }
}

.btn.del-btn {
  border-color: lightcoral !important;

  &:hover {
    color: red !important;
    border-color: red !important;
  }

  i {
    color: red;
  }
}

.nepal {
  color: $nepal;
}
body .mx-input {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8dafb8;
  border-radius: 0;
  transition: $border-color 0.15s ease-in-out, $box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

