<template>
    <span v-if="value">
        Yes
    </span>
    <span v-else class="text-danger">
        No
    </span>
</template>

<script>
    export default {
        name: 'TableBooleanComponent',
        props: {
            value: {
                type: [Number, Boolean]
            },
        },
    }
</script>
