<template>
    <div class="actions">
        <button
                class="btn btn-nepal-glassy del-btn"
                @click="xprops.showDelete(row)"
        >
            <i class="fa fa-trash"></i> Delete
        </button>
    </div>
</template>

<script>
    export default {
        name: 'TableActionsComponent',
        props: {
            row: {
                type: Object
            },
            xprops: {
                type: Object
            }
        }
    }
</script>
