<template>
    <img :src="value" style="max-width: 100%"/>
</template>

<script>
    export default {
        name: 'TableImageComponent',
        props: {
            value: {
                type: String
            },
        },
    }
</script>
