<template>
    <div>
        <div>
            {{row.question}}
        </div>
        <small>Answer: <p v-html="row.answer"></p></small>
    </div>
</template>

<script>
    export default {
        name: 'TableQuestionComponent',
        props: {
            row: {
                type: Object
            }
        }
    }
</script>
