<template>
    <div>
        <div>
            <small><strong>Created at:</strong></small>
            {{$moment(row.created_at.date).format('DD/MM/YYYY')}}
        </div>
        <div>
            <small><strong>Updated at:</strong></small>
            {{$moment(row.updated_at.date).format('DD/MM/YYYY')}}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'TableImageComponent',
        props: {
            row: {
                type: Object
            },
        }
    }
</script>