<template>
    <div>
        <router-link
                :to="{name:$route.name+'.edit',params:{id:row.id}}"
                style="display: block"
        >
            {{row.title?row.title:row.slug}}
        </router-link>
        <small>Slug: {{row.slug}}</small>
    </div>
</template>

<script>
    export default {
        name: 'LinkedTitleSlugComponent',
        props: {
            row: {
                type: Object
            },
        }
    }
</script>
