<template>
    <div>
        <div>
            {{row.title?row.title:row.name}}
        </div>
        <small v-if="row.slug">Slug: {{row.slug}}</small>
    </div>
</template>

<script>
    export default {
        name: 'TitleSlugComponent',
        props: {
            row: {
                type: Object
            },
        }
    }
</script>