.auth-modal {
  .modal-body {
    padding-top: 2rem;

    .description {
      color: $zinnwaldite;
      font-weight: bold;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  .socials i {
    cursor: pointer;
  }

  .fa-close {
    color: $zinnwaldite;
    position: absolute;
    font-size: 1.5rem;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  .auth-modal {
    .modal-lg {
      max-width: 70%;
    }
  }
}
