.breadcrumbs {
  background: none;
  a {
    border-color: $nepal;
    border-style: solid;
    border-width: 1px 0;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    border-right: 0;
    position: relative;
    border-radius: 5px 0 0 5px;
    &:first-child {
      border-left: 1px solid $nepal;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 38px;
      height: 38px;
      top: 5px;
      bottom: 0;
      right: -18px;
      border-top: 1px solid $nepal;
      border-right: 1px solid $nepal;
      background: $white;
      transform: rotate(45deg) skewX(-1deg) skewY(-1deg);
      border-radius: 5px;
      z-index: 1;
    }
    &.active {
      background: $rose-white;
      &:after {
        background: $rose-white;
      }
    }
    &.disabled {
      background: #f2f2f3;
      &:after {
        background: #f2f2f3;
      }
    }
  }
  [class*="-4"]:last-child{
  max-width: calc(33% - 22px );
  }
}
.hr-text {
  margin-top: 30px;
  margin-bottom: 0;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 2.4em;
  margin-left: -15px;
  margin-right: -15px;
  &:before {
    content: '';
    background: linear-gradient(to right, $zinnwaldite, $zinnwaldite, $zinnwaldite);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: $zinnwaldite;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: $white;
    font-weight: 500;
    font-size: 1.53em;
  }
}
