.btn {

  &.btn-fat {
    text-transform: uppercase;
    padding: 0.5em 1.5em;
    font-weight: bold;
  }
  &.btn-nepal {
    & {
      color: #fff;
      background-color: $nepal;
      border-color: $nepal;
    }
    &:hover {
      color: $nepal;
      background-color: transparent;
    }
  }

  &.btn-zinnwaldite {
    & {
      color: #fff;
      background-color: $zinnwaldite;
      border-color: $zinnwaldite;
    }
    &:hover {
      color: $zinnwaldite;
      background-color: transparent;
    }
  }

  &.btn-white {
    & {
      color: $nepal;
      background-color: $white;
      border-color: transparent;
    }
    &:hover {
      color: $white;
      background-color: $nepal;
    }
  }

  &.btn-nepal-glassy {
    & {
      color: $nepal !important;
      border-color: $nepal !important;
      background-color: transparent;
    }
    &:hover {
      color: $zinnwaldite !important;
      border-color: $zinnwaldite !important;
    }
  }

  &.btn-zinnwaldite-glassy {
    & {
      color: $zinnwaldite !important;
      border-color: $zinnwaldite !important;
      background-color: transparent;
    }
    &:hover {
      color: $nepal !important;
      border-color: $nepal !important;
    }
  }
}
