.product-item {
  border: 1px solid $nepal;
  margin-top: 25px;
  padding: 30px 35px 40px 25px;
  position: relative;
  .close {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../images/close.png");
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .top-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $nepal;
    margin-bottom: 25px;
    .data-prod {
      display: flex;
      font-size: 25px;
      font-family: Arial;
    }
    .sprite {
      width: 34px;
      height: 34px;
      background-position: center;
      background-size: contain;
      margin-bottom: -5px;
    }
    .sprite-clock-c {
      background-image: url("../images/clock.png");

    }
    .sprite-pig-c {
      background-image: url("../images/pig.png");
    }
  }
  .title-prod {
    font-size: 35px;
    color: $nepal;
    font-weight: 500;
  }
  .img-prod {
    max-width: 280px;
    img {
      width: 100%;
    }
  }
  .description-block {
    margin-top: -5px;
    .title-block {
      font-size: 20px;
      color: $watusi;
      border-bottom: 1px solid $watusi;
    }
    .description {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
  .prank-block {
    font-size: 15px;
    border: 2px solid $zinnwaldite;
    background: #fbf3ef;
    padding: 10px 20px 40px;
    min-height: 195px;
    .title-prank {
      font-size: 20px;
      color: $watusi;
      border-bottom: 1px solid $watusi;
      margin-bottom: 10px;
    }

  }

}

.learn_more {
  color: $nepal;
  font-size: 15px;
  text-decoration: underline;
}

.btn-prod-block {
  font-size: 14px;
  margin-bottom: 35px;
  font-style: italic;
  .btn {
    font-size: 17px;
    margin-bottom: 10px;
    font-style: normal;
  }
}

.total-block {
  color: $nepal;
  .title-block {
    border-bottom: 1px solid $nepal;
    a {
      text-decoration: underline;
    }
  }
  .total-prise {
    margin-bottom: 30px;
    font-family: Arial;
    & > span {
      font-size: 20px;
      font-weight: 600;
    }
    .count-price {
      font-size: 30px;
    }
  }
  .promocode-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    input {
      max-width: 125px;
      margin: 0 10px;
    }
  }
}

.discount-clock {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid $nepal;
  font-family: Arial;

  .total-with-discount {
    font-size: 20px;
    font-weight: 600;
    .count-price {
      font-size: 30px;
    }
  }
}

.information {
  .address {
    height: 100%;
    border: 1px solid #8dafb8;
    padding: 15px;
    .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label {
      &::before {
        background-color: #dee2e6;
      }
      &:after {
        background-image: none;
      }
    }
  }
  .zinnwaldite {
    text-decoration: underline;
  }
  .card-info {
    .title-block {
      margin-top: 55px;
      color: $nepal;
      font-weight: 500;
      font-size: 20px;
      border-bottom: 1px solid $nepal;
    }
  }
}

.confirmation {
  .top-block {
    .title-block {
      font-size: 24.5px;
      margin-bottom: 25px;
      margin-top: 35px;
      text-align: center;
      color: $nepal;
    }
    .text-center {
      font-size: 20.5px;
    }
  }
  .date-block {
    display: flex;
    align-items: center;
    .name-block {
      font-size: 20px;
      font-weight: 500;
      color: $watusi;
    }
  }
  .control-panel {
    border-top: 1px solid $nepal;
    padding-top: 23px;
    .present-block {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      color: $watusi;
    }
  }
  .title-address {
    font-size: 18px;
    font-weight: 600;
    color: $nepal;

  }
}

.spiner-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  border: 16px solid #e9c2b1;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.half-circle-spinner{

}*/

.mx-calendar-table {
  tbody tr td:nth-child(7) {
    background: $rose-white;
  }
}

.mx-datepicker {
  font: inherit;
}

body .mx-input {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8dafb8;
  border-radius: 0;
  transition: $border-color 0.15s ease-in-out, $box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.sum-promo{
  font-size: 0.9em;
}
.holiday{
  background: #fcf3f0;
  color: #73879c;
}
.price-info{
  display: inline-block;
  width: 22px;
  height: 35px;
  cursor: pointer;
}

.checkout {
  .control-panel{
    color: $light-black;
    border: 1px solid $nepal;
    margin-bottom: 35px;
    padding: 30px 35px 40px 25px;
    margin-top: 30px;
    .item-panel {
      display: flex;
    }
    .desc {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .moment {
      box-shadow: inset 0px 0px 0px 1px $nepal;
      &.check {
        background: $rose-white;
        box-shadow: inset 0px 0px 0px 2px $zinnwaldite;
      }
    }
    .input-moment {

    }
    .item-panel {
      padding: 17px 30px;
      cursor: pointer;
      &.check {
        box-shadow: inset 0px 0px 0px 2px $zinnwaldite;
      }
    }
    .data-time {
      box-shadow: inset 0px 0px 0px 1px $nepal;
      &.check {
        background: $rose-white;
        box-shadow: inset 0px 0px 0px 2px $zinnwaldite;
      }
    }

  }
  .datepicker-block {
    position: relative;
    .mx-datepicker {
      //position: absolute;
      .mx-input, .mx-input-icon {
        //display: none;
      }

    }
  }
  #message{
    resize: none;
  }
  .info-block-options{
    .title{
      color: $watusi;
    }
  }
}
