.conditions.content {
  .buttons {
    margin: 50px -15px;

    .col {
      a.condition-btn {
        display: block;
        color: $nepal;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        border: 1px solid $zinnwaldite;
        height: 100%;

        &.active {
          color: $zinnwaldite;
          border-color: $nepal;
        }

        &:hover {
          text-decoration: none;
        }

        img {
          display: block;
          max-width: 100%;
          margin: 10px auto;
        }
      }
    }
  }
}
