@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
@import "node_modules/font-awesome/scss/font-awesome";

$font-family-sans-serif: "Raleway", sans-serif;

.glyphicon {
  font-family: FontAwesome;

  &.glyphicon-chevron-left:before {
    content: '\f053';
  }

  &.glyphicon-chevron-right:before {
    content: '\f054';
  }
}
