footer {
  margin-top:50px;
  padding-top: 25px;
  background: $dawn-pink-tint;

  .container {
    font-weight: 600;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .links {
      h3 {
        margin: 6px 0 15px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 2;
        column-gap: 20px;

        a {
          color: $black;
          font-size: $s14;
          line-height: 1.86;
          text-decoration: underline;
        }
      }
    }

    .join {
      padding: 20px;
      background: $white;
      text-align: center;

      p {
        margin-bottom: 10px;
        font-size: $s14;
        line-height: 1.14;
      }

      .btn {
        margin: 0 auto;
        padding: 0.45em 0.73em;
        font-size: $s14;
        font-weight: bold;
        line-height: 1.14;
      }
    }

    .socials {
      h3 {
        margin: 53px 0 18px;
      }

      a {
        display: inline-block;
        width: 33px;
        height: 33px;
        margin-right: 15px;

        &:last-of-type {
          margin-right: 0;
        }

        i {
          font-size: $s32;
          color: $nepal;
        }
      }
    }
  }

  .copyright {
    background: $suva-grey;
    padding: 12px 40px;
    font-size: $s14;
    color: $white;

    a {
      text-decoration: underline;
      color: $dawn-pink;
    }
  }
}

@media screen and (max-width: 767px) {
  footer .socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  footer .join {
    margin-top: 20px;
  }
}
