form {
  .with-alert {
    height: 125px;
    margin-top: 10px;
    .form-group {
      text-align: center;
      width: 100%;
      bottom: 0;
      position: absolute;
    }
  }

  .vdp-datepicker {
    &.is-invalid {
      & ~ .invalid-feedback {
        display: block;
      }

      input {
        border-color: $danger !important;
      }
    }

    input {
      background-color: #fff !important;
    }
  }

  .departments {
    .form-control {
      border-bottom: none;
      padding-top: 0;

      div {
        & {
          padding-left: 0.375rem;
          padding-right: 0.375rem;
          margin-top: 0.375rem;
          margin-left: -0.375rem;
          margin-right: -0.375rem;
          cursor: pointer;
        }
        &.active {
          background: rgba(50, 50, 50, .1);
        }
      }
    }
  }

  .departments, .siren, .iban {
    label {
      color: $nepal;
      font-weight: bold;
    }
  }

  .v-select {
    &.is-invalid {
      & ~ .invalid-feedback {
        display: block;
      }

      .dropdown-toggle {
        border-color: $danger !important;
      }

    }

    .dropdown-toggle, .dropdown-menu {
      border-radius: 0 !important;
      border-color: $nepal !important;
    }

    .dropdown-toggle .clear {
      bottom: 8px;
    }

    input[type=search] {
      &, &:focus {
        height: 38px !important;
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
      }
    }

    .selected-tag {
      margin-top: 6px !important;
    }
  }

  .fupload {
    .fa-close {
      color: $red;
      cursor: pointer;
    }
    input {
      display: none;
    }
    .form-text {
      display: block;
    }
    &.is-invalid {
      color: $danger;
      .btn {
        background-color: $danger;
        border-color: $danger;
        &:hover {
          background-color: transparent;
          color: $danger;
        }
      }
    }
  }

  .is-invalid {
    label {
      color: $danger !important;
    }
    & ~ .invalid-feedback {
      display: block;
    }

    .dropdown-toggle, .form-control, input {
      border-color: $danger !important;
    }
  }
}
