.home {
  & > .container {
    margin-top: 100px;
  }

  .banner {
    position: relative;
    padding: 22px;
    min-height: 568px;
    background: url('../images/home-banner.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .wrapper {
      display: flex;
      margin: auto auto 60px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 420px;

      & > div {
        width: 100%;
        padding: 22px;
        margin-top: 10px;
        background-color: $white-tint-light;
        box-shadow: 2px 3px 5px rgba(3, 4, 4, 0.35);

        &.logo {
          text-align: center;
          img {
            max-width: 100%;
          }
        }

        h2 {
          margin: 0 0 15px;
          color: $light-black;
          text-transform: uppercase;
        }

        .v-select {

          .dropdown-toggle {
            height: 38px !important;
            padding-left: 1rem;

            &:before {
              content: '\f041';
              font-family: FontAwesome;
              font-size: $s26;
              color: $zinnwaldite;
              display: inline-block;
              position: absolute;
              left: 6px;
            }
          }
        }

        .form-group:last-of-type {
          margin-bottom: 0;
          text-align: left !important;
        }
      }
    }
  }

  .content {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px
  }

  .features {
    h3 {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  }
  .news.content {
    background-color: $aqua-haze;

    .article {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 15px;

      a {
        color: $body-color;

        &:hover {
          text-decoration: none;
        }
      }

      .content {
        padding: 15px;

        .title {
          font-weight: bold;
          text-transform: uppercase;
          border-bottom: 2px solid $zinnwaldite;
        }

        .date {
          font-size: $s14;
        }
      }
    }
  }

  .favorite {
    border: 2px solid $nepal;
    background-color: $mystic;
    padding: 1rem;

    .description {
      text-align: center;

      h2 {
        color: black;
      }
    }

    .person {
      font-size: $s14;
      margin-top: 1rem;

      img {
        width: 100%;
      }

      a:hover {
        text-decoration: none;
      }

      .btn {
        width: 100%;
        margin-top: 1rem;
      }

      @media (max-width: 575.98px) {
        .btn {
          font-size: 0.6rem;
        }
      }
    }

  }
}

