/*
<i class="sprite sprite-bb1"></i>
<i class="sprite sprite-bb2"></i>
<i class="sprite sprite-bb3"></i>
<i class="sprite sprite-boy2"></i>
<i class="sprite sprite-calendar"></i>
<i class="sprite sprite-clock"></i>
<i class="sprite sprite-clockcalendar"></i>
<i class="sprite sprite-comb"></i>
<i class="sprite sprite-cond_client"></i>
<i class="sprite sprite-feat-1"></i>
<i class="sprite sprite-feat-2"></i>
<i class="sprite sprite-feat-3"></i>
<i class="sprite sprite-feat-4"></i>
<i class="sprite sprite-girl"></i>
<i class="sprite sprite-girl2"></i>
<i class="sprite sprite-location"></i>
<i class="sprite sprite-lock"></i>
<i class="sprite sprite-pig"></i>
<i class="sprite sprite-present"></i>
<i class="sprite sprite-thunder"></i>
<i class="sprite sprite-time"></i>

*/


.sprite {
  background-image: url('../images/spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-bb1 {
  width: 60px;
  height: 69px;
  background-position: -5px -5px;
}

.sprite-bb2 {
  width: 90px;
  height: 82px;
  background-position: -75px -5px;
}

.sprite-bb3 {
  width: 85px;
  height: 84px;
  background-position: -175px -5px;
}

.sprite-boy2 {
  width: 67px;
  height: 70px;
  background-position: -270px -5px;
}

.sprite-calendar {
  width: 33px;
  height: 36px;
  background-position: -347px -5px;
}

.sprite-clock {
  width: 48px;
  height: 56px;
  background-position: -390px -5px;
}

.sprite-clockcalendar {
  width: 68px;
  height: 70px;
  background-position: -448px -5px;
}

.sprite-comb {
  width: 29px;
  height: 70px;
  background-position: -526px -5px;
}

.sprite-cond_client {
  width: 166px;
  height: 70px;
  background-position: -565px -5px;
}

.sprite-feat-1 {
  width: 154px;
  height: 78px;
  background-position: -741px -5px;
}

.sprite-feat-2 {
  width: 154px;
  height: 76px;
  background-position: -905px -5px;
}

.sprite-feat-3 {
  width: 146px;
  height: 72px;
  background-position: -1069px -5px;
}

.sprite-feat-4 {
  width: 147px;
  height: 73px;
  background-position: -1225px -5px;
}

.sprite-girl {
  width: 36px;
  height: 30px;
  background-position: -1382px -5px;
}

.sprite-girl2 {
  width: 62px;
  height: 70px;
  background-position: -1428px -5px;
}

.sprite-location {
  width: 33px;
  height: 33px;
  background-position: -1500px -5px;
}

.sprite-lock {
  width: 10px;
  height: 12px;
  background-position: -1543px -5px;
}

.sprite-pig {
  width: 53px;
  height: 50px;
  background-position: -1563px -5px;
}

.sprite-present {
  width: 54px;
  height: 55px;
  background-position: -1626px -5px;
}

.sprite-thunder {
  width: 57px;
  height: 69px;
  background-position: -1690px -5px;
}

.sprite-time {
  width: 31px;
  height: 30px;
  background-position: -1757px -5px;
}
