.marriage {
  section {
    padding-bottom: 30px;

    & > .container {
      margin-top: 100px;
    }
  }

  .banner {
    position: relative;
    padding: 22px;
    min-height: 568px;
    background: url('../images/marriage-banner.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: right;

    .wrapper {
      color: #000;
      font-weight: bold;
      text-align: center;

      h1 {
        color: #fff;
      }
    }
  }

  .description {
    .image-block {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        width: 356px;
        height: 322px
      }
    }
  }

  .services {
    padding-top: 50px;
    background-color: $aqua-haze;

    .container {
      margin-top: 0;

      h2 {
        margin: 25px;
      }

      .col-sm-6 {
        margin-bottom: 15px;

        .service-block {
          height: 100%;
          padding: 15px;
          text-align: center;
          border: 1px solid $nepal;
          display: flex;
          align-items: center;
          justify-content: center;

          .images {
            margin-bottom: 10px;
          }

          .price {
            color: $nepal;
            font-weight: bold;
            font-size: $h2-font-size;
          }
        }
      }
    }
  }

  .guests {
    .text-block {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .booking_marriage_block {
    padding-top: 40px;
    background: $aqua-haze;
    margin-bottom: -50px;
    padding-bottom: 75px;
    .form-control{
      background: transparent;
    }
  }
  .rev-container {
    img {
      max-width: 420px;
      margin: 0 auto;
      display: block;
      margin-bottom: 25px;
    }
  }
}