.navbar {
  left: $body-border-width;
  right: $body-border-width;
  box-shadow: 0 3px 5px rgba(3, 4, 4, 0.2);
  background-color: $white;
  z-index: 1030;

  &.shifted {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    &.hidden {
      background: transparent !important;
      box-shadow: none !important;

      .navbar-brand {
        opacity: 0 !important;
      }

      .menu-text .nav-link {
        color: #fff !important;
      }
    }
  }

  .navbar-nav {
    flex-direction: row;

    .menu-btn {
      & .nav-link {
        border: 1px solid $zinnwaldite;
        color: $zinnwaldite;
        font-size: $s13;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 13px;
        padding: 0.89em 0.7em 0.84em;
        background-color: #fff;

        &:hover {
          color: $black;
          border-color: $black;
          background-color: transparent;
        }
      }
      &.black .nav-link {
        color: $black;
        border-color: $black;
        background-color: transparent;

        &:hover {
          color: $zinnwaldite;
          border-color: $zinnwaldite;
          background-color: #fff;
        }
      }
    }

    .menu-text .nav-link {
      font-size: $s18;
      margin-right: 22px;
      color: $nepal;
    }
  }

  .navbar-toggler {
    outline: none;
    padding: 11px 10px;
    position: relative;
    z-index: 1049;
    display: block;
    width: 42px;
    height: 42px;
    border-color: $black;

    &:hover {
      border: 1px solid $zinnwaldite;
      background-color: $white;

      .icon-bar {
        background: $zinnwaldite;
      }
    }

    &.toggled {
      border: 1px solid $white;

      &:hover {
        background: transparent;
        border-color: $zinnwaldite;
      }

      .icon-bar {
        background: $white !important;

        &:nth-of-type(1) {
          top: 19px;
          left: 10px;
          transform: rotate(135deg);
        }

        &:nth-of-type(2) {
          display: none;
          left: -60px;
        }

        &:nth-of-type(3) {
          top: 19px;
          left: 10px;
          transform: rotate(-135deg);
        }
      }
    }

    .icon-bar {
      left: auto;
      right: auto;
      position: absolute;
      margin-bottom: 3px;
      display: block;
      width: 20px;
      height: 4px;
      background-color: $black;
      transform: rotate(0deg);
      transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
      opacity: 1;

      &:nth-of-type(1) {
        top: 11px;
      }

      &:nth-of-type(2) {
        top: 18px;
      }

      &:nth-of-type(3) {
        top: 25px;
      }
    }
  }
}

.menu-modal {
  .modal {
    z-index: 1048;

    .modal-content {
      border: none;
      background-color: transparent;

      .navbar-nav {
        flex-direction: column;

        .nav-item {
          color: $white;
          font-size: $s38;
          line-height: 1.47;
          list-style: none;
          text-align: center;

          .nav-link {
            display: inline-block;
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar .navbar-nav .menu-text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar .navbar-toggler {
    margin-right: 0;
  }
}

@media screen and (max-width: 575px) {
  .navbar {
    left: 0;
    right: 0;

    &.shifted {
      top: 0
    }

    .navbar-nav {
      display: none;

      &.navbar-menu {
        display: block;
      }
    }
  }
}
