.news {
  .sidebar {
    font-size: $s14;
    overflow-x: hidden;

    &.divided:after {
      right: 0;
    }

    ul {
      & {
        list-style: none;
        font-weight: 500;
        padding-left: 0;
      }

      &.categories {
        li a.active {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      &.dates {
        li a.exact-active {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      li {
        &:before {
          content: '>';
        }

        a {
          color: $body-color;
        }
      }
    }

    h4 {
      color: $nepal;
    }
  }

  .news-list {
    a {
      color: $body-color;

      &:hover {
        text-decoration: none;
      }
    }

    & > div {
      margin-bottom: 30px;
    }

    .article {
      height: 100%;
      background-color: #f2f2f2;

      .content {
        padding: 15px;

        .title {
          font-weight: bold;
          border-bottom: 2px solid $zinnwaldite;
        }

        .date {
          font-size: $s14;
        }
      }

      &.lg {
        .wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 60%;
          background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));

          .content {
            padding: 15px 30px;
            position: absolute;
            bottom: 0;
            width: 100%;

            .title {
              width: 60%;
              border-color: $black;
            }
          }
        }
      }
    }
  }

  .news-item {
    .image {
      margin-top: 45px;
      margin-bottom: 30px;
    }
  }

  h1, h2 {
    color: $zinnwaldite;
  }

  .image {
    background: center no-repeat;
    background-size: cover;
  }

  .date {
    margin-top: 5px;
  }

  .tags {
    margin-top: 15px;
    margin-left: -10px;

    a {
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
}
