.profile {
  .container {
    position: relative;

    .logout-btn {
      position: absolute;
      top: -30px;
      right: 15px;
    }

    .section-header {
      font-weight: bold;
      border-bottom: 2px solid $zinnwaldite;
      margin: 30px 0;
    }

    .appointments {
      .table {
        thead {
          th {
            border-top: none;
            border-bottom-color: $zinnwaldite;
          }
        }
      }
    }

    .address {
      height: 100%;
      border: 1px solid $nepal;
      padding: 15px;
    }

    .tabs.row {
      .col-auto {
        border-right: 2px solid $nepal;
      }

      .tab-content.col {
        padding-left: 30px;
      }
      .nav-tabs, .nav-tabs .nav-item.show {
        .nav-link {
          font-weight: bold;
          text-decoration: underline;
          color: $nepal;
          &.active, &.show.nav-link {
            border: none;
            color: $zinnwaldite;
          }
          &:hover, &:focus {
            border-color: transparent;
            text-shadow: 0 1px 0 rgba(141, 175, 184, 0.4);
          }
        }
      }
    }
  }
  .sponsor-ship-tab{
    h6{
      color: $nepal;
    }
    .imgs-block{
      display: flex;
      img{
        display: block;
        height: 60px;

      }
    }
    .accent{
      font-size: 54px;
    }
  }
}
