.questions {
  h2 {
    color: $zinnwaldite;
    margin-top: 25px;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  .question {
    border-bottom: 1px solid $nepal;
    margin-top: 15px;
    margin-bottom: 4px;
    padding-right: 25px;
    position: relative;
    cursor: pointer;

    &:after {
      content: '\f078';
      font-family: FontAwesome;
      position: absolute;
      right: 0;
    }

    &.open:after {
      content: '\f077';
    }
  }
  
  .contacts {
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .questions ul.categories {
    columns: 2;
    overflow: hidden;
    margin-left: -30px;

    li.category {
      margin-left: 30px;
      break-inside: avoid-column;
      -webkit-column-break-inside: avoid;
    }
  }
}
