.registration-form {
  .col-lg-6 {
    margin-bottom: 30px;

    .wrapper {
      width: 100%;
      height: 100%;
      padding: 15px;
      border: 1px solid $nepal;

      .description {
        position: relative;
        margin-bottom: 30px;

        &:after {
          content: ' ';
          position: absolute;
          bottom: -10px;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          width: 50px;
          border: 1px solid $zinnwaldite;
        }

        h2 {
          line-height: 1;
        }
      }

      .subtitle {
        text-transform: uppercase;
        color: $zinnwaldite;
        margin-bottom: 10px;
      }
    }

    &:last-of-type .wrapper {
      border-color: $zinnwaldite;

      .description {
        &:after {
          border-color: $nepal;
        }

        h2 {
          color: $nepal;
        }
      }
    }
  }
}
