.services {
  .container {
    h3 {
      & {
        width: 100%;
        text-align: center;
        color: $zinnwaldite;
        border-bottom: 1px solid $zinnwaldite;
        line-height: 0.1em;
        margin: 35px 0 15px;
      }

      & span {
        background: #fff;
        padding: 0 10px;
      }
    }

    .col-md {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .service {
      height: 250px;
      cursor: pointer;
      background: center no-repeat;
      background-size: cover;

      .wrapper {
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        top: 60%;
        background: linear-gradient(to top, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0));
      }

      .name {
        font-size: 1.2rem;
        text-align: center;
        padding: 15px 30px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .8s ease all;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 15px;
        left: 15px;
        bottom: 0;
        background-size: contain;
        background: $zinnwaldite !important;
        opacity: 0;
        transition: .8s ease all;
      }

      &:hover {
        &:after {
          opacity: 0.87;
        }
        .name {
          bottom: 40%;
        }
      }
    }
  }
  .service-modal {
    font-size: $s14;

    .fa-close {
      color: $zinnwaldite;
      position: absolute;
      font-size: 1.5rem;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 2;
    }
    .wrapper {
      height: 100%;
      padding-top: 30px;
      padding-bottom: 75px;

      .image {
        background: center no-repeat;
        background-size: cover;
        min-height: 200px;
        height: 100%;
      }

      .price {
        margin-top: 15px;

        .col div {
          text-align: center;
          background-color: lighten($zinnwaldite, 15%);
          height: 60px;
          padding: 5px;
          color: $nepal;
          font-weight: bold;
          font-size: $h3-font-size;

          img {
            height: 50px;
            margin-right: 10px;
          }
        }
      }
    }
    h3 {
      color: $zinnwaldite;
      margin-top: 30px;
      border-bottom: 1px solid $zinnwaldite;
    }
    .trick {
      margin-top: 30px;
      border: 1px solid $zinnwaldite;
      background-color: lighten($zinnwaldite, 16%);
      padding: 10px 10px 30px;

      h3 {
        margin-top: 0;
      }
    }
    .btn {
      width: 100%;
      margin-top: 15px;
    }
  }
}
