$body-border-width: 16px;

/*COLORS*/
$white: #fff;
$white-tint-light: rgba(255, 255, 255, 0.9);
$white-lilac: #f8f8f9;
$zinnwaldite: #e9c2b1;
$watusi: #f1cebe;
$watusi-tint: rgba(233, 194, 177, 0.2);
$zinnwaldite-tint: rgba(240, 222, 215, 0.84);
$rose-white: #fcf3f0;

$dawn-pink: #dfcac0;
$dawn-pink-tint: rgba(223, 202, 192, 0.44);
$suva-grey: #8f8d8a;
$ghost: #cecbd2;


$aqua-haze: #f3f7f8;
$mystic: #e8eff1;

$glacier: #7db1ba;
$nepal: #8dafb8;
$nepal-tint-light: rgba(80, 93, 96, 0.9);
$nepal-tint-medium: rgba(141, 175, 184, 0.2);
$nepal-tint-dark: rgba(141, 175, 184, 0.1);

$black: #000;
$light-black: #020202;

$error: #fc0909;
$success: #3bb332;

/*FONT SIZES*/
$s12: 0.750rem;
$s13: 0.813rem;
$s14: 0.875rem;
$s16: 1rem;
$s18: 1.125rem;
$s24: 1.5rem;
$s26: 1.625rem;
$s28: 1.750rem;
$s32: 2rem;
$s35: 2.188rem;
$s38: 2.375rem;
$s40: 2.500rem;
$s45: 2.813rem;

/*HEADINGS*/
$h1-font-size: $s45;
$h2-font-size: $s24;
$h3-font-size: $s18;
$h4-font-size: $s16;
$headings-font-weight: 600;

/*FORM*/
$input-border-focus: $nepal;
$input-border-color: $nepal;
$input-border-radius: 0;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$custom-control-indicator-checked-bg: $glacier;

$border-radius-lg: 0;

/*
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px
) !default;
*/

.color-nepal{
  color: $nepal !important;
}
.color-default{
  color: #040404 !important;
}

.success {
  color: $success !important;
}
.error{
  color: $error !important;
}
.border-top-nepal{
  border-top: 1px solid $nepal;
}