.workshops.content {
  h2 {
    text-transform: uppercase;
  }

  .workshop-info {
    .image {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 360px;
      background: center no-repeat;
      background-size: cover;
    }

    .price {
      font-size: 1.5rem;
      text-align: right;
      margin-bottom: 25px;

      img {
        height: 35px;
        margin-left: 15px;
        margin-right: 5px;
      }
    }
  }
  .workshop-form {
    .description {
      margin-bottom: 30px;
    }
    .image-block {
      width: 40px;
      margin-right: 10px;
    }
    .input-block {
      width: 100%;
    }
  }
}