@import "fonts";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue";
@import "alert";
@import "buttons";
@import "form";
@import "navbar";
@import "footer";
@import "auth";
@import "registration";
@import "profile";
@import "home";
@import "news";
@import "quesitons";
@import "services";
@import "workshops";
@import "marriage";
@import "contact";
@import "conditions";
@import "breadcrumbs";
@import "checkout";
@import "icons-sprite";
@import "feedback";

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  @include transition($transition-fade);
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
  border: $body-border-width solid $zinnwaldite;
  font-size: 16px;
  &.modal-open{
    padding-right: 0 !important;
  }
}

h1, h2, h3, h4 {
  color: $nepal;
}
label{
  margin-bottom: 0;
}
section.content {
  margin-top: 140px;
  min-height: calc(100vh - 471px);

  .description div {
    font-weight: 600;
    text-align: center;
    margin-bottom: 45px;
  }
}

.modal-backdrop.show {
  opacity: 1;
  background-color: rgba(80, 93, 96, 0.9)
}

.icon-medium {
  height: 90px;
  margin: 10px;
}

.icon-small {
  height: 60px;
  margin: 10px;
}

.nepal {
  color: $nepal;
}

.zinnwaldite {
  color: $zinnwaldite;
}

@media screen and (min-width: 991px) {
  .divided:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid $nepal;
    top: 0;
    right: 50px;
  }
}

@media screen and (max-width: 575px) {
  body {
    border: none;
  }
}
.content .mx-calendar-month>a.current,
.content .mx-calendar-table td.current,
.content .mx-calendar-year>a.current,
.content .mx-time-item.cur-time {
  color: #fff;
  background-color: $nepal;
}
.content{
  .mx-datepicker{
    font-family: Arial;
  }
  .mx-datepicker-btn-confirm:hover {
    color: $nepal;
    border-color: $nepal;
  }
  .datapicker-modal{
    .mx-datepicker{
      width: auto !important;
    }
    .modal-body{
      display: flex;
      justify-content: center;
    }
    .mx-input{
      display: none;
    }
    .mx-input-icon{
      display: none;
    }
    .mx-datepicker-popup{
      position: static;
      display: block !important;
      margin: auto;
    }
  }


}
.checkout  .pay-with-stripe{
  display: none;
}

.workshops {
  label.custom-control-label{
    a{
      color: $glacier;
      text-decoration: underline;
      font-style: italic;
    }
  }
}
.accent{
  font-size: 75px;
  color: $nepal;
}
.article{
  & > a{
    display: block;
    position: relative;
    overflow: hidden;
    &:before{
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $zinnwaldite-tint;
      transition: all 0.1s;
      opacity: 0;
    }
    &:after{
      display: flex;
      position: absolute;
      content: '+';
      width: 45px;
      height: 45px;
      align-items: center;
      justify-content: center;
      font-size: 45px;
      font-weight: bold;
      border-radius: 100px;
      border: 1px solid $black;
      top: 1000px;
      left: calc(50% - 22.5px);
      transition: all 0.2s;
    }
    &:hover{
      &:before{
        opacity: 1;
      }
      &:after{
        top: calc(50% - 22.5px);
      }
    }

  }
}