.feedback{
  h6{
    color: $nepal;
  }
  .contact-sidebar{
    text-align: center;
    img{
      max-width: 50%;
      margin: 0 auto;
    }
  }
  sub{
    bottom: 0;
    font-size: 85%;
  }
}
@media screen and (min-width: 991px){
  .feedback .divided:after {
    right: 40px;
  }
}

