<template>
    <v-select
            v-model="selected"
            :options="categories"
            placeholder="Category"
            label="name"
    >
        <span slot="no-options">Désolé, aucun emplacement correspondant.</span>
    </v-select>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: 'CategoryField',
        components: {vSelect},
        props: {
            value: {
                type: Object,
                default: undefined
            },
        },
        data() {
            return {
                categories: [],
                selected: undefined,
            }
        },
        watch: {
            value(val) {
                this.selected = val;
            },
            selected(val) {
                this.$emit('input', val)
            }
        },
        mounted() {
            let name = this.$route.name;
            let index = name.indexOf('.');
            if (index !== -1) {
                name = name.substring(0, index);
            }
            this.$http.get(
                route('admin.' + name + '.categories.index')
            ).then((r) => {
                this.categories = r.data.data;
                this.selected = this.value;
            })
        }
    }
</script>
