<template>
    <v-select
            taggable
            v-model="selected"
            :options="cities"
            placeholder="City"
            label="name"
    >
        <span slot="no-options">Désolé, aucun emplacement correspondant.</span>
    </v-select>
</template>

<script>
    import vSelect from 'vue-select';

    export default {
        name: 'CityField',
        components: {vSelect},
        props: {
            value: {
                type: Object,
                default: undefined
            },
        },
        data() {
            return {
                cities: [],
                selected: undefined,
            }
        },
        watch: {
            value(val) {
                this.selected = val;
            },
            selected(val) {
                this.$emit('input', val)
            }
        },
        mounted() {
            this.$http.get(
                route('admin.location.cities.index')
            ).then((r) => {
                this.cities = r.data.data;
                this.selected = this.value;
            })
        }
    }
</script>
