<template>
    <vue-editor v-model="content" :editorToolbar="toolbar"/>
</template>

<script>
    import {VueEditor} from 'vue2-editor';

    export default {
        name: 'EditorField',
        components: {VueEditor},
        props: {
            value: {
                type: String,
                default: ''
            },
        },
        watch: {
            value(val) {
                this.content = val;
            },
            content(val) {
                this.$emit('input', val);
            }
        },
        data() {
            return {
                content: '',
                toolbar: [
                    [{header: [1, 2, 3, false]}],
                    ['bold', 'italic', 'underline'],
                    [{color: [false, '#8dafb8', '#e9c2b1']}],
                    ['link'],
                    [{align: ''}, {align: 'center'}, {align: 'right'}, {align: 'justify'}],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    ['clean']
                ]
            }
        },
        mounted() {
            this.content = this.value;
        }
    }
</script>