<template>
    <div class="fupload">
        <div class="form-group" v-if="result">
            <label>
                <slot name="label">
                    Télécharger un justificatif d’identité
                </slot>
            </label>
            <div>
                <img :src="result" height="100px">
                <span class="fa fa-close" @click="clear"></span>
            </div>
        </div>
        <div class="form-group" v-else>
            <label>
                <slot name="label">
                    Télécharger un justificatif d’identité
                </slot>
            </label>
            <button
                    @click.prevent="open"
                    class="btn btn-nepal"
            >
                Parcourir...
            </button>
            <input
                    name="file"
                    type="file"
                    @change="change"
                    style="display: none"
                    ref="input"
                    v-validate="'size:10240|mimes:image/jpeg,image/png'"
            >
            <br>
            <small class="form-text text-muted">
                <slot name="helper">
                    Pièce d’identité ou Passeport en JPG ou PNG et en couleur (pas de PDF, max 10 mo)
                </slot>
            </small>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'UploadField',
        props: {
            value: {
                type: [String, File]
            },
        },
        data() {
            return {
                result: null,
            }
        },
        watch: {
            value(val) {
                if (typeof val === 'string') {
                    this.result = val;
                }
            }
        },
        methods: {
            change(e) {
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(file);
                reader.addEventListener('load', () => {
                    this.$validator.validateAll().then((valid) => {
                        if (valid) {
                            this.result = reader.result;
                            this.$emit('input', e.target.files[0]);
                        }
                    });
                });
            },
            open() {
                this.$refs.input.click();
            },
            clear() {
                this.result = null;
                this.$emit('input', null);
            }
        },
        mounted() {
            if (typeof this.value === 'string') {
                this.result = this.value;
            }
        }
    }
</script>
