<template>
    <div>
        <breadcrumbs-component :links="[{title: 'Workshops'}]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the request from {{form.name}}?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import WidgetComponent from '../components/WidgetComponent';
    import BreadcrumbsComponent from '../components/BreadcrumbsComponent';
    import AlertComponent from '../../../app/js/components/AlertComponent';
    import TimestampsComponent from '../components/Table/TimestampsComponent';
    import DeleteActionComponent from '../components/Table/DeleteActionComponent';

    export default {
        name: 'WorkshopsPage',
        components: {
            DataTable,
            AlertComponent,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'First name',
                            field: 'first_name',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Last name',
                            field: 'last_name',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Email',
                            field: 'email',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Phone',
                            field: 'phone',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Party',
                            field: 'participants',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Address',
                            field: 'address',
                        },
                        {
                            title: 'Datetime',
                            field: 'datetime',
                            thStyle: {width: '105px'}
                        },
                        {
                            title: 'Message',
                            field: 'message',
                        },
                        {
                            title: 'Timestamps',
                            tdComp: TimestampsComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Actions',
                            tdComp: DeleteActionComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                    },
                    pageSizeOptions: [15],
                    total: 0,
                    query: {limit: 15, offset: 0, order: '', sort: ''}
                },
                form: {
                    id: null,
                    name: ''
                }
            }
        },
        computed: {
            query() {
                return this.table.query;
            }
        },
        watch: {
            query: {
                handler() {
                    this.fetch();
                },
                deep: true
            }
        },
        methods: {
            fetch(offset = this.query.offset) {
                let page = offset / 15 + 1;
                this.$http.get(
                    route('admin.workshops.index'),
                    {params: {page: page}}
                ).then((r) => {
                    this.table.data = r.data.data;
                    this.table.total = r.data.data.length;
                });
            },
            showDelete(data) {
                this.form.name = data.first_name + ' ' + data.last_name + ' (' + data.email + ')';
                this.form.id = data.id;
                this.$refs.deleteModal.show();
            },
            deleteRow() {
                this.$http.delete(
                    route('admin.workshops.destroy', this.form.id)
                ).then(() => {
                    this.$refs.alert.show('The request from' + this.form.name + ' was removed');
                    this.fetch();
                });
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>
