<template>
    <div>
        <breadcrumbs-component :links="[
            {name: 'locations', title: 'Locations'},
            {title: 'Departments'}
        ]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <button
                            class="btn btn-nepal-glassy"
                            @click="showCreate"
                    >
                        <i class="fa fa-plus-circle"></i> Create
                    </button>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="createModal"
                lazy
                centered
                title="Create department"
                @ok="createRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Name"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                    <div class="col-3">
                        <input
                                type="text"
                                name="code"
                                placeholder="Code"
                                v-model.lazy="form.code"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('code')
                                }"
                        />
                        <div v-show="errors.has('code')" class="invalid-feedback">
                            {{ errors.first('code') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <label class="switcher">
                            Available:
                            <div class="switch">
                                <input
                                        type="checkbox"
                                        v-model="form.available"
                                >
                                <span class="slider"></span>
                            </div>
                        </label>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="updateModal"
                lazy
                centered
                :title="'Update '+form.name"
                @ok="updateRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="name"
                                placeholder="Name"
                                v-model.lazy="form.name"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('name')
                                }"
                        />
                        <div v-show="errors.has('name')" class="invalid-feedback">
                            {{ errors.first('name') }}
                        </div>
                    </div>
                    <div class="col-3">
                        <input
                                type="text"
                                name="code"
                                placeholder="Code"
                                v-model.lazy="form.code"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('code')
                                }"
                        />
                        <div v-show="errors.has('code')" class="invalid-feedback">
                            {{ errors.first('code') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <label class="switcher">
                            Available:
                            <div class="switch">
                                <input
                                        type="checkbox"
                                        v-model="form.available"
                                >
                                <span class="slider"></span>
                            </div>
                        </label>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the "{{form.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import WidgetComponent from '../../components/WidgetComponent';
    import BooleanComponent from '../../components/Table/BooleanComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent.vue';

    export default {
        name: 'LocationDepartmentsPage',
        components: {
            DataTable,
            AlertComponent,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Name',
                            field: 'name',
                        },
                        {
                            title: 'Code',
                            field: 'code',
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Available',
                            field: 'available',
                            tdComp: BooleanComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    Pagination: false,
                    total: 0,
                    query: {limit: 15, offset: 0, order: '', sort: ''}
                },
                form: {},
                emptyForm: {
                    id: null,
                    name: '',
                    code: '',
                    available: 0
                }
            }
        },
        computed: {
            link() {
                return 'admin.location.departments.';
            }
        },
        watch: {
            form(val) {
                this.form.active = val.available;
            }
        },
        methods: {
            fetch() {
                this.$http.get(route(this.link + 'index'))
                    .then((r) => {
                        this.table.data = r.data.data;
                    });
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...data};
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form = {...data};
                this.$refs.deleteModal.show();
            },
            createRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(
                            route(this.link + 'store'),
                            this.form
                        ).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show(this.form.name + ' department was created');
                            this.fetch();
                        });
                    }
                });
            },
            updateRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route(this.link + 'update', this.form.id),
                            this.form
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show(this.form.name + ' department was updated');
                            this.fetch();
                        });
                    }
                });
            },
            deleteRow() {
                this.$http.delete(
                    route(this.link + 'destroy', this.form.id)
                ).then(() => {
                    this.$refs.alert.show(this.form.name + ' department was removed');
                    this.fetch();
                }).catch((e) => {
                    this.$refs.alert.show(e.response.data.message, 'danger');
                });
            }
        },
        mounted() {
            this.fetch();
            this.form = {...this.emptyForm};
        }
    }
</script>
