<template>
    <div>
        <breadcrumbs-component :links="[{title: 'Locations'}]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <button
                            class="btn btn-nepal-glassy"
                            @click="showCreate"
                    >
                        <i class="fa fa-plus-circle"></i> Create
                    </button>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="createModal"
                lazy
                centered
                title="Create location"
                @ok="createRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <city-field
                                required
                                name="city"
                                v-model.lazy="form.city"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('city')}"
                        />
                        <div v-show="errors.has('city')" class="invalid-feedback">
                            {{ errors.first('city') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <postcode-field
                                required
                                name="postcode"
                                v-model.lazy="form.postcode"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('postcode')}"
                        />
                        <div v-show="errors.has('postcode')" class="invalid-feedback">
                            {{ errors.first('postcode') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <department-field
                                required
                                name="department"
                                v-model.lazy="form.department"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('department')}"
                        />
                        <div v-show="errors.has('department')" class="invalid-feedback">
                            {{ errors.first('department') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="updateModal"
                lazy
                centered
                :title="'Update '+form.name"
                @ok="updateRow"
        >
            <form @submit.prevent>
                <div class="form-row form-group">
                    <div class="col">
                        <city-field
                                required
                                name="city"
                                v-model.lazy="form.city"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('city')}"
                        />
                        <div v-show="errors.has('city')" class="invalid-feedback">
                            {{ errors.first('city') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <postcode-field
                                required
                                name="postcode"
                                v-model.lazy="form.postcode"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('postcode')}"
                        />
                        <div v-show="errors.has('postcode')" class="invalid-feedback">
                            {{ errors.first('postcode') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <department-field
                                required
                                name="department"
                                v-model.lazy="form.department"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('department')}"
                        />
                        <div v-show="errors.has('department')" class="invalid-feedback">
                            {{ errors.first('department') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the "{{form.name}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import CityField from '../../components/Form/CityField';
    import WidgetComponent from '../../components/WidgetComponent';
    import PostcodeField from '../../components/Form/PostcodeField';
    import DepartmentField from '../../components/Form/DepartmentField';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent.vue';

    export default {
        name: 'LocationsPage',
        components: {
            DataTable,
            CityField,
            PostcodeField,
            AlertComponent,
            DepartmentField,
            WidgetComponent,
            BreadcrumbsComponent,
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Name',
                            field: 'name',
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 0,
                    pageSizeOptions: [15],
                    query: {limit: 15, offset: 0, order: '', sort: ''}
                },
                form: {},
                emptyForm: {
                    id: null,
                    city: null,
                    postcode: null,
                    department: null,
                    name: '',
                },
            }
        },
        computed: {
            query() {
                return this.table.query;
            },
            link() {
                return 'admin.locations.';
            },
            data() {
                let data = {};
                if (this.form.city.id) {
                    data['city_id'] = this.form.city.id;
                } else {
                    data['city'] = this.form.city.name;
                }
                if (this.form.postcode.id) {
                    data['postcode_id'] = this.form.postcode.id;
                } else {
                    data['postcode'] = this.form.postcode.code;
                }
                data['department_id'] = this.form.department.id;
                return data;
            }
        },
        watch: {
            'form.postcode': function (val) {
                if (val && val.id) {
                    this.form.department = val.department;
                }
            },
            query: {
                handler() {
                    this.fetch();
                },
                deep: true
            }
        },
        methods: {
            fetch(limit = this.query.limit, offset = this.query.offset) {
                let page = offset / limit + 1;
                this.$http.get(route(this.link + 'index'), {
                    params: {
                        page: page,
                        limit: limit
                    }
                }).then((r) => {
                    this.table.data = r.data.data;
                    this.table.total = r.data.meta.total;
                });
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};

                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form = {...this.form, ...data};
                this.$refs.deleteModal.show();
            },
            validate(e) {
                e.preventDefault();
                this.form.validate = true;
            },
            createRow(e) {
                e.preventDefault();
                this.$http.post(
                    route(this.link + 'store'),
                    this.data
                ).then(() => {
                    this.$refs.createModal.hide();
                    this.$refs.alert.show('Location was created');
                    this.fetch();
                }).catch((err) => {
                    let errors = err.response.data.errors;
                    Object.keys(errors).map((key) => {
                        this.$refs.alert.show(key + ': ' + errors[key][0], 'danger');
                    });
                });
            },
            updateRow(e) {
                e.preventDefault();
                this.$http.patch(route(this.link + 'update', this.form.id), this.data)
                    .then(() => {
                        this.$refs.updateModal.hide();
                        this.$refs.alert.show(this.form.name + ' location was updated');
                        this.fetch();
                    });
            },
            deleteRow() {
                this.$http.delete(route(this.link + 'destroy', this.form.id))
                    .then(() => {
                        this.$refs.alert.show(this.form.name + ' location was removed');
                        this.fetch();
                    });
            }
        },
        mounted() {
            this.form = {...this.emptyForm};
            this.fetch();
        }
    }
</script>
