<template>
    <section class="banner">
        <div class="wrapper">
            <div class="logo">
                <img src="../../../images/logo.png"/>
            </div>
            <div>
                <h2>
                    Votre coiffeur <br> à un clic de chez vous!
                </h2>
                <form @submit.prevent="showServices">
                    <div class="form-row form-group">
                        <div class="col">
                            <location-field
                                    required
                                    name="location_id"
                                    v-model="form.location_id"
                                    v-validate="'required'"
                                    data-vv-as="location"
                                    :class="{'is-invalid': errors.has('location_id')}"
                            />
                            <div v-show="errors.has('location_id')" class="invalid-feedback">
                                {{ errors.first('location_id') }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-fat btn-zinnwaldite" type="submit">Me faire chouchouter!</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    import LocationField from '../Form/LocationField';

    export default {
        name: 'HomeBanner',
        components: {LocationField},
        data() {
            return {
                form: {
                    location_id: null,
                },
            }
        },
        methods: {
            showServices() {
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$router.push({
                            name: 'services',
                            query: {location: this.form.location_id}
                        });
                    }
                });
            }
        },
    }
</script>
