<template>
    <section class="news content">
        <div class="container">
            <div class="row description">
                <div class='col-lg-8 mx-auto'>
                    <h2>Les actualités des chouchoutés</h2>
                    Astuces, portraits de nos chouchouteurs préférés et dernières tendances coiffures: <br>
                    Restez informés jusqu’au bout des pointes!
                </div>
            </div>
            <div class="row news">
                <list-item
                        v-for="article in sortedNews" :key="article.slug"
                        :article="article"
                        :tags="false"
                />
            </div>
            <div class="row">
                <div class="col text-center">
                    <router-link
                            :to="{name:'news'}"
                            class="btn btn-zinnwaldite btn-fat"
                    >
                        Voir plus d’articles
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import ListItem from '../News/NewsListItem';

  export default {
    name: 'HomeNews',
    components: {ListItem},
    data() {
      return {
        news: [],
        slugs: [
          'conseils',
          'tendance',
          'le-saviez-vous',
        ],
      };
    },
    computed: {
      sortedNews() {
        return _.sortBy(this.news, article => {
          return this.$moment(article.created_at.date);
        }).reverse();
      },
    },
    mounted() {
      this.slugs.map((slug) => {
        this.$http.get(
            route('news.category.show', slug),
            {params: {first: true}})
            .then((r) => {
              this.news.push(r.data.data);
            });
      });
    },
  };
</script>
