<template>
    <section class="features content">
        <div class="container">
            <div class="row description">
                <div class='col-lg-8 mx-auto'>
                    <h2>Les chouchoutés, mais c'est qui?</h2>
                    Les chouchoutés ont sélectionnés pour vous les meilleurs coiffeurs.<br>
                    Exigent, nous mettons notre expérience dans le domaine de la coiffure à votre service.
                </div>
            </div>
            <div class="row features">
                <div class="col-lg-3 col-sm-6">
                    <div class="text-center">
                        <img src="../../../images/feat-1.png" height='75px'>
                    </div>
                    <h3>COMMENT?</h3>
                    <p>Première plateforme dédiée à la coiffure avec <strong>prise de rendez-vous immédiat.</strong></p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="text-center">
                        <img src="../../../images/feat-2.png">
                    </div>
                    <h3>OÙ?</h3>
                    <p><strong>À domicile</strong>, sur votre lieu de travail, à l’hôtel, lors de vos déplacements
                        professionnels...</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="text-center">
                        <img src="../../../images/feat-3.png">
                    </div>
                    <h3>QUOI?</h3>
                    <p>Des <strong>forfaits adaptés</strong> à toute la famille ou du <strong>sur mesure</strong> pour
                        vos grandes occasions.</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="text-center">
                        <img src="../../../images/feat-4.png">
                    </div>
                    <h3>QUAND?</h3>
                    <p>Faites-vous chouchouter <strong>24h/24 et 7j/7! Même le dimanche!</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <router-link
                            :to="{name:'services'}"
                            class="btn btn-nepal btn-fat"
                    >
                        profitez-en maintenant!
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'HomeFeatures'
    }
</script>
