<template>
    <div class="favorite">
        <div class="description">
            <h2>
                Notre chouchou du mois!
            </h2>
            Lumière sur un de nos spécialistes de la coiffure
        </div>
        <div class="person row">
            <div class="col-4">
                <img :src="article.image">
            </div>
            <div class="col-8">
                <router-link
                        :to="{
                        name: 'news.show',
                        params: {slug: article.slug}
                    }"
                >
                    <h3>{{article.title}}</h3>
                </router-link>
                {{article.text}}
                <router-link
                        :to="{
                            name:'news.category',
                            params: {slug: slug}
                        }"
                        class="btn btn-white btn-fat"
                >
                    découvrir son portrait
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'HomeFavorite',
        data() {
            return {
                slug: 'le-chouchou-du-mois',
                article: {}
            }
        },
        beforeMount() {
            this.$http.get(
                route('news.category.show', this.slug),
                {params: {first: true}})
                .then((r) => {
                    this.article = r.data.data;
                    this.article.image = this.article.image.vertical ? this.article.image.vertical : this.article.image.lg;
                    if (this.article.text.length > 200) {
                        this.article.text = this.article.text.substring(0, 200) + '...';
                    }
                });
        }
    }
</script>
