<template>
    <div>
        <breadcrumbs-component
                :links="[
                    {name: 'news', title: 'News'},
                    {title: 'Create article'}
                ]"
        />
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <form @submit.prevent="submit">
                        <div class="form-row form-group">
                            <div class="col">
                                <input
                                        type="text"
                                        name="title"
                                        placeholder="Title"
                                        v-model.lazy="form.title"
                                        v-validate="'required'"
                                        :class="{
                                'form-control': true,
                                'is-invalid': errors.has('title')
                            }"
                                />
                                <div v-show="errors.has('title')" class="invalid-feedback">
                                    {{ errors.first('title') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <category-field
                                        required
                                        name="category"
                                        v-model.lazy="form.category"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('category')}"
                                />
                                <div v-show="errors.has('category')" class="invalid-feedback">
                                    {{ errors.first('category') }}
                                </div>
                            </div>
                            <div class="col">
                                <tags-field
                                        name="tags"
                                        v-model="form.tags"
                                />
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <editor-field
                                        name="text"
                                        v-model="form.text"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('text')}"
                                />
                                <div v-show="errors.has('text')" class="invalid-feedback">
                                    {{ errors.first('text') }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row form-group" v-if="!submitted">
                            <div class="col">
                                <upload-field
                                        name="image"
                                        v-model="form.image"
                                        v-validate="'required'"
                                        :class="{'is-invalid': errors.has('image')}"
                                >
                                    <span slot="label">Image</span>
                                    <span slot="helper">JPG or PNG, max 10mb</span>
                                </upload-field>
                            </div>
                            <div class="col">
                                <upload-field
                                        name="image_v"
                                        v-model="form.image_v"
                                >
                                    <span slot="label">Vertical image</span>
                                    <span slot="helper">JPG or PNG, max 10mb</span>
                                </upload-field>
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col">
                                <label class="switcher">
                                    Published:
                                    <div class="switch">
                                        <input
                                                type="checkbox"
                                                v-model="form.published"
                                        >
                                        <span class="slider"></span>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-fat btn-zinnwaldite" type="submit">Submit</button>
                        </div>
                    </form>
                </widget-component>
            </div>
        </div>
    </div>
</template>

<script>
    import TagsField from '../../components/Form/TagsField';
    import EditorField from '../../components/Form/EditorField';
    import UploadField from '../../components/Form/UploadField';
    import CategoryField from '../../components/Form/CategoryField';
    import WidgetComponent from '../../components/WidgetComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';

    export default {
        name: 'NewsItemCreatePage',
        components: {
            TagsField,
            EditorField,
            UploadField,
            CategoryField,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                form: {
                    title: '',
                    category: undefined,
                    tags: [],
                    text: '',
                    image: null,
                    image_v: null,
                    published: false,
                },
                ready: -1,
                submitted: false
            }
        },
        watch: {
            ready(val) {
                if (val === 1) {
                    this.sendArticle();
                }
            }
        },
        methods: {
            submit() {
                this.$validator.validateAll().then((valid) => {
                    if (valid && !this.submitted) {
                        this.submitted = true;
                        this.sendImage('image');
                        if (this.form.image_v) {
                            this.sendImage('image_v');
                        } else {
                            this.ready += 1;
                        }
                    }
                });
            },
            sendImage(image) {
                let data = new FormData;
                data.append('file', this.form[image]);
                this.$http.post(
                    route('file.store', 'image'),
                    data
                ).then((r) => {
                    this.form[image] = r.data.data.id;
                    this.ready += 1;
                });

            },
            sendArticle() {
                let data = this.prepareData();
                this.$http.post(
                    route('admin.news.store'),
                    data
                ).then(() => {
                    this.$router.push({name: 'news'});
                });

            },
            prepareData() {
                let data = new FormData;
                let form = this.form;

                Object.keys(form).map((key) => {
                    switch (key) {
                        case 'category':
                            data.append('category_id', form.category.id);
                            break;
                        case 'tags':
                            form.tags.map((tag) => {
                                data.append('tags[]', tag.id);
                            });
                            break;
                        case 'image_v':
                            if (form[key]) {
                                data.append(key, form[key]);
                            }
                            break;
                        case 'published':
                            data.append(key, form[key] ? '1' : '0');
                            break;
                        default:
                            data.append(key, form[key]);
                    }
                });

                return data;
            }
        }
    }
</script>
