<template>
    <div>
        <breadcrumbs-component :links="[{title: 'News'}]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <div>
                        <router-link
                                :to="{name: 'news.create'}"
                                class="btn btn-nepal-glassy"
                        >
                            <i class="fa fa-plus-circle"></i> Create
                        </router-link>
                    </div>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the "{{article.title}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import WidgetComponent from '../../components/WidgetComponent';
    import ImageComponent from '../../components/Table/ImageComponent';
    import BooleanComponent from '../../components/Table/BooleanComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';
    import TimestampsComponent from '../../components/Table/TimestampsComponent';
    import TitleSlugLinkedComponent from '../../components/Table/TitleSlugLinkedComponent';

    export default {
        name: 'NewsListPage',
        components: {
            DataTable,
            AlertComponent,
            WidgetComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },
                        {
                            title: 'Image',
                            field: 'image',
                            tdComp: ImageComponent,
                            thStyle: {width: '100px'}
                        },
                        {
                            title: 'Title',
                            tdComp: TitleSlugLinkedComponent,
                        },
                        {
                            title: 'Published',
                            field: 'published',
                            tdComp: BooleanComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Timestamps',
                            tdComp: TimestampsComponent,
                            thStyle: {width: '1%'}
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    total: 0,
                    pageSizeOptions: [10, 20, 30, 50],
                    query: {limit: 10, offset: 0, order: '', sort: ''}
                },
                article: {}
            }
        },
        computed: {
            query() {
                return this.table.query;
            }
        },
        watch: {
            query: {
                handler() {
                    this.fetch();
                },
                deep: true
            }
        },
        methods: {
            fetch(limit = this.query.limit, offset = this.query.offset) {
                let page = offset / limit + 1;
                this.$http.get(route('admin.news.index'), {
                    params: {
                        page: page,
                        limit: limit
                    }
                }).then((r) => {
                    this.table.data = r.data.data;
                    this.table.data.map((val) => {
                        val.image = val.image.sm;
                    });
                    this.table.total = r.data.meta.total;
                });
            },
            showEdit(data) {
                this.$router.push({name: 'news.edit', params: {id: data.id}});
            },
            showDelete(data) {
                this.article = {...data};
                this.$refs.deleteModal.show();
            },
            deleteRow() {
                this.$http.delete(route('admin.news.destroy', this.article.id))
                    .then((r) => {
                        this.$refs.alert.show('The article"' + this.article.title + '" was removed');
                        this.fetch();
                    });
            }
        },
        mounted() {
            this.fetch();
        }
    }
</script>
