<template>
    <div>
        <breadcrumbs-component :links="[{title: 'Questions'}]"/>
        <div class="row">
            <div class="col-md-12">
                <widget-component class="no-padding">
                    <div>
                        <button
                                class="btn btn-nepal-glassy"
                                @click="showCreate"
                        >
                            <i class="fa fa-plus-circle"></i> Create
                        </button>
                    </div>
                    <data-table v-bind="table"/>
                </widget-component>
            </div>
        </div>
        <b-modal
                ref="createModal"
                lazy
                centered
                :title="'Create question'"
                @ok="createRow"
        >
            <form>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="question"
                                placeholder="Question"
                                v-model.lazy="form.question"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('question')
                                }"
                        />
                        <div v-show="errors.has('question')" class="invalid-feedback">
                            {{ errors.first('question') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <category-field
                                required
                                name="category"
                                v-model.lazy="form.category"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('category')}"
                        />
                        <div v-show="errors.has('category')" class="invalid-feedback">
                            {{ errors.first('category') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <editor-field
                                name="answer"
                                v-model="form.answer"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('answer')}"
                        />
                        <div v-show="errors.has('answer')" class="invalid-feedback">
                            {{ errors.first('answer') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="updateModal"
                lazy
                centered
                :title="'Update '+form.name"
                @ok="updateRow"
        >
            <form>
                <div class="form-row form-group">
                    <div class="col">
                        <input
                                type="text"
                                name="question"
                                placeholder="Question"
                                v-model.lazy="form.question"
                                v-validate="'required'"
                                :class="{
                                    'form-control': true,
                                    'is-invalid': errors.has('question')
                                }"
                        />
                        <div v-show="errors.has('question')" class="invalid-feedback">
                            {{ errors.first('question') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <category-field
                                required
                                name="category"
                                v-model.lazy="form.category"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('category')}"
                        />
                        <div v-show="errors.has('category')" class="invalid-feedback">
                            {{ errors.first('category') }}
                        </div>
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        <editor-field
                                name="answer"
                                v-model="form.answer"
                                v-validate="'required'"
                                :class="{'is-invalid': errors.has('answer')}"
                        />
                        <div v-show="errors.has('answer')" class="invalid-feedback">
                            {{ errors.first('answer') }}
                        </div>
                    </div>
                </div>
            </form>
        </b-modal>
        <b-modal
                ref="deleteModal"
                lazy
                centered
                hide-header
                @ok="deleteRow"
        >
            Are you sure you want to delete the "{{form.question}}"?
        </b-modal>
        <alert-component ref="alert"/>
    </div>
</template>

<script>
    import DataTable from 'vue2-datatable-component';
    import EditorField from '../../components/Form/EditorField';
    import WidgetComponent from '../../components/WidgetComponent';
    import CategoryField from '../../components/Form/CategoryField';
    import BreadcrumbsComponent from '../../components/BreadcrumbsComponent';
    import ActionsComponent from '../../components/Table/ActionsComponent';
    import QuestionComponent from '../../components/Table/QuestionComponent';
    import AlertComponent from '../../../../app/js/components/AlertComponent';

    export default {
        name: 'NewsListPage',
        components: {
            DataTable,
            EditorField,
            CategoryField,
            AlertComponent,
            WidgetComponent,
            ActionsComponent,
            QuestionComponent,
            BreadcrumbsComponent
        },
        data() {
            return {
                table: {
                    HeaderSettings: false,
                    columns: [
                        {
                            title: 'ID',
                            field: 'id',
                            thStyle: {'width': '1%', 'min-width': '55px'}
                        },

                        {
                            title: 'Question',
                            tdComp: QuestionComponent,
                        },
                        {
                            title: 'Actions',
                            tdComp: ActionsComponent,
                            thStyle: {width: '1%'}
                        }
                    ],
                    data: [],
                    xprops: {
                        showDelete: this.showDelete,
                        showEdit: this.showEdit
                    },
                    Pagination: false,
                    total: 0,
                    query: {limit: 10, offset: 0}
                },
                question: {},
                form: {},
                emptyForm: {
                    id: null,
                    question: '',
                    category: null,
                    answer: ''
                }
            }
        },
        methods: {
            fetch() {
                this.$http.get(route('admin.questions.index'))
                    .then((r) => {
                        this.table.data = r.data.data;
                        this.table.total = r.data.data.length;
                    });
            },
            showCreate() {
                this.form = {...this.emptyForm};
                this.$refs.createModal.show();
            },
            showEdit(data) {
                this.form = {...this.form, ...data};
                this.$refs.updateModal.show();
            },
            showDelete(data) {
                this.form.id = data.id;
                this.form.question = data.question;
                this.$refs.deleteModal.show();
            },
            createRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.post(route('admin.questions.store'), {
                            question: this.form.question,
                            category_id: this.form.category.id,
                            answer: this.form.answer,
                        }).then(() => {
                            this.$refs.createModal.hide();
                            this.$refs.alert.show(this.form.question + ' was created');
                            this.fetch();
                        });
                    }
                });
            },
            updateRow(e) {
                e.preventDefault();
                this.$validator.validateAll().then((valid) => {
                    if (valid) {
                        this.$http.patch(
                            route('admin.questions.update', this.form.id),
                            {
                                question: this.form.question,
                                category_id: this.form.category.id,
                                answer: this.form.answer,
                            }
                        ).then(() => {
                            this.$refs.updateModal.hide();
                            this.$refs.alert.show(this.form.question + '  was updated');
                            this.fetch();
                        });
                    }
                });
            },
            deleteRow() {
                this.$http.delete(route('admin.questions.destroy', this.form.id))
                    .then(() => {
                        this.fetch();
                        this.$refs.alert.show(this.form.question + '  was deleted');
                    })
            }
        },
        mounted() {
            this.fetch();
            this.form = {...this.emptyForm};
        }
    }
</script>
